<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>WeiXinPay_JSAPI</PluginId>
  <DisplayName>微信支付(JSAPI)</DisplayName>
  <ClassFullName>Himall.Plugin.Payment.WeiXinPay_JSAPI.Service,Himall.Plugin.Payment.WeiXinPay_JSAPI</ClassFullName>
  <Description>微信内支付</Description>
  <Type>1</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <MinHimallVersion>1.1.0</MinHimallVersion>
  <MaxHimallVersion></MaxHimallVersion>
  <Enable>0</Enable>
</PluginInfo>