<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <AppId></AppId>
  <AppSecret></AppSecret>
  <MCHID></MCHID>
  <Key></Key>
  <Logo>wx_logo.png</Logo>
  <GateWay><![CDATA[https://api.mch.weixin.qq.com/pay/unifiedorder]]></GateWay>
  <SupportPlatfoms>
    <PlatformType>WeiXin</PlatformType>
  </SupportPlatfoms>
</Config>