@{Layout = "/Areas/Mobile/Templates/Default/Views/Shared/_Base.cshtml";}<div class="container">@{Html.RenderPartial("~/Areas/Mobile/Templates/Default/Views/Shared/_SearchBox.cshtml");}<link rel="stylesheet" href="/Content/PublicMob/css/style.css" /><link rel="stylesheet" href="/Areas/Admin/templates/common/style/css.css" rev="stylesheet" type="text/css"><link rel="stylesheet" href="/Areas/Admin/templates/common/style/mycss.css" rev="stylesheet" type="text/css"><link rel="stylesheet" href="/Areas/Admin/templates/common/style/main.css" rev="stylesheet" type="text/css"><link rel="stylesheet" href="/Areas/Admin/templates/common/style/head.css">
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                        
                            <li>
                                <a href="/default.aspx" title="白金早礼">
                                    
                                    
                                    <img src="http://localhost:5955/Storage/template/0/20151203/6358473714070007042703738.jpg" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="/default.aspx" title="白金早礼">
                                    
                                    
                                    <img src="/Templates/vshop/t4/images/3@2x.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="/default.aspx" title="白金早礼">
                                    
                                    
                                    <img src="/Templates/vshop/t4/images/3@2x.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                    
                </ul>
                <section class="members_flash_time">
                    
                    
                    <span class="cur" ></span>
                    
                    <span  ></span>
                    
                    <span  ></span>
                    
                    
                </section>
            </section>
            
        </div>
      <script src="www.apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
                  <script type="text/javascript">
                    $(function () {
                        $('html').css({
                            'height':'100%',
                            'width':'100%'
                        })
                        $('body').css({
                            'height':'100%',
                            'width':'100%',
                            'background':'url(undefined) no-repeat',
                            'backgroundSize':'cover'
                        })
                    })
                </script>
        <div class="members_con">
            
            <section class="members_goodspic">
                <ul>
                    
                    <li class="mingoods">
                        <div class="b_mingoods_wrapper">
                            <a href=""><img src="/Content/Public/images/diy/goodsView1.jpg" ></a>
                            <span class="replace">&yen;78.00<span class="original_price"><s>&yen;99.00</s></span></span>
                        </div>
                    </li>
                    <li class="mingoods">
                        <div class="b_mingoods_wrapper">
                            <a href=""><img src="/Content/Public/images/diy/goodsView2.jpg" ></a>
                            <span class="replace"> &yen;78.00<span class="original_price"><s>&yen;99.00</s></span></span>
                        </div>
                    </li>
                    <li class="mingoods">
                        <div class="b_mingoods_wrapper">
                            <a href=""><img src="/Content/Public/images/diy/goodsView3.jpg" ></a>
                            <span class="replace"> &yen;78.00<span class="original_price"><s>&yen;99.00</s></span></span>
                        </div>
                    </li>
                    <li class="mingoods">
                        <div class="b_mingoods_wrapper">
                            <a href=""><img src="/Content/Public/images/diy/goodsView4.jpg" ></a>
                            <span class="replace"> &yen;78.00<span class="original_price"><s>&yen;99.00</s></span></span>
                        </div>
                    </li>
                    
                </ul>
            </section>
            
        </div>
    @{Html.RenderAction("GoodsListAction", "TemplateVisualizationProcess",new { Layout="1", ShowName="True", ShowIco="True", ShowPrice="True", DataUrl="/api/Hi_Ajax_GoodsListGroup", TemplateFile="/Content/Modules/GoodGroup1.cshtml", GoodListSize="6", FirstPriority="2", SecondPriority="3", ID="goods_33491175624344f69644943b9d6aa865"});}
        <div class="members_con">
            <section class="members_nav1">
                <ul class="pic-nav">
                    
                    
                     
                    <li class="lisw4">
                        <span><a href="#"><img class="img-responsive" src="/Content/Public/images/diy/waitupload.png"></a></span>
                        <a class="members_nav1_name" href="#">导航名称</a>
                    </li>
                    
                    
                     
                    <li class="lisw4">
                        <span><a href="#"><img class="img-responsive" src="/Content/Public/images/diy/waitupload.png"></a></span>
                        <a class="members_nav1_name" href="#">导航名称</a>
                    </li>
                    
                    
                     
                    <li class="lisw4">
                        <span><a href="#"><img class="img-responsive" src="/Content/Public/images/diy/waitupload.png"></a></span>
                        <a class="members_nav1_name" href="#">导航名称</a>
                    </li>
                    
                    
                     
                    <li class="lisw4">
                        <span><a href="#"><img class="img-responsive" src="/Content/Public/images/diy/waitupload.png"></a></span>
                        <a class="members_nav1_name" href="#">导航名称</a>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con">
            <section class="members_nav1">
                <ul class="clearfix">
                    
                    
                    
                    <li class="board3 big_board 
                    ">
                        <span>
                            <a href="#">
                                
                                <img src="/Content/Public/images/diy/waitupload.png">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3  
                    small_board">
                        <span>
                            <a href="#">
                                
                                <img src="/Content/Public/images/diy/waitupload.png">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3  
                    small_board">
                        <span>
                            <a href="#">
                                
                                <img src="/Content/Public/images/diy/waitupload.png">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    @{Html.RenderPartial("~/Areas/Mobile/Templates/Default/Views/Shared/_4ButtonsFoot.cshtml");}</div><a class="WX-backtop"></a><script src="~/Areas/Mobile/Templates/Default/Scripts/home.js"></script>