@{Layout = "/Areas/Mobile/Templates/Default/Views/Shared/_Base.cshtml";}
@{
    long curshopid = (long)ViewBag.ShopId, curvshopid = (long)ViewBag.VshopId;
}
<div class="container">
    @(Html.Action("VShopHeader", "vshop", new { id = curvshopid }))
    <link rel="stylesheet" href="/Content/PublicMob/css/style.css" />
    <link rel="stylesheet" href="/Areas/Admin/templates/common/style/css.css" rev="stylesheet" type="text/css">
    <link rel="stylesheet" href="/Areas/Admin/templates/common/style/mycss.css" rev="stylesheet" type="text/css">
    <link rel="stylesheet" href="/Areas/Admin/templates/common/style/main.css" rev="stylesheet" type="text/css">
    <link rel="stylesheet" href="/Areas/Admin/templates/common/style/head.css">
    <div class="members_con" style="margin:0 auto">

        <section class="members_flash j-swipe" id="mySwipe">
            <ul class="clearfix">


                <li>
                    <a href="" title="">


                        <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629498803125009395218.jpg" width="100%" />


                    </a>
                </li>

                <li>
                    <a href="" title="">


                        <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629498838867191053236.jpg" width="100%" />


                    </a>
                </li>

                <li>
                    <a href="" title="">


                        <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629498866699228266855.jpg" width="100%" />


                    </a>
                </li>


            </ul>
            <section class="members_flash_time">


                <span class="cur"></span>

                <span></span>

                <span></span>


            </section>
        </section>

    </div>

    <div class="members_con">
        <section class="members_nav1">
            <ul class="pic-nav">



                <li class="lisw3">
                    <span><a href="#"><img class="img-responsive" src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358631129046679693043007.jpg"></a></span>
                    <a class="members_nav1_name" href="#"></a>
                </li>



                <li class="lisw3">
                    <span><a href="#"><img class="img-responsive" src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358631128847851567616597.jpg"></a></span>
                    <a class="members_nav1_name" href="#"></a>
                </li>



                <li class="lisw3">
                    <span><a href="#"><img class="img-responsive" src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358631128625683605260647.jpg"></a></span>
                    <a class="members_nav1_name" href="#"></a>
                </li>



            </ul>
        </section>
    </div>

    <div class="members_con">
        <section class="members_nav1">
            <ul class="clearfix">



                <li class="board3 big_board
                    ">
                    <span>
                        <a href="#">

                            <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629503927148444543970.jpg">

                        </a>
                    </span>
                </li>



                <li class="board3
                    small_board">
                    <span>
                        <a href="#">

                            <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629504190234386369435.jpg">

                        </a>
                    </span>
                </li>



                <li class="board3
                    small_board">
                    <span>
                        <a href="#">

                            <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629503951562501000927.jpg">

                        </a>
                    </span>
                </li>



            </ul>
        </section>
    </div>

    <div class="members_con" style="margin:0 auto">

        <section class="members_imgad">
            <ul class="clearfix">


                <li style="margin-bottom:10px">
                    <a href="" title="">


                        <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629506651855475352275.jpg" width="100%" />


                    </a>
                </li>

                <li style="margin-bottom:10px">
                    <a href="" title="">


                        <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629507825585946600005.jpg" width="100%" />


                    </a>
                </li>

                <li style="margin-bottom:10px">
                    <a href="" title="">


                        <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629507058789069406156.jpg" width="100%" />


                    </a>
                </li>

                <li style="margin-bottom:10px">
                    <a href="" title="">


                        <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629507844628917071054.jpg" width="100%" />


                    </a>
                </li>


            </ul>
        </section>

    </div>

    <div class="members_con" style="margin:0 auto">

        <section class="members_imgad">
            <ul class="clearfix">


                <li style="margin-bottom:10px">
                    <a href="" title="">


                        <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629507067675787148727.jpg" width="100%" />


                    </a>
                </li>

                <li style="margin-bottom:10px">
                    <a href="" title="">


                        <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629507869531253528011.jpg" width="100%" />


                    </a>
                </li>

                <li style="margin-bottom:10px">
                    <a href="" title="">


                        <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629507076757818120542.jpg" width="100%" />


                    </a>
                </li>

                <li style="margin-bottom:10px">
                    <a href="" title="">


                        <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629507883105476256489.jpg" width="100%" />


                    </a>
                </li>

                <li style="margin-bottom:10px">
                    <a href="" title="">


                        <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629507085546889092358.jpg" width="100%" />


                    </a>
                </li>

                <li style="margin-bottom:10px">
                    <a href="" title="">


                        <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629507905566414186029.jpg" width="100%" />


                    </a>
                </li>


            </ul>
        </section>

    </div>
    @{Html.RenderPartial("~/Areas/Mobile/Templates/Default/Views/Shared/_4ButtonsFoot_shop.cshtml");}
</div>
<a class="WX-backtop"></a>
<script src="~/Areas/Mobile/Templates/Default/Scripts/home.js"></script>
<script src="~/Scripts/swipe-template.js"></script>

