
@{
    ViewBag.Title = "关于HiShop";
}

<div class="container">
    <div class="article">
        <img src="http://www.hishop.com.cn/hishop/images/about/gywm_03.jpg">
        <p>长沙海商网络技术有限公司成立于2002年，是国内电商软件及服务提供的领导品牌。长期专注于为传统企业及平台网商提供电子商务软件的研发及相关增值服务产品的提供，是国内最早且持续最久的电子商务解决方案服务提供商。公司现有员工近115人，共设八个部门，主要职能部门有：总经办、财务部、设计部、业务部、行政部、项目部、研发部、客户部。</p>
        <p>秉承"让电商，更简单！"的电商服务使命，长沙海商网络技术有限公司在优化自身产品与服务的同时，Hishop不断加强与"淘宝、支付宝、财付通、阿里云、万网、一淘、中国移动、Dell、Intel等众多业内知名电商建立了战略合作关系。历经十年的积极进取与自主创新，长沙海商网络技术有限公司已成为众多知名电商企业的首选品牌，客户遍及23个行业，拥有超过600,000的用户量；每天经受超过200,000用户的密集操作考验；全国市场占有率达60%；持续领跑中国电子商务软件及服务行业。</p>
        <p>作为中国电子商务软件及服务的行业领跑者，长沙海商网络技术有限公司凭借优质的服务、创新进取的精神、专业的团队倍受消费者青睐。从企业创立至今，屡获殊荣：电子商务百强企业；高新技术企业认定；" 双软认证"软件企业；"双软认证"软件产品；最佳电子商务服务商明星企业；最佳B2C 解决方案提供商；长沙电子商务协会理事单位等，铸就行业标杆。</p>
    </div>



</div>

