
@{
    ViewBag.Title = "版权声明";
}

<div class="container">
    <div class="article">
        <p>本网站上刊载的署名为"Hishop"的所有内容，包括但不限于文字、图片、声音、录像、图表、标志、标识、广告、商标、商号、域名、软件、程序、版面设计、专栏目录与名称、内容分类标准以及所有信息，</p>
        <p>均受《中华人民共和国著作权法》、《中华人民共和国商标法》、《中华人民共和国专利法》及适用之国际公约中有关著作权、商标权、专利权或其它财产所有权法律的保护，为本公司专属所有或持有。 </p>
        <p>他人将本网提供的内容与服务用于商业、盈利、广告性目的时，需征得本公司的许可，注明作者及文章出处，并依法向权利人支付报酬。 本网未注明"稿件来源："Hishop"的文/图等稿件均为转载稿，本网转载出于传递更多信息之目的，</p>
        <p>并不意味着赞同其观点或证实其内容的真实性。如其他媒体、网站或个人从本网下载使用，必须保留本网注明的"稿件来源"，并自负版权等法律责任。如擅自篡改为"稿件来源："Hishop"，本网将依法追究责任。如对稿件内容有疑议，请及时与我们联系。 </p>
    </div>




</div>

