@{
    ViewBag.Title = "退款/售后";
}
<script src="~/Areas/Mobile/Templates/Default/Scripts/RefundList.js"></script>
<div class="container refund-list">
    <ul class="order-list refund-list" id="productList">

    </ul>

    <div class="reback-dialog">
          <span class="glyphicon glyphicon-remove"></span>
          <label><span>快递公司：</span><input type="text" id="expressCompanyName"> </label>
          <label><span>快递单号：</span><input type="text" id="shipOrderNumber"> </label>
          <p class="reback-submit" id="btnOK">确认</p>
    </div>
    <div class="coverage"></div>
</div>

<script>

</script>