@{
    ViewBag.Title = "微信跳转提示";
}
<html>
<head>
<style>
html,body{ height:100%;}
.app-bg{ background:url(/Areas/mobile/templates/default/Images/app-bg.png) no-repeat;background-size:cover; text-align:center; height:100%; width:100%;}
.app-c{ background:url(/Areas/mobile/templates/default/Images/app-c.png) no-repeat;background-size:cover; margin-top:10px; display:inline-block; height:87.8%; width:81.25%; }
</style>

</head>
<body>
	<div class="app-bg">
		<div class="app-c"></div>
	</div>
</body>
</html>