<?xml version="1.0" encoding="utf-8" ?>
<ChinaUnionConfig>
  <SupportPlatfoms>
    <PlatformType>PC</PlatformType>
  </SupportPlatfoms>
  <merId>700000000000001</merId>
  <version>5.0.0</version>
  <encoding>UTF-8</encoding>
  <signMethod>01</signMethod>
  <txnType>01</txnType>
  <txnSubType>01</txnSubType>
  <bizType>000201</bizType>
  <channelType>07</channelType>
  <accessType>0</accessType>
  <currencyCode>156</currencyCode>
  <Logo>index_logo.gif</Logo>
  <signCertpath>700000000000001_acp.pfx</signCertpath>
  <signCertpwd>000000</signCertpwd>
  <signCerttype>PKCS12</signCerttype>
  <encryptCertpath>verify_sign_acp.cer</encryptCertpath>
  <frontTransUrl><![CDATA[https://gateway.95516.com/gateway/api/frontTransReq.do]]></frontTransUrl>
  <backTransUrl><![CDATA[https://gateway.95516.com/gateway/api/backTransReq.do]]></backTransUrl>
  <singleQueryUrl><![CDATA[https://gateway.95516.com/gateway/api/queryTrans.do]]></singleQueryUrl>
</ChinaUnionConfig>