<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>UnionPay</PluginId>
  <DisplayName>银联支付</DisplayName>
  <ClassFullName>Himall.Plugin.Payment.UnionPay.UnionPay,Himall.Plugin.Payment.UnionPay</ClassFullName>
  <Description>银联支付插件</Description>
  <Type>1</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <MinHimallVersion>1.0.0</MinHimallVersion>
  <MaxHimallVersion></MaxHimallVersion>
  <Enable>0</Enable>
</PluginInfo>