<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no, address=no">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <script src="TempJs/htmlSize.js"></script>
    <title>去呼唤朋友</title>
    <link rel="stylesheet" href="TempJs/bootstrap.min.css">
    <link rel="stylesheet" href="//192.168.20.248:8080/Areas/Mobile/Templates/Default/Content/custom.css">
</head>

<body>
    <!-- Begin 此注释内容外的为_Base.cshtml文件里的代码,开发不用管   -->
    <style>html,body{height:100%;}</style>
    <div class="container merge-small-page merge-call">
        <div class="merge-call-bg"></div>
        <a class="btn btn-danger btn-call" href="#">去呼唤朋友</a>
        <p>您已参团成功，再邀请 2 人就可以组团成功了!</p>
    </div>
    <!-- End -->
</body>
</html>