<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no, address=no">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <script src="TempJs/htmlSize.js"></script>
    <title>拼团详情页 - 已成团</title>
    <link rel="stylesheet" href="TempJs/bootstrap.min.css">
    <link rel="stylesheet" href="//192.168.20.248:8080/Areas/Mobile/Templates/Default/Content/custom.css">
    <script src="TempJs/jquery-1.7.1.min.js"></script>
    <script src="TempJs/CommonJS.js"></script>
    <script src="TempJs/custom.js"></script>
</head>

<body>
    <!-- Begin 此注释内容外的为_Base.cshtml文件里的代码,开发不用管   -->
    <div class="container merge-container">
        <div class="detail-hd">
            <div id="slides">
                <img data-src="images/slides-01-640-640.jpg">
                <img data-src="images/slides-02-640-640.jpg">
                <img data-src="images/slides-03-640-640.jpg">
                <img data-src="images/slides-04-640-640.jpg">
                <img data-src="images/slides-05-640-640.jpg">
            </div>
            <div class="merge-size"><span>12</span> 人团</div>
        </div>
        <div class="detail-bd">
            <div class="goods-info">
                <div class="item">
                    <section class="merge-state-bar">
                        <span class="text-center">成团时限：48小时</span>
                    </section>
                    <div class="goods-price" id="jd-price">
                        <span class="merge-price-icon">￥12.00</span>
                        <s>￥30.00</s>
                    </div>
                    <h4>标题名称Levi's李维斯春夏季女士拼接纯棉男友版牛仔夹克外套</h4>
                    <h5>Levi's李维斯春夏季女士拼接纯棉男友版牛仔夹克外套15750-0032</h5>
                </div>
                <div class="item promotion-wrap" id="divCoupon">
                    <div class="promotion">
                        <ul class="promotion-list">
                            <li class="promotion-coupon">
                                <a href="javascript:" class="item-navigate-right J_coupon_trigger" onclick="ShowCoupon(1)">
                                    <span id="couponTip"><i class="coupon-tip">优惠券</i>1 张券可领</span>
                                </a>
                            </li>
                            <li id="couponTip"><i class="bonus-tip">满额免</i>满11.00免运费</li>
                        </ul>
                    </div>
                    <div class="goods-address">
                        <span class="address-icon pull-left">河北省 石家庄市</span>
                        <span class="pull-right"></span>
                    </div>
                    <ul class="ensary">
                        <li><i>消费者保障</i></li>
                        <li><i>及时发货</i></li>
                    </ul>
                </div>
            </div>
            <section class="merge-rule">活动规则：当您在48小时内成功邀请5位好友参团，则火拼成功；若火拼失败，系统会自动将金额退还到</section>
            <section class="merge-do">
                <div class="merge-do-tip">已参团的小伙伴，还差<strong class="merge-highlight">2</strong>人</div>
                <ul class="merge-do-list">
                    <li>
                        <span class="avatar"><img src="images/slides-01-640-640.jpg"></span>
                        <span class="name">乌拉圭燕燕乌拉圭燕燕</span>
                    </li>
                    <li>
                        <span class="avatar"><img src="images/slides-02-640-640.jpg"></span>
                        <span class="name">乌拉圭燕燕乌</span>
                    </li>
                    <li>
                        <span class="avatar"><img src="images/slides-04-640-640.jpg"></span>
                        <span class="name">乌拉圭燕燕乌拉圭燕燕</span>
                    </li>
                    <li>
                        <span class="avatar"><img src="images/slides-03-640-640.jpg"></span>
                        <span class="name">乌拉圭</span>
                    </li>
                    <li>
                        <span class="avatar"><img src="images/slides-05-640-640.jpg"></span>
                        <span class="name">乌拉</span>
                    </li>
                    <li>
                        <span class="avatar"><img src="images/slides-02-640-640.jpg"></span>
                        <span class="name">乌拉圭燕燕</span>
                    </li>
                    <li>
                        <span class="avatar"><img src="images/avatar-60-60.png"></span>
                        <span class="name">乌拉圭燕燕乌拉圭燕燕</span>
                    </li>
                </ul>
                <div class="merge-do-sign"></div>
            </section>
            <div class="item">
                <a class="item-navigate-arrow" href="#">商品评价<span>108</span></a>
            </div>
            <div class="item shop-wrap">
                <div class="shop-hd">
                    <div class="shop-logo"><img src="images/shop-logo-90-90.jpg"></div>
                    <h4>官方自营店</h4>
                    <div class="shop-hd-info">
                        <span>宝贝数<strong>7</strong></span>
                        <span>关注人数<strong>0</strong></span>
                    </div>
                </div>
                <ul class="shop-bd clearfix">
                    <li>商品：<strong>5.00</strong></li>
                    <li>发货：<strong>5.00</strong></li>
                    <li>服务：<strong>5.00</strong></li>
                </ul>
                <div class="shop-ft clearfix">
                    <span><a class="btn btn-default" href="#">进入店铺</a></span>
                    <span><a class="btn btn-default">关注</a></span>
                </div>
            </div>
            <div class="item details-link">
                <a href="#top" onclick="gotoProductImg()"><span>查看更多详情</span></a>
            </div>
            <div class="goods-img"></div>
        </div>
    </div>
    <section class="merge-bar-container">
        <div class="merge-bar">
            <a class="btn btn-default btn-left">更多拼团</a>
            <a class="btn btn-danger btn-right">我也要开团</a>
        </div>
    </section>
    <!-- End -->
    <script src="TempJs/ProductDetail.js"></script>
    <script src="TempJs/jquery.slides.min.js"></script>
    <script src="TempJs/jquery.scrollLoading.min.js"></script>
</body>
</html>