<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no, address=no">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <script src="TempJs/htmlSize.js"></script>
    <title>拼团列表页</title>
    <link rel="stylesheet" href="TempJs/bootstrap.min.css">
    <link rel="stylesheet" href="//192.168.20.248:8080/Areas/Mobile/Templates/Default/Content/custom.css">
    <script src="TempJs/jquery-1.7.1.min.js"></script>
    <script src="TempJs/CommonJS.js"></script>
    <script src="TempJs/custom.js"></script>
</head>

<body>
    <!-- Begin 此注释内容外的为_Base.cshtml文件里的代码,开发不用管   -->
    <div class="container merge-list-container">
        <ul>
            <li>
                <div class="thumb">
                    <div class="son"><img src="images/list-01-640-400.jpg"></div>   
                </div>
                <div class="price">
                    <span class="merge-price-icon">¥100.00</span>
                    <del>¥100.00</del>
                </div>
                <div class="name">标题名称Levi's李维斯春夏季女士拼接纯棉男版牛仔夹克外套</div>
                <div class="merge-size"><span>12</span> 人团</div>
            </li>
            <li>
                <div class="thumb">
                    <div class="son">
                        <img src="images/list-02-640-400.jpg">
                        <div class="thumb-mask"></div>
                    </div>
                </div>
                <div class="price">
                    <span class="merge-price-icon">¥100.00</span>
                    <del>¥100.00</del>
                </div>
                <div class="name">标题名称Levi's李维斯春夏季女士拼接纯棉男版牛仔夹克外套</div>
            </li>
            <li>
                <div class="thumb">
                    <div class="son">
                        <img src="images/slides-02-640-640.jpg">
                        <div class="thumb-mask"></div>
                    </div>
                </div>
                <div class="price">
                    <span class="merge-price-icon">¥100.00</span>
                    <del>¥100.00</del>
                </div>
                <div class="name">标题名称Levi's李维斯春夏季女士拼接纯棉男版牛仔夹克外李维斯春夏季女士拼接纯棉男版牛仔夹克外李维斯春夏季女士拼接纯棉男版牛仔夹克外套</div>
            </li>
        </ul>
    </div>
    <!-- End -->
    <script src="TempJs/ProductDetail.js"></script>
    <script src="TempJs/jquery.slides.min.js"></script>
    <script src="TempJs/jquery.scrollLoading.min.js"></script>
</body>
</html>