<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no, address=no">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <script src="TempJs/htmlSize.js"></script>
    <title>个人中心拼团列表</title>
    <link rel="stylesheet" href="TempJs/bootstrap.min.css">
    <link rel="stylesheet" href="//192.168.20.248:8080/Areas/Mobile/Templates/Default/Content/custom.css">
    <script src="TempJs/jquery-1.7.1.min.js"></script>
    <script src="TempJs/CommonJS.js"></script>
    <script src="TempJs/custom.js"></script>
</head>

<body>
    <!-- Begin 此注释内容外的为_Base.cshtml文件里的代码,开发不用管   -->
    <div class="container merge-personal">
        <div class="list">
            <div class="merge-personal-hd">
                <div class="thumb">
                    <div class="son"><img src="images/list-01-640-400.jpg"></div>   
                </div>
                <div class="info">
                    <div class="name">标题名称Levi's李维斯春夏季女士拼接纯棉男版牛仔夹克外套s李维斯春夏季女士拼接纯棉男版牛仔夹克外套s李维斯春夏季女士拼接纯棉男版牛仔夹克外套</div>
                    <div class="price">火拼价<em>￥</em><span>158.00</span></div>
                    <div class="time"><span>12:52:20</span>后组团结束</div>
                </div>
            </div>
            <div class="personal-list-bd">
                <div class="merge-do-tip">已参团的小伙伴，还差<strong class="merge-highlight">2</strong>人</div>
                <ul class="avatar-group">
                    <li><span class="avatar"><img src="images/slides-01-640-640.jpg"></span></li>
                    <li><span class="avatar"><img src="images/slides-01-640-640.jpg"></span></li>
                    <li><span class="avatar"><img src="images/slides-01-640-640.jpg"></span></li>
                    <li><span class="avatar"><img src="images/slides-01-640-640.jpg"></span></li>
                    <li><span class="avatar"><img src="images/slides-01-640-640.jpg"></span></li>
                    <li><span class="avatar"><img src="images/slides-01-640-640.jpg"></span></li>
                    <li><span class="avatar"><img src="images/slides-01-640-640.jpg"></span></li>
                    <li><span class="avatar"><img src="images/slides-01-640-640.jpg"></span></li>
                    <li><span class="avatar"></span>
                    <li><span class="avatar"></span>
                </ul>
            </div>
            <div class="personal-list-ft">
                <a class="btn btn-default" href="#">拼团详情</a>
                <a class="btn btn-danger" href="#">查看订单</a>
            </div>
        </div>
        <div class="list">
            <div class="merge-personal-hd">
                <div class="thumb">
                    <div class="son"><img src="images/list-01-640-400.jpg"></div>   
                </div>
                <div class="info">
                    <div class="name">标题名称Levi's李维斯春夏季女士拼接纯棉男版牛仔夹克外套s李维斯春夏季女士拼接纯棉男版牛仔夹克外套s李维斯春夏季女士拼接纯棉男版牛仔夹克外套</div>
                    <div class="price">火拼价<em>￥</em><span>158.00</span></div>
                    <div class="time"><span>12:52:20</span>后组团结束</div>
                </div>
            </div>
            <div class="personal-list-bd">
                <div class="merge-do-tip">参团的小伙伴们</div>
                <ul class="avatar-group">
                    <li><span class="avatar"><img src="images/slides-01-640-640.jpg"></span></li>
                    <li><span class="avatar"><img src="images/slides-01-640-640.jpg"></span></li>
                    <li><span class="avatar"><img src="images/slides-01-640-640.jpg"></span></li>
                    <li><span class="avatar"><img src="images/slides-01-640-640.jpg"></span></li>
                    <li><span class="avatar"><img src="images/slides-01-640-640.jpg"></span></li>
                    <li><span class="avatar"><img src="images/slides-01-640-640.jpg"></span></li>
                    <li><span class="avatar"><img src="images/slides-01-640-640.jpg"></span></li>
                    <li><span class="avatar"><img src="images/slides-01-640-640.jpg"></span></li>
                </ul>
            </div>
            <div class="personal-list-ft">
                <a class="btn btn-default" href="#">拼团详情</a>
                <a class="btn btn-danger" href="#">查看订单</a>
            </div>
            <div class="merge-do-sign"></div>
        </div>
        <div class="list">
            <div class="merge-personal-hd">
                <div class="thumb">
                    <div class="son"><img src="images/list-01-640-400.jpg"></div>   
                </div>
                <div class="info">
                    <div class="name">标题名称Levi's李维斯春夏季女士拼接纯棉男版牛仔夹克外套s李维斯春夏季女士拼接纯棉男版牛仔夹克外套s李维斯春夏季女士拼接纯棉男版牛仔夹克外套</div>
                    <div class="price">火拼价<em>￥</em><span>158.00</span></div>
                    <div class="time"><span>12:52:20</span>后组团结束</div>
                </div>
            </div>
            <div class="personal-list-bd">
                <div class="merge-do-tip">参团的小伙伴们</div>
                <ul class="avatar-group">
                    <li><span class="avatar"><img src="images/slides-01-640-640.jpg"></span></li>
                    <li><span class="avatar"><img src="images/slides-01-640-640.jpg"></span></li>
                    <li><span class="avatar"><img src="images/slides-01-640-640.jpg"></span></li>
                    <li><span class="avatar"><img src="images/slides-01-640-640.jpg"></span></li>
                    <li><span class="avatar"><img src="images/slides-01-640-640.jpg"></span></li>
                    <li><span class="avatar"><img src="images/slides-01-640-640.jpg"></span></li>
                    <li><span class="avatar"><img src="images/slides-01-640-640.jpg"></span></li>
                    <li><span class="avatar"><img src="images/slides-01-640-640.jpg"></span></li>
                </ul>
            </div>
            <div class="personal-list-ft">
                <a class="btn btn-default" href="#">拼团详情</a>
                <a class="btn btn-danger" href="#">查看订单</a>
            </div>
            <div class="merge-do-sign"></div>
        </div>
    </div>
    <!-- End -->
    <script src="TempJs/jquery.scrollLoading.min.js"></script>
</body>
</html>