<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no, address=no">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <script src="TempJs/htmlSize.js"></script>
    <title>个人中心拼团详情页</title>
    <link rel="stylesheet" href="TempJs/bootstrap.min.css">
    <link rel="stylesheet" href="//192.168.20.248:8080/Areas/Mobile/Templates/Default/Content/custom.css">
    <script src="TempJs/jquery-1.7.1.min.js"></script>
    <script src="TempJs/CommonJS.js"></script>
    <script src="TempJs/custom.js"></script>
</head>

<body>
    <!-- Begin 此注释内容外的为_Base.cshtml文件里的代码,开发不用管   -->
    <div class="container merge-container">
        <div class="merge-personal-hd">
            <div class="thumb">
                <div class="son"><img src="images/list-01-640-400.jpg"></div>   
            </div>
            <div class="info">
                <div class="name">标题名称Levi's李维斯春夏季女士拼接纯棉男版牛仔夹克外套s李维斯春夏季女士拼接纯棉男版牛仔夹克外套s李维斯春夏季女士拼接纯棉男版牛仔夹克外套</div>
                <div class="price">火拼价<em>￥</em><span>158.00</span></div>
                <div class="time"><span>12:52:20</span>后组团结束</div>
            </div>
        </div>
        <div class="detail-bd">
            <section class="merge-rule">活动规则：当您在48小时内成功邀请5位好友参团，则火拼成功；若火拼失败，系统会自动将金额退还到</section>
            <section class="merge-go merge-personal-go">
                <div class="merge-go-tip">已参团的小伙伴，还差<strong class="merge-highlight">2</strong>人</div>
                <ul>
                    <li>
                        <div class="info">
                            <span class="avatar"><img src="images/avatar-60-60.png"></span>
                            <span class="leader">团长</span>
                            <span class="name">乌拉圭燕燕</span>
                            <span class="time">2016-12-30 15:00</span>
                        </div>
                    </li>
                    <li>
                        <div class="info">
                            <span class="avatar"><img src="images/avatar-60-60.png"></span>
                            <span class="leader">参团</span>
                            <span class="name">乌拉燕</span>
                            <span class="time">2016-12-30 15:00</span>
                        </div>
                    </li>
                    <li>
                        <div class="info">
                            <span class="avatar"><img src="images/avatar-60-60.png"></span>
                            <span class="leader">参团</span>
                            <span class="name">Himall驻火星超级管理员戴子意</span>
                            <span class="time">2016-12-30 15:00</span>
                        </div>
                    </li>
                </ul>
            </section>
            <div class="item">
                <a class="item-navigate-arrow" href="#">商品评价<span>108</span></a>
            </div>
            <div class="item details-link">
                <a href="#top" onclick="gotoProductImg()"><span>查看更多详情</span></a>
            </div>
            <div class="goods-img"></div>
        </div>
    </div>
    <section class="merge-bar-container">
        <div class="merge-bar">
            <a class="btn btn-danger btn-center">邀请好友参团</a>
        </div>
    </section>
    <!-- End -->
    <script src="TempJs/ProductDetail.js"></script>
    <script src="TempJs/jquery.scrollLoading.min.js"></script>
</body>
</html>