@{
    ViewBag.Title = "Management";
}
<script src="~/Scripts/jquery.hiMallDatagrid.js"></script>
<style>
      #list>thead>tr>th:nth-of-type(2){text-align:left!important;padding-left:80px!important;}
      #list>thead>tr>th:last-child{text-align:right!important;padding-right:80px!important;}
    #list>tbody>tr>td:nth-of-type(2){padding-left:80px!important;}
     #list>tbody>tr>td:last-child{padding-right:80px!important;}
</style>
<div class="container">
    <ul class="nav nav-tabs-custom clearfix">
        <li class="active"><a href="@Url.Action("Management")">经营类目</a></li>
        <li><a href="@Url.Action("ApplyList")">申请列表</a></li>
        <li><a href="@Url.Action("Apply")">申请新的经营类目</a></li>
    </ul>
    <div></div>
    <table class="table" id="list"></table>
</div>

<script type="text/javascript">
    function query() {
        //订单表格
        $("#list").hiMallDatagrid({
            url: './List',
            nowrap: false,
            rownumbers: true,
            NoDataMsg: '没有找到符合条件的经营类目',
            border: false,
            fit: true,
            fitColumns: true,
            pagination: true,
            idField: "Id",
            pageSize: 15,
            pagePosition: 'bottom',
            pageNumber: 1,
            queryParams: {},
            columns:
            [[
                { field: "Id", title: 'Id', hidden: true, width: 150 },

                  { field: "CategoryName", title: "类目", width: 250, align: "left" },

               {
                   field: "CommisRate", title: "佣金比例", width: 250, align: "right",

                   formatter: function (value, row, index) {
                       return row.CommisRate + "%";
                   }
               },
            //{
            //    field: "operation", operation: true, title: "操作", width: 220,
            //    formatter: function (value, row, index) {
            //        var id = row.Id.toString();
            //        var html = ["<span class=\"btn-a\">"];
            //      // html.push("<a class=\"good-check\">删除</a>");
            //        html.push("</span>");
            //        return html.join("");
            //    }
            //}
            ]]
        });
    }
    $(function () {
        query();
    });
</script>