<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>Himall.Plugin.OAuth.Weibo</PluginId>
  <DisplayName>新浪微博</DisplayName>
  <ClassFullName>Himall.Plugin.OAuth.Weibo.Service,Himall.Plugin.OAuth.Weibo</ClassFullName>
  <Description>新浪微博信任登录插件</Description>
  <Type>0</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <MinHimallVersion>1.0.0</MinHimallVersion>
  <MaxHimallVersion></MaxHimallVersion>
  <Enable>0</Enable>
</PluginInfo>