@{
    ViewBag.Title = "Management";
}
<script src="~/Scripts/jquery.hiMallDatagrid.js"></script>
<script src="~/Scripts/CommonJS.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Areas/Admin/Scripts/ShopFradeManagement.js"></script>


<div class="container">
    <ul class="nav nav-tabs-custom clearfix">
        
        <li class="active"><a>管理</a></li>
        <li><a href="./Add">新增</a></li>
        
    </ul>
    <table class="table mt20" id="shopGradeDatagrid"></table>

</div>

