<?xml version="1.0" encoding="utf-8" ?>
<ExpressInfo>
  <Name>申通快递</Name>
  <DisplayName>申通快递</DisplayName>
  <BackGroundImage>2010111771175.jpg</BackGroundImage>
  <Logo>logo.png</Logo>
  <Width>2300</Width>
  <Height>1270</Height>
  <TaobaoCode>STO</TaobaoCode>
  <Kuaidi100Code>shentong</Kuaidi100Code>
  <KuaidiNiaoCode>STO</KuaidiNiaoCode>
</ExpressInfo>