<script src="~/Scripts/jquery.hiMallDatagrid.js"></script>
<script src="~/Scripts/jqeury.himallLinkage.js"></script>
<script src="~/Areas/Admin/Scripts/ProductConsultation.js"></script>

<div class="container">
    <ul class="nav nav-tabs-custom clearfix">
        <li class="active"><a id="notReply" onclick="ShowStatus(this)">未处理</a></li>
        <li><a onclick="ShowStatus(this)">全部</a></li>
    </ul>
    <table class="table" id="list"></table>
</div>

