    <link rel="stylesheet" href="/Content/PublicMob/css/style.css" /><link rel="stylesheet" href="/Areas/Admin/templates/common/style/css.css" rev="stylesheet" type="text/css"><link rel="stylesheet" href="/Areas/Admin/templates/common/style/mycss.css" rev="stylesheet" type="text/css"><link rel="stylesheet" href="/Areas/Admin/templates/common/style/main.css" rev="stylesheet" type="text/css"><link rel="stylesheet" href="/Areas/Admin/templates/common/style/head.css">
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                        
                            <li>
                                <a href="/default.aspx" title="VERO">
                                    
                                    
                                    <img src="http://localhost:5955/Storage/template/0/20151127/6358421030080109405020086.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="/default.aspx" title="VERO">
                                    
                                    
                                    <img src="http://localhost:5955/Storage/template/0/20151127/6358421036443973399430247.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="/default.aspx" title="VERO">
                                    
                                    
                                    <img src="http://localhost:5955/Storage/template/0/20151127/6358421669225666438296765.bmp" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                    
                </ul>
                <section class="members_flash_time">
                    
                    
                    <span class="cur" ></span>
                    
                    <span  ></span>
                    
                    <span  ></span>
                    
                    
                </section>
            </section>
            
        </div>
      <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
                  <script type="text/javascript">
                    $(function () {
                        $('html').css({
                            'height':'100%',
                            'width':'100%'
                        })
                        $('body').css({
                            'height':'100%',
                            'width':'100%',
                            'background':'url(undefined) no-repeat',
                            'backgroundSize':'cover'
                        })
                    })
                </script>
        <div class="members_con">
            <section class="members_nav1">
                <ul>
                    
                    
                     
                    <li class="lisw4">
                        <span><a href="/Default.aspx"><img src="http://localhost:5955/Storage/template/0/20151127/6358422928792409539694868.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/Default.aspx"></a>
                    </li>
                    
                    
                     
                    <li class="lisw4">
                        <span><a href="/Default.aspx"><img src="http://localhost:5955/Storage/template/0/20151127/6358421669236067039268581.bmp" width="70"></a></span>
                        <a class="members_nav1_name" href="/Default.aspx"></a>
                    </li>
                    
                    
                     
                    <li class="lisw4">
                        <span><a href="/Default.aspx"><img src="http://localhost:5955/Storage/template/0/20151127/6358421669277769418738096.bmp" width="70"></a></span>
                        <a class="members_nav1_name" href="/Default.aspx"></a>
                    </li>
                    
                    
                     
                    <li class="lisw4">
                        <span><a href="/Default.aspx"><img src="http://localhost:5955/Storage/template/0/20151127/6358421669365174415135618.bmp" width="70"></a></span>
                        <a class="members_nav1_name" href="/Default.aspx"></a>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_imgad">
                <ul class="clearfix">
                    
                    
                    <li style="margin-bottom:20px">
                        <a href="/default.aspx" title="VERO">
                            
                            
                            <img src="http://localhost:5955/Storage/template/0/20151127/6358421713996427178229850.jpg" width="100%" />
                            
                            
                        </a>
                    </li>
                    
                    
                </ul>
            </section>
            
        </div>
    
        <div class="members_con">
            <section class="members_nav1">
                <ul>
                    
                    
                     
                    <li class="lisw2">
                        <span><a href="/Default.aspx"><img src="http://localhost:5955/Storage/template/0/20151127/6358421669398276303633317.bmp" width="70"></a></span>
                        <a class="members_nav1_name" href="/Default.aspx"></a>
                    </li>
                    
                    
                     
                    <li class="lisw2">
                        <span><a href="/Default.aspx"><img src="http://localhost:5955/Storage/template/0/20151127/6358421669440378717804661.bmp" width="70"></a></span>
                        <a class="members_nav1_name" href="/Default.aspx"></a>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con">
            <section class="members_nav1">
                <ul>
                    
                    
                     
                    <li class="lisw2">
                        <span><a href="/Default.aspx"><img src="http://localhost:5955/Storage/template/0/20151127/6358421030080109405020086.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/Default.aspx"></a>
                    </li>
                    
                    
                     
                    <li class="lisw2">
                        <span><a href="/Default.aspx"><img src="http://localhost:5955/Storage/template/0/20151127/6358421036443973399430247.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/Default.aspx"></a>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    @{Html.RenderAction("GoodsListAction", "TemplateVisualizationProcess",new { Layout="1", ShowName="1", IDs="288,274,272,271", ShowIco="True", ShowPrice="True", DataUrl="/api/Hi_Ajax_GoodsList", ID="goods_e89c7573840944dc92ce27ab0c448eb6"});}