@{
    ViewBag.Title = "系统出错";
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
* { margin: 0; padding: 0; font-family:'microsoft yahei','simsun'; }
body{background: #f2f2f2;}
.w { width: 990px; padding: 0; margin: 0 auto; zoom: 1; }
.error-page { width: 345px; height: 170px; padding: 160px 165px 60px 475px; font-size: 12px; overflow: hidden; color: #777; margin: 100px 0 35px; background:url(/Images/error.jpg) #fff no-repeat 150px 30px; border:1px solid #ddd}
.error-page h2 { font-size: 20px; margin-bottom: 10px; color: #E4393C; font-weight:normal}
.error-page p{ font-size:14px;}
.error-page a{ color:#e3393c}
#footer { padding-bottom: 30px; text-align: center; font-size:12px; }
#footer .copyright { margin: 10px 0; }
</style>
</head>

<body>
    <div class="w">
        <div class="error-page">
            <h2>抱歉，系统出错，程序员正在夜以继日的修复…</h2>
        </div>
    </div>
    
    <div class="w">
        <div id="footer">
          
        </div>
    </div>
</body>
</html>