<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>账户信息</title>
<link rel="stylesheet" type="text/css" href="../../Content/mui.min.css"/>
<link type="text/css" href="../../Content/custom.css" rel="stylesheet" />
 
</head>

<body>
<header class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-icon mui-pull-left back">返回</a>
	<h1 class="mui-title">账户信息</h1>
</header>
 
<div id='company' class="company_container">
	<div class="info_title">银行信息</div>
	<form class="mui-input-group">
		<div class="mui-input-row">
			<label>银行开户名</label>
			<input type="text" class="mui-input" placeholder="何安下">
		</div>
		<div class="mui-input-row">
			<label>银行账户</label>
			<input type="text" class="mui-input" placeholder="">
		</div>
		<div class="mui-input-row">
			<label>支行名称</label>
			<input type="text" class="mui-input" placeholder="">
		</div>
		<div class="mui-input-row">
			<label>支行联行号</label>
			<input type="text" class="mui-input" placeholder="">
		</div>

		<div class="mui-input-row select-addr">
			<label>开户行所在地</label>
			<input id="showCity" type="text" readonly="readonly" class="mui-input" placeholder="选择省、市、区">
		</div>
		<div class="mui-input-row select-addr" id="streetLine">
			<label>街道</label>
			<input id="showStreet" type="text" readonly="readonly" class="mui-input" placeholder="选择街道">
		</div>
	</form>
 

	<div class="bottom_btn">
		<button type="button" class="prev_btn">上一步</button>
        <button type="button" class="nex_btn">下一步</button>
	</div>
</div>

 


</body>
</html>
    