<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>入驻协议</title>
<link rel="stylesheet" type="text/css" href="../../Content/mui.min.css"/>
<link rel="stylesheet" type="text/css" href="../../Content/custom.css"/>
</head>

<body>
<header class="mui-bar mui-bar-nav">
	<h1 class="mui-title">入驻协议</h1>
</header>
 
<div class="agreement_container">
	<div class="artice_box">
        <div class="title">大标题</div>
        <div class="artice">
            <div class="small">章标题</div>
            <span>1.1节标题</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
 
            <span>1.2节标题</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    
    
    <div class="bottom_agreement">
    	<form>
        	 <input name="" type="radio" value="" />
             <em class="select_input"></em>
             <span>我已阅读并同意此协议</span>
             <button type="button" class="submit">同意</button>
        </form>
    </div>
    

	 


</div>
 

</body>
</html>
    