<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>选择商家类型</title>
<link rel="stylesheet" type="text/css" href="../../Content/mui.min.css"/>
<link type="text/css" href="../../Content/custom.css" rel="stylesheet" />
 
</head>

<body>
<header class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-icon mui-pull-left back">返回</a>
	<h1 class="mui-title">选择商家类型</h1>
</header>
 
<div class="shop_container">
	<div class="bussiness">
    	<a href="#">
        	<img src="../../Images/ic_enterprise.png" />
            <span>我是企业</span>
        </a>
    </div>

	<div class="person">
    	<a href="#">
        	<img src="../../Images/ic_personal.png" />
            <span>我是个人</span>
        </a>
    </div>


</div>
 

</body>
</html>
    