@{
    ViewBag.Title = "提交成功";
}
<link  rel="stylesheet" type="text/css" href="~/Areas/Mobile/Templates/Default/Content/mui.min.css"/>
<link  rel="stylesheet" type="text/css" href="~/Areas/Mobile/Templates/Default/Content/custom.css"/>
@*<header class="mui-bar mui-bar-nav Gheader ">
    <a class="mui-action-back mui-icon mui-pull-left back" href="@(Url.Action("step5"))">返回</a>
    <h1 class="mui-title">提交成功</h1>
</header>*@
<div class="success_container" style="top:0px;">
    <div class="success_img">
        <img src="~/Areas/Mobile/Templates/Default/Images/success.png" />
        <span>提交成功</span>
    </div>
    <div class="success_info">
        <p>已成功提交申请入驻信息，审核通过后<br />将通过短信及邮件通知您，请您关注。</p>
    </div>
    <div class="back_index"><a href="/m-wap">进入商城首页</a></div>
</div>