<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>提交成功</title>
<link rel="stylesheet" type="text/css" href="../../Content/mui.min.css"/>
<link type="text/css" href="../../Content/custom.css" rel="stylesheet" />
 
</head>

<body>
 
 
<div class="success_container">
 	<div class="success_img" style="padding-top:-60px;">
    	<img src="../../Images/success.png" />
        <span>提交成功</span>
    </div>
    <div class="success_info">
    	<p>已成功提交申请入驻信息，审核通过后将通过短信及邮件通知您，请您关注。</p>
    </div>
    <div class="back_index"><a href="/m-wap">进入商城首页</a></div>
</div>
 

</body>
</html>
    