<?xml version="1.0" encoding="utf-8" ?>
<ExpressInfo>
  <Name>邮政EMS</Name>
  <DisplayName>邮政EMS</DisplayName>
  <BackGroundImage>2010111734679.jpg</BackGroundImage>
  <Logo>logo.jpg</Logo>
  <Width>2300</Width>
  <Height>1270</Height>
  <TaobaoCode>EMS</TaobaoCode>
  <Kuaidi100Code>ems</Kuaidi100Code>
  <KuaidiNiaoCode>EMS</KuaidiNiaoCode>
</ExpressInfo>