@{
    ViewBag.Title = "资料已提交";
}
<div class="container">
    <div class=" seller-apply">
        <h3>推广员申请</h3>
        <h6 class="notice-text">已提交申请，请等待平台审核<br /><a href="/@(ViewBag.AreaName)/Member/Center">返回</a></h6>
        
    </div>
    
</div>