<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>Himall.Plugin.Express.Zhaijisong</PluginId>
  <DisplayName>宅急送</DisplayName>
  <ClassFullName>Himall.Plugin.Express.Zhaijisong.Service,Himall.Plugin.Express.Zhaijisong</ClassFullName>
  <Description>宅急送快递插件</Description>
  <Type>2</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <MinHimallVersion>1.0.0</MinHimallVersion>
  <MaxHimallVersion></MaxHimallVersion>
  <Enable>0</Enable>
</PluginInfo>