<script src="~/Scripts/jquery.himallUpload.js"></script>
<script src="~/Scripts/jquery.placeholder.min.js"></script>
<script src="~/Scripts/bootstrap.autocomplete.js"></script>
<script src="~/Scripts/jquery.hiMallDatagrid.js"></script>
<script src="~/Areas/Admin/Scripts/BonusDetail.js"></script>
<div class="container">
    <ul class="breadcrumb clearfix">
        <li><a href="/Admin/Bonus/Management">管理</a></li>
        <li class="active"><a>查看详情</a></li>
    </ul>


    <table class="table" id="list"></table>
</div>

<input type="hidden" value="@ViewBag.Id "  id="VBid"/>