<div class="container">
    <ul class="nav nav-tabs-custom clearfix">
        <li class="active"><a>配置错误提示</a></li>
    </ul>
    <div class="form-horizontal">
        <div class="form-group">
            <p class="apply-primary"><span class="glyphicon glyphicon-info-sign"></span>您还未绑定微信公众号，需要绑定微信已认证服务号才可以使用此功能</p>
        </div>
    </div>
</div>