<div class="container">
	<ul class="nav nav-tabs-custom clearfix">
        <li class="active"><a>配置错误提示</a></li>
    </ul>
    <form class="form-horizontal">
        <div class="form-group">
            <p class="apply-primary" style="width:640px; text-align:left;">
				<span class="glyphicon glyphicon-info-sign"></span>
				你所绑定的微信公众号无权限使用摇一摇及门店管理相关功能，可能以下原因造成：<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、您所绑定的微信公众号不是<em style="color:#e3393c">已认证服务号</em><br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、您所绑定的公众好号还未开通摇一摇相关权限。<a style="margin-left:0px" href="https://mp.weixin.qq.com/" target="_blank">去绑定公众号账号</a><br />
				<em style="color:#777; font-size:12px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如何开通：登录微信公众平台——点击添加功能插件——选择摇一摇周边——点击申请</em>
			</p>

        </div>
    </form>
</div>