
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录跳转</title>
</head>
<body>
    <div> 
        @ViewBag.Url


        <div>
            OpenId：@ViewBag.OpenId
        </div>
        <div>
            Name:@ViewBag.Name
        </div>
    </div>
</body>
</html>
