<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <Partner></Partner>
  <Key></Key>
  <GateWay><![CDATA[https://mapi.alipay.com/gateway.do?]]></GateWay>
  <VeryfyUrl><![CDATA[https://mapi.alipay.com/gateway.do?service=notify_verify&]]></VeryfyUrl>
  <AlipayAccount></AlipayAccount>
  <Logo>logo.gif</Logo>
</Config>