<?xml version="1.0" encoding="utf-8" ?>
<ExpressInfo>
  <Name>圆通速递</Name>
  <DisplayName>圆通速递</DisplayName>
  <BackGroundImage>background.jpg</BackGroundImage>
  <Logo>logo.png</Logo>
  <Width>2300</Width>
  <Height>1270</Height>
  <TaobaoCode>YTO</TaobaoCode>
  <Kuaidi100Code>yuantong</Kuaidi100Code>
  <KuaidiNiaoCode>YTO</KuaidiNiaoCode>
</ExpressInfo>