<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>Himall.Plugin.Express.EMS</PluginId>
  <DisplayName>EMS</DisplayName>
  <ClassFullName>Himall.Plugin.Express.EMS.Service,Himall.Plugin.Express.EMS</ClassFullName>
  <Description>EMS快递插件</Description>
  <Type>2</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <MinHimallVersion>1.0.0</MinHimallVersion>
  <MaxHimallVersion></MaxHimallVersion>
  <Enable>0</Enable>
</PluginInfo>