html,body{min-height: 100%;}
.container{max-width: 640px;min-height: 100%; background-color: #F5F5F5;overflow: hidden;}
.usernameimginfo{position: relative; height:80px;overflow: hidden;margin-bottom: 10px; color: #fff;}
.usernameimginfo .usernameimg{position:absolute;left: 10px;top: 0; padding: 4px;border:1px solid #fff; border-radius: 50%;}
.usernameimginfo .usernameimg img{display: block;width: 70px;border-radius: 50%;}
.usernameimginfo .usernameinfo{display: table; height: 80px;margin-left: 100px;}
.usernameimginfo .usernameinfo .usernamecontent{display: table-cell;vertical-align: middle;}
.usernameimginfo .usernameinfo .usernamecontent .username{font-size: 16px;margin-bottom: 5px;}
.usernameimginfo .usernameinfo .usernamecontent .integralsign{height: 20px;line-height: 20px;padding-left: 25px;background: url(../images/iconfont-jifen.png) no-repeat left top;}
.usernamecontent .integralsign .integral{font-size: 14px;}
.usernamecontent .integralsign .sign{padding: 1px 3px;background-color: #fff;color: #DF011B;border-radius: 2px;margin-left: 10px;}

header nav ul li{float: left;width: 50%;padding-bottom: 5px;}
header nav ul li.active{border-bottom: 2px solid #fff;}
header nav ul li a{display: block;text-align: center;color: #fff;font-size: 14px;text-shadow:0 0 0 #fff;}
header nav ul li a:link{color: #fff;}
.navlist{background-color: #232323;padding: 10px 0;margin-bottom: 10px;box-shadow: 0 1px 1px #888A8B;}
.navlist ul li{float: left;width: 20%;text-align: center;border-left: 1px solid #303030;}
.navlist ul li a span{position: relative;display: inline-block; margin-bottom: 3px;}
.navgtionList ul{overflow: hidden;}
.navgtionList ul{margin-bottom: 10px;border-top: 1px solid #EBEBEB;border-bottom: 1px solid #D2D2D2; box-shadow: 0 1px 1px #DFDFDF;}
.navgtionList ul li{height: 40px;line-height: 40px;background-color: #fff;position: relative;border-top: 1px solid #DBDBDB;margin-top: -1px;}
.navgtionList ul li a{display: block;padding-left: 20px; width: 100%;height: 100%;}
.navgtionList ul li a span{display: inline-block;width: 25px;height: 25px;vertical-align: middle;}
.navgtionList ul li a span img{display: block;}
.navgtionList ul li a strong{font-weight: 500;font-size: 14px;color: #2F2F2F;margin-left: 10px;}
.navgtionList ul li a span.number{display: inline-block;float: right; width: auto; height: 20px;line-height: 20px; margin: 10px 10% 0 0; padding: 0 10px;border-radius: 10px;border:1px solid #CC3300;color:#CC3300; }
.navgtionList ul li .glyphicon{position: absolute;top: 11px;right: 10px;font-size: 18px;color: #232323;font-weight: normal;}
.navlist ul li a .message{position:absolute;right:-3px;top:-3px; display:block; width:7px;height:7px;background-color:red;border-radius:50%;}
.distribution.navlist ul li{width: 33.33333%;color: #5F5F5F;}
.distribution.navlist ul li span{color: #fff;font: 16px/150% Arial,Verdana,"\5b8b\4f53";}