<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>Himall.Plugin.Express.Yuantong</PluginId>
  <DisplayName>圆通快递</DisplayName>
  <ClassFullName>Himall.Plugin.Express.Yuantong.Service,Himall.Plugin.Express.Yuantong</ClassFullName>
  <Description>圆通快递插件</Description>
  <Type>2</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <MinHimallVersion>1.0.0</MinHimallVersion>
  <MaxHimallVersion></MaxHimallVersion>
  <Enable>0</Enable>
</PluginInfo>