<!--_4ButtonsFoot_shop start-->
<div class="footerempty"></div>
<footer class="shop-footer clearfix">
    <div class="shop-footer-item">
        <a href="/@ViewBag.AreaName/vshop/Category?vshopid=@ViewBag.VshopId">商品分类</a>
    </div>
    <div class="shop-footer-item">
            <a href="/@ViewBag.AreaName/vshop/Search?vshopid=@ViewBag.VshopId">全部商品</a>
    </div>
    <div class="shop-footer-item">
        <a href="/@ViewBag.AreaName/vshop/introduce/@ViewBag.VshopId">店铺简介</a>
    </div>
</footer>
<!--_4ButtonsFoot_shop end-->