<!--_SearchBox start-->
<header>
    <div class="search search-bor-none">
        <input id="searchBox" type="text" name="" value="@ViewBag.Keywords" placeholder="搜索商品..." />
        <i class="glyphicon glyphicon-search" id="searchBtn"></i>
    </div>
</header>
<script src="~/Areas/Mobile/Templates/Default/Scripts/searchBox.js"></script>
<!--_SearchBox end-->
