<?xml version="1.0"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SupportPlatfoms>
    <PlatformType>Wap</PlatformType>
  </SupportPlatfoms>
  <Partner>2088011568591884</Partner>
  <Key>8929fx0jryrhmjusl25ktz856ecuvi6a</Key>
  <Sign_type>MD5</Sign_type>
  <Seller_email>wtbqyb@hotmail.com</Seller_email>
  <GateWay>http://wappaygw.alipay.com/service/rest.htm</GateWay>
  <VeryfyUrl>https://mapi.alipay.com/gateway.do?service=notify_verify&amp;</VeryfyUrl>
  <Logo>alipay.gif</Logo>
  <GetTokenService>alipay.wap.trade.create.direct</GetTokenService>
  <GetDataService>alipay.wap.auth.authAndExecute</GetDataService>
</Config>