<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <Partner>2088101000137799</Partner>
  <Key></Key>
  <Private_key>test</Private_key>
  <Public_key></Public_key>
  <Input_charset>utf-8</Input_charset>
  <Sign_type>RSA</Sign_type>
  <Seller_email></Seller_email>
  <GateWay><![CDATA[http://wappaygw.alipay.com/service/rest.htm]]></GateWay>
  <VeryfyUrl><![CDATA[https://mapi.alipay.com/gateway.do?service=notify_verify&]]></VeryfyUrl>
  <GetDataService>mobile.securitypay.pay</GetDataService>
  <Logo>alipay.gif</Logo>
  <SupportPlatfoms>
    <PlatformType>Android</PlatformType>
  </SupportPlatfoms>
</Config>