
@{
    ViewBag.Title = "CashDepositDetail";
}

<script src="~/Scripts/jquery.hiMallDatagrid.js"></script>

<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-datetimepicker.min.css">
<script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="~/Areas/Admin/Scripts/CashDepositDetail.js"></script>
<style type="text/css">
	.custom-inline .form-group{
		float: left;
	}
</style>
<div class="container">
    <ul class="breadcrumb clearfix">
        <li><a href="../Management">保证金管理</a></li>
        <li class="active"><a>查看保证金明细</a></li>
    </ul>
    <div id="shopToolBar">
        <div class="search-box only-line">
            <form class="custom-inline" role="form">
                <div class="form-group">
                    <label class="label-inline" for="">操作人</label>
                    <input class="form-control input-ssm" type="text" id="name">
                </div>

                <div class="form-group">
                    <label class="label-inline" for="">开始日期</label>
                    <input id="inputStartDate" class="form-control input-ssm start_datetime" type="text" >
                </div>
                <div class="form-group">
                    <label class="label-inline" for="">结束日期</label>
                    <input id="inputEndDate" class="form-control input-ssm end_datetime" type="text" >
                </div>
                <input type="button" class="btn btn-primary btn-sm" id="searchBtn" value="搜 索">
            </form>
        </div>
    </div>
    <table class="table" id="shopDatagrid"></table>
    <input type="hidden" value="@ViewBag.Id" id="cashDepositId" />
</div>
<script src="~/Scripts/datetimeCustom.js"></script>
