
@{
    ViewBag.Title = "Management";
}
<script src="~/Scripts/jquery.hiMallDatagrid.js"></script>
<script src="~/Areas/Admin/Scripts/topicManagement.js"></script>


<div class="container clear-v43">
    <ul class="nav nav-tabs-custom clearfix">

        <li class="active"><a>PC端专题列表</a></li>
        <li><a href="add">新增专题</a></li>

    </ul>
    <table id="topicGrid" class="table mt20"></table>
</div>
