@charset "utf-8";

 
/* common start */
.aui_outer { text-align:left; outline: 0; border:5px solid rgba(0,0,0,.1);border-radius: 5px;}
table.aui_border, table.aui_dialog { border:0; margin:0; border-collapse:collapse;}
table.aui_dialog{background-color: #fff; width:100%;}
.aui_nw, .aui_n, .aui_ne, .aui_w, .aui_c, .aui_e, .aui_sw, .aui_s, .aui_se, .aui_header, .aui_tdIcon, .aui_main, .aui_footer { padding:0; }
.aui_header, .aui_buttons button { font: 12px/1.11 'Microsoft Yahei', Tahoma, Arial, Helvetica, STHeiti; _font-family:Tahoma,Arial,Helvetica,STHeiti; -o-font-family: Tahoma, Arial; }
.aui_title { overflow:hidden; text-overflow: ellipsis; font-weight:bold; }
.aui_state_noTitle .aui_title { display:none; }
.aui_close { display:block; position:absolute; text-decoration:none; outline:none; _cursor:pointer; }
.aui_close:hover { text-decoration:none; }
.aui_main { text-align:center; min-width:9em; min-width:0\9/*IE8 BUG*/; }
.aui_content { *zoom:1; *display:inline; text-align:left; border:none 0; width: 100%; color:#666;box-sizing: border-box;}
.aui_content.aui_state_full { display:block; width:100%; margin:0; height:100%; padding:0 !important }
.aui_loading { width:96px; height:32px; text-align:left; text-indent:-999em; overflow:hidden; background:url(../images/loading.gif) no-repeat center center; }
.aui_icon { vertical-align: middle; }
.aui_icon div { width:48px; height:48px; margin:10px 0 10px 10px; background-position: center center; background-repeat:no-repeat; }
.aui_buttons { padding:10px; text-align:center; white-space:nowrap; border-top:solid 1px #f2f2f2; }
.aui_buttons button { display: inline-block;margin-bottom: 0;font-weight: normal;vertical-align: middle;cursor: pointer;background-image: none;border: 1px solid transparent;white-space: nowrap;padding: 3px 15px; font-size:14px;line-height: 20px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;color: #333;background-color: #fff;border-color: #ccc; margin:0 10px; outline:0 !important;transition:background linear .2s}
.aui_buttons button:active{box-shadow: inset 0 3px 5px rgba(0,0,0,.125);}
.aui_buttons button[disabled] { cursor:default; color:#666; background:#DDD; border: solid 1px #999; }
button.aui_state_highlight {color: #fff;background-color: #e3393c;border-color: #EA2A2D;}
/* common end */

.aui_nw, .aui_ne, .aui_sw, .aui_se { width:0; height:0; }
.aui_titleBar { position:relative; height:100%; }
.aui_title {padding:0 10px; font-size: 14px;line-height:36px; height:36px;color: #4c5a5f;text-shadow: 0 1px 0 #fff; background:#f5f5f5;}
.aui_close { padding:0; top:8px; right:4px; width:21px; height:21px; line-height:21px; font-size:18px; color:#68767b; text-align:center; font-family: Helvetica, STHeiti; _font-family: Tahoma, '\u9ed1\u4f53', 'Book Antiqua', Palatino; text-shadow:0 1px 0 rgba(255, 255, 255, .9); outline:0 !important;text-decoration:none !important  }
.aui_close:hover { color:#4aa3df }
.aui_close:active { box-shadow: none; text-decoration:none}
.aui_state_noTitle .aui_close{ top:0; right:0; display:none}
.aui_state_noTitle .aui_buttons{ text-align:center}
.aui_state_noTitle .aui_buttons button{ font-size:12px; line-height: 18px; margin:0 6px;}
.aui_state_noTitle .aui_content{ padding:0!important}

.tips-custom{ padding:20px; font-size:14px; max-width:300px;}
.tips-custom i.icon{ width: 48px;height: 48px; display:inline-block; margin-right:10px; background:url(../images/icon48.png) no-repeat;vertical-align: middle;}
.tips-custom i.error-icon{ background-position:-48px 0;}
.tips-custom i.warning-icon{ background-position:-96px 0;}


