/* CSS Document   */

@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1465724175'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1465724175#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.ttf?t=1465724175') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1465724175#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont { font-family:"iconfont" !important; font-size:14px; font-style:normal;}
.icon-chakanjifen:before { content: "\e602"; }
.icon-chakanlibao:before { content: "\e603"; }
.icon-chakanyouhuiquan:before { content: "\e604"; }
.icon-gerenzhongxin:before { content: "\e605"; }
.icon-jiarugouwuche:before { content: "\e601"; }
.icon-lijigoumai:before { content: "\e606"; }
.icon-xianshigou:before { content: "\e600"; }

* { margin: 0; padding: 0; }
body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, h5, h6, p, pre, table, caption, th, td, form, legend, fieldset, input, button, select, textarea, em, i { margin: 0; padding: 0; outline: 0 none; font-weight: normal; font-style: normal; font-size: 100%; font-family: inherit; }
table { border-collapse: collapse; word-break: break-all }
input { font: 12px/1.5 tahoma,Arial, 'microsoft yahei', 'SimSun'; }
ol, ul, li { list-style: none; }
img { border: 0 none; display: block; font-size: 0; vertical-align: top }
body { color: #666; background: #fff; font: 12px/1.5 Arial, 'microsoft yahei', 'SimSun'; _background-image: url(about:blank); /* for IE6 */ _background-attachment: fixed; }
.cl,.clearfix { zoom: 1; }
.cl:after,.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow: hidden }
.clr { display: block; overflow: hidden; clear: both; height: 0; line-height: 0; font-size: 0; }
.dis { display: block; }
.undis { display: none; }
.banner, .content, .header, .top{ width: 1190px; margin: 0 auto; }
.w990 { width: 990px; margin: 0 auto; }
.nav-bar { width: 100%; margin: 0 auto; }
.content { position: relative;}
span { display: inline-block }
.fl { float: left; }
.fr { float: right }
.fn { float: none }
.unfb { font-weight: normal }
.dis_inline { display: inline; }
.no_border { border: none; }
.red{color: #e3393c;}
.center { text-align: center }
a { text-decoration: none; color: #666; }
a:hover { color: #e3393c; text-decoration: none; }
.m, .mt, .mc, .mb, .sm, .smt, .smc, .smb { zoom: 1; }
q::before, q::after { content: ''; }
.p-simsun { font-family: simsun; }
.banner, .content, .header, .top, .warp{width:1190px;margin:0 auto;}



/*top nav
------------------*/
.top { width: 100%; line-height: 31px; background: #f5f4f4; color:#7f7f7a;  position: relative;z-index: 1000;border-bottom:1px solid #e6e6e6; }
.top span { display: inline }
.top .warp{width:1190px;margin:0 auto}
.top a{color:#7f7f7a}
.top .top-link{ float:left;}
.top .top-link em{color:#3e3a39;padding-left:5px;}
.top .top-link a{ margin-left:10px; color:#e3393c;}
.top .login-regin{width:200px;float:left;margin-left:44px}
.top .login-regin li{float:left;  height:31px; line-height:31px;}
.top .login-regin li a{ float:left; margin-right:5px;}
.top .login-regin li.L-line::after{content:"|";padding:0 11px;color:#e6e6e6;}
.top .hover dt { background: #fff; border: 1px solid #DDD; border-bottom: 0; height: 28px; }
.top .hover .blank { position: absolute; z-index: 1; top: 23px; left: 4px; width: 95%; height: 8px; overflow: hidden; background: #fff; }
.top .dropdown-menu { display: none }
.top .hover .dropdown-menu, .top .hover .outline { position: absolute; border: 1px solid #ddd; background: #fff; -moz-box-shadow: 0 0 10px rgba(0,0,0,.12); -webkit-box-shadow: 0 0 10px rgba(0,0,0,.12); box-shadow: 0 0 10px rgba(0,0,0,.12); }
.top .hover .dropdown-menu { top: 30px; display: block }
.top .hover .outline { z-index: -1; left: 3px; top: 3px; width: 95%; height: 28px; }
.top li s { top: 9px; left: 0; width: 0; height: 12px; border-left: 1px solid #ddd; overflow: hidden; position: absolute; }
.top li b {transition: transform .2s ease-in 0s; -webkit-transition: -webkit-transform .2s ease-in 0s; display:inline-block;width:0;height:0;border-style:solid;border-color:#cecece transparent transparent;border-width:4px 4px 0;margin-left:3px;position:relative;top:-3px; }
.top li.hover b { transform: rotate(180deg); -webkit-transform: rotate(180deg); }
.top .quick_list { float: right; height: 30px; }
.top .quick_list li { height: 31px;line-height:31px; padding: 0 11px 0 11px; float: left; position: relative; }
.top .quick_list li a em{ color:#e3393c;}
.top .quick_list .dropdown-menu{ left: 3px;}
.top .quick_list .dropdown-menu li{ line-height: 25px; height: 25px;  display: block;white-space: nowrap; }
.top .quick_list li.service,.top .quick_list li.moblie-qrcode,.top .quick_list li.app-qrcode,.top .quick_list li.sitemap{ z-index: 12; padding-right:16px; }
.top .in-order{ width:48px; z-index: 12;}
.top .in-order .dropdown-menu { width: 100px; }
.top .mycenter .dropdown-menu { width: 90px; }
/*.top .sitemap .dropdown-menu {width: 96px; }*/
.top .quick_list .sitemap ul li { width: 100%; height: auto; padding: 0; }
.top .sitemap ul li p { padding: 4px 0 4px 9px; line-height: 20px; font-weight: 700; }
.top .sitemap ul li div { margin: 0 9px; line-height: 22px; overflow: hidden; padding-bottom: 3px; border-bottom: 1px solid #f2f2f2; }
.top .sitemap ul li div span { margin:0 10px; float: left }
.top .moblie-qrcode .dropdown-menu,.top .app-qrcode .dropdown-menu{ width:90px; padding:10px;}

.top .quick_list li.service:before{content:"";background-image:url(../Images/Himall_web.png);background-repeat:no-repeat;background-position:-1403px 0;width:1px;height:12px;display:inline-block;position:absolute;left:0px;top:9px;}
.top span#shopping-amount{color:#494e52;padding:0 4px;}
.top em.shopping-cart{display:inline-block;width:14px;height:12px;background-image:url(../Images/Himall_web.png);background-repeat:no-repeat;background-position:-1377px -26px;margin-right:8px;position:relative;top:1px;}
/*header
---------------------*/
.header{ width:100%; background-color:#fff;}
.search-bar { height: 90px; padding-top:30px;  width: 1190px; margin: 0 auto;position:relative;z-index: 999;}
.logo { float: left; width:200px;max-height:60px;}
.logo img{  display: inline-block; max-width:200px;max-height:60px;}
.search-bar .top-head-ad{width:160px;height:80px;position:absolute;right:0;top:20px}
.search { float: right; position: relative;right:300px;width:590px;height:38px;}
.search-form { margin-bottom: 4px; position:relative;border: 2px solid #dd0207 ;}
.search-form input { float: left }
.search-form .text { width: 450px; height:34px; padding-left:12px;position:relative;left:56px; background-color: #fff; line-height:34px; color: rgb(51, 51, 51); font-size: 12px;border-right: 0;border:0 none;}
.search-form .button { background:#dd0207 ; width:67px; font-size: 15px;  color: #fff; cursor: pointer; line-height: 34px;letter-spacing:2px;border-left:1px solid #f45670;float:right;border:0 none;}
.hot-search { height:20px; color: #999; overflow: hidden; margin-top:5px;}
.hot-search strong { float: left; font-weight: 400; }
.hot-search a {margin-right:10px; font-size:12px; cursor:pointer;}
.hot-search a:first-child{ border:0;}
.hot-search a.active{color:#e3393c}
.search-form ul{ position:absolute;left:0;background-color:#fff;  width: 55px;line-height: 32px; font-size: 12px; box-shadow:0 2px 4px #ddd; border:1px solid #ddd; z-index:2; display:none;}
.search-form ul li{ cursor:pointer; text-indent:12px;}
.search-form ul li:hover{ color: #e3393c;}
.search-form label{ position:absolute;left:0; width:55px; text-indent:12px; font-size:12px; line-height:34px; cursor:pointer; color:#484e52;border-left:1px solid #fcd5db;}
.search-form label:after{ content:''; position:absolute; top:15px; right:0; border-top:5px solid #cecece; border-left:4px dashed transparent; border-right:4px dashed transparent; font-size:0; width:0; height:0;}
.search-form .dropdown-menu{ width: 462px;}

.hot-search .ffred{color:#ff0000!important;cursor: pointer;}

.my-shop { float: right; position: relative; z-index: 9; width: 126px; height: 36px; margin-right:60px; }
.my-shop .dropdown-btn { position: absolute; z-index: 3; width: 84px; height: 34px; padding: 0 20px 0 28px; border: 1px solid #dedede; background: url(../Images/20130330A_2.png) no-repeat -110px -53px #F7F7F7; cursor: pointer; text-align: center; }
.my-shop .dropdown-btn a { line-height: 34px; }
.my-shop.hover .dropdown-btn { height: 32px; border: 1px solid #E3E3E3; border-bottom: 0; background-position: -115px -114px; background-color: #fff; -moz-box-shadow: 0 0 10px #DDD; -webkit-box-shadow: 0 0 10px #DDD; box-shadow: 0 0 10px #DDD; }
.my-shop .dropdown-btn b { top: 12px; right: 4px; width: 0; height: 0; border-style: dashed dashed dashed solid; border-width: 5px; border-color: transparent transparent transparent #CCC; overflow: hidden; position: absolute; }

.shop-head-box{ float:left; margin-left:20px;}
.shop-head-box .shop-service{ display:inline-block; width:180px;vertical-align: top;}
.shop-head-box .shop-service h3{ font-size:15px; color:#393d3e;}
.shop-head-box .shop-service p{ margin-top:3px; font-size:0;}
.shop-head-box .shop-service p img{ margin-right:7px; vertical-align:bottom !important;}
.shop-head-box .shop-score{ display:inline-block;}
.shop-head-box .shop-score li{ display:inline-block; width: 50px; text-align:center;}
.shop-head-box .shop-score li h3{ font-size:14px; color:#494e52;}
.shop-head-box .shop-score li p{ color:#e92836; font-size:13px; margin-top:8px;}
.shop-head-box .shop-score li i{ display:inline-block; width:8px; height:10px; margin-right:5px; background:url(../Images/cicon.png) no-repeat;}
.shop-head-box .shop-score li .up i{ background-position:-62px -19px}
.shop-head-box .shop-score li .down i{ background-position:-62px -36px}
.shop-head-box .shop-moblie{ display:inline-block; width:40px; position:relative; z-index:6; margin-left:15px;}
.shop-head-box .shop-moblie span{ text-align:center; color:#393d3e;}
.shop-head-box .shop-moblie i{ display:block; width:100%; height:23px; background: url(../Images/cicon.png) no-repeat 0 -28px; margin-bottom:5px;}
.shop-head-box .shop-moblie div{ display:none; position:absolute; left:0; top:45px; border:1px solid #e4e4e4; background-color:#fff;}
.shop-head-box .shop-moblie:hover div{ display:block;}
.shop-head-box .shop-moblie img{ width:140px; height:140px;}

.shop-head-search .search-form .text { width:340px; }
.shop-head-search .search-form .button{font-size: 20px;  line-height: 36px;}
.shop-head-search .search-form label{ line-height:36px;}
.shop-head-search .search-form label:after{ top:14px;}
.shop-head-search{right:0;width: 500px;}


.site-app{ display:inline-block; position:relative; z-index:889; margin: 3px 0 0 16px; float:right; cursor:pointer;right:300px;}
.site-app i{ display:block; width:42px; height:36px; background: url(../Images/cicon.png) no-repeat 0 -54px;}
.site-app div{ display:none; position:absolute; left:-50px; top:50px; background-color:#fff; box-shadow:0 3px 6px rgba(0,0,0,0.4)}
.site-app:hover div{ display:block; text-align:center;}
.site-app img{ width:90px; height:90px;}
.top .app-qrcode .dropdown-menu h3{color:#494e52;line-height:18px;padding-top:10px;}
.top .app-qrcode .dropdown-menu p{ color:#e50112;line-height:18px;}

/*nav bar
---------------------*/

.categorys { position: absolute; top: 0; left: 0; width: 200px; height:37px; background-color:#dd0207;}
.cate-all {  font-size: 16px; }
.cate-all a { color: #fff; margin-left: 14px;padding-left:31px; line-height: 35px;background-image:url(../Images/HIMALL_admin11_04_03.png);background-repeat:no-repeat;background-position:left center; }
.cate-all a:hover{ color:#fff;}
.categorys .mc { position: absolute; top:37px;left: 0; width: 200px; height:480px;overflow: visible;border: 0;background-color:#3d4851;padding-top:4px;padding-bottom:6px;}
.categorys .item { width: 200px; height: 32px; }
.categorys span { display: block; width: 200px; position: absolute; z-index: 1;}
.categorys h3 { width: 155px;padding-left:14px; height: 32px; line-height: 32px; font-size: 13px; overflow: hidden; color: #fff; position: relative; }
.categorys h3 a { color: #fff;}
.categorys h3 i{width:24px;height:24px;display:inline-block;margin-right:12px;position:relative;top:3px;float:left;display:none;}
.categorys h3 i:first-child{display:block;}
.categorys h3 i img{width:24px;height:24px}
.categorys s { display: block; position: absolute; top: 8px; left: 189px; width: 9px; height: 16px; background-position:-107px -42px; background-image: url(../Images/20130330A_2.png); background-repeat: no-repeat; }
.categorys h3 a:hover, .categorys h3 a:active { color: #fff; text-decoration: none; }
.categorys .item .category-details { display: none; position: absolute; left: 200px;width:780px; top: 0;border-top: 0; background: #fff; overflow: hidden; }
.categorys .subitem { float: left; width: 600px; min-height: 490px; display:table; }
.categorys .item .category-details .cate-right{width:180px;float:left;background-color:#f7f7f7;height:490px;overflow:hidden;}
.categorys .cate-right h5{line-height:38px;text-align:center;font-size:12px;color:#3e3a39}
.categorys .cate-right img{margin-left:45px;margin-bottom:8px;width:100px;height:50px;}

.categorys .subitem dl { overflow: hidden; zoom: 1; width:540px; margin-left:30px;padding:15px 0;display: inline-block;vertical-align: top; *display:inline; *zoom:1;border-bottom:1px dashed #dbdbdb}
.categorys .subitem .first dd { border-top: 0; }

.categorys .subitem dt a { color: #3e3a39; }
.categorys .subitem dt { line-height:25px;float:left;width:90px;color:#3e3a39;padding-top:3px; }
.categorys .item dd { overflow: hidden; zoom: 1;width:390px;float:left;color:#757a7f;font-size:13px; }
.categorys .item dd a { color: #757a7f;display: block; }
.categorys .item dd a:hover{ color:#e3393c; text-decoration:none;}
.categorys .subitem em { float: left; margin-right: 15px; line-height: 28px; white-space:nowrap}
.categorys .subitem p{ font-size:18px; color:#000; border-left:5px solid #e3393c; line-height:20px; margin:20px 0 20px 30px;display:none;}
.categorys .subitem p a{ color:#000; padding-left:10px;}
.categorys .subitem p a:hover{ color:#e3393c}


.categorys .item .categorys-brands h5 { padding: 3px 6px 0 9px; font-weight: 700; font-size: 16px; color: #101010; }
.categorys .categorys-brands ul { padding-top: 6px; line-height: 20px; padding-left: 7px; overflow: hidden; }
.categorys .categorys-brands ul li { line-height: 35px; background: #ebebeb; height: 35px; text-align: center; width: 110px; margin-top: 3px; margin-right: 3px; float: left; }
.categorys-promotions img { margin-bottom: 4px }
.categorys-promotions { display: none; }
.categorys .hover span { z-index: 13; }
.categorys .hover h3 { background-color: rgba(255, 255, 255, 0.2); overflow: hidden;width:185px;margin-left:2px;padding-left:12px; }
.categorys .hover h3 a { color: #fff; }
.categorys .hover .category-details { display: block; z-index: 12; }

.nav-bar { background: #fff; border-bottom:1px solid #d2041f;  position: relative; z-index: 888; }
.nav-bar .nav-content { position: relative; z-index: 6; padding-left: 200px; width: 990px; margin: 0 auto; }
.nav { filter: none;  height:35px; overflow: hidden; }
.nav li { float: left; position: relative;margin-right:78px;}
.nav li.cur a, .nav li:hover a{ color: #f00f34;}
.nav li._banner.cur{ border-bottom:3px solid #e3393c;}
/*.nav li.cur a{border-bottom: 3px solid #e3393c;}*/
.nav li a { display: block;color:#373a40; font-size:15px; text-decoration: none; line-height:35px; transition:all .3s; }
._banner#homePage{margin-left:56px;}
.right-side{ position:fixed; right:0; top:0; height:100%; z-index: 1001;}
.right-side-menu{ height:100%; width:40px; background-color:#2a2a2e; position:relative;  float: left; }
.right-side-menu ul{ position:absolute; }
.right-side-menu ul.menu-top{ top:15%;}
.right-side-menu ul.menu-bot{ bottom:0;}
.right-side-menu ul.menu-bot li{ margin:0;}
.right-side-menu li{ width:40px; height:40px; margin:10px 0; cursor:pointer; position:relative;}

.right-side-menu ul li#right_customer s{position:relative;top:-10px;}
.right-side-menu ul s{ width:20px; border-bottom:1px solid #505053; display:block; margin-left:10px;}
.right-side-menu li span{ display:none; position: absolute; right: 60px; opacity:0; top: 0; width: 90px; height: 40px; line-height: 40px; text-align: center; color: #fff; background-color: #494949; -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2); -moz-box-shadow: 0 0 5px rgba(0,0,0,.2); box-shadow: 0 0 5px rgba(0,0,0,.2); position:absolute; }
.right-side-menu li span:before{ position:absolute; content:''; border-bottom:10px dashed transparent; border-top:10px dashed transparent;border-left:10px solid #494949; right:-5px; top:10px;}
.right-side-menu li i{ display:block; width:40px; height:40px;}
.right-side-menu li i s{ background:url(../Images/Himall_web.png) no-repeat;border:none;margin:auto;position:relative;}
.right-side-menu li i.user s{display:block;width:19px;height:19px;background-position:-1403px -26px;top:10px;}
.right-side-menu li i.cart s{ display:block;width:16px;height:14px;background-position:-1429px -0px;top:22px;}
.right-side-menu li i.asset s{display:block;width:16px;height:18px;background-position:-1429px -26px;top:10px}
.right-side-menu li i.at-shop s{display:block;width:17px;height:16px;background-position:-1455px 0;}
.right-side-menu li i.at-goods s{ display:block;width:17px;height:16px;background-position:-1455px 0;top:12px}
.right-side-menu li i.history s{display:block;width:19px;height:19px;background-position:-1455px -26px;top:10px}
.right-side-menu li i.go-top{ background-position:0 -280px;background-image:url(../Images/right.png)}
.right-side-menu li:hover,.right-side-menu li.active{ background-color:#e3393c;}
.right-side-menu li.side-cart{ height: 120px;  text-align: center; margin:0; padding:10px 0;}
.right-side-menu li.side-cart p{ color:#fff; padding:0 14px; margin:2px 0;}
.right-side-menu li.side-cart em{ display:inline-block;  padding: 0 3px; min-width: 14px; height: 20px; line-height: 20px; border-radius: 10px; background-color:#e3393c; color:#fff;}
.right-side-menu li .side-point{ display:none; position:absolute; right:40px; top: 0; width: 120px; line-height:30px; padding:10px 0; text-align: center; color: #fff; background-color: #494949; box-shadow: 0 0 5px rgba(0,0,0,.2); position:absolute; }
.right-side-menu li .side-point a{ background-color:#e3393c; border-radius:4px; padding:0 10px; margin:2px 0; color:#fff; display:inline-block; line-height:20px;}
.right-side-menu li .side-point:before{ position:absolute; content:''; border-bottom:10px dashed transparent; border-top:10px dashed transparent;border-left:10px solid #494949; right:-5px; top:10px;}

/*侧边栏客服*/
li#right_customer{width:40px;height:38px;padding:5px 0;position:relative;}
li#right_customer .customer{display:block;height:38px;width:40px}
li#right_customer .customer b{display:block;height:20px;width:40px;background-image:url(../Images/online_btn_03.png);background-position:center;background-repeat:no-repeat;background-size:18px;}
li#right_customer .customer em{font-size:12px;color:#d7d7d7;width:40px;text-align:center;display:block;}
li#right_customer .customer{background:none;}
.right-side-menu li#right_customer span{height:48px;width:102px;}
.right-side-menu li#right_customer span img{    display: inline-block; width: 20px; vertical-align: top; margin-top: 7px;}
.right-side-menu li#right_customer .online-service{width: 32px;display: inline-block;}
#right_customer .online-service .qq-img{width: 18px;height:18px; margin: 7px auto 5px;background-image:url(../Images/qq_icon.png);background-size:18px 18px;}
#right_customer .online-service em{font-size: 12px;display: block;color: #fff;height:12px;    text-align: center; width: 32px; overflow: hidden;white-space: nowrap; text-overflow: ellipsis;line-height:12px;text-align:center;}
#right_customer span:before{top:15px;}

.side-content{ background:#393939; height:100%; display:none; width:220px; float: left;}
.side-content .side-bd{ position:relative;}
.side-bd .cart-top{ height:28px; line-height:28px; background-color:#e6e6e6;}
.side-bd .cart-top label{ margin-left:13px;}
.side-bd .cart-top label input{ vertical-align: middle; margin-right:3px;}
.side-bd .cart-top a{ float:right; margin-right:18px;}
.side-bd .cart-list li{ padding-left: 8px; margin-top:16px; background-color: #fff;}
.side-bd .cart-list li:first-child{ margin:0;}
.cart-list .cart-list-shop{ height: 29px; line-height: 18px; overflow: hidden; background-color: #fff;}
.cart-list .cart-list-shop input[type="checkbox"]{margin:7px 5px; float:left;}
.cart-list .cart-list-shop p{ border-bottom: 1px solid #e6e6e6; padding: 5px 0; ;overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color:#333; width:119px;  float: left;}
.cart-list .cart-list-shop span{ color: #999; text-align:right; padding:5px 0; width:60px; float:right;border-bottom: 1px solid #e6e6e6; margin-right:10px;}
.cart-list .cart-list-goods{  position: relative; width: 100%; overflow: hidden; zoom: 1;}
.cart-list-goods input[type="checkbox"]{margin: 20px 5px 5px;float:left;}
.cart-list-goods img{ width: 50px;height: 50px;margin: 5px; float:left; }
.cart-list-goods .s-num{ float:left; width:59px; text-align:center;   margin-top: 21px; line-height:14px}
.cart-list-goods .s-num span{padding: 0 6px; line-height: 18px; background-color: #E05558; color: #fff; border-radius: 3px;}
.cart-list-goods .s-g-price{ float:left; width:60px; float:left; text-align:right; line-height:18px; padding-top:19px;}
/*.cart-list-goods i{ position:absolute; right:10px; top:3px; font-family:Tahoma; width:14px; height:14px; line-height:10px; text-align:center; text-align:center; background-color:#666; color:#fff; display:none; border-radius:100%;}
.cart-list-goods:hover i{ display:block;}*/
.side-cart-c{ position:relative; height:100%; background-color:#e6e6e6;}
.side-cart-c .side-bt{ bottom:20px; left:0; padding:0 15px; width:190px; position:absolute; background-color:#e6e6e6;}
.side-cart-c .side-bt input[type="button"]{ width:100%; height:40px; line-height:40px; text-align:center; color:#fff; background-color:#e3393c; border:0 none; cursor:pointer;}
.side-cart-c .side-bt input[type="button"]:hover{ background-color:#E22226;}

.side-cart-c .cart-total{ color:#333;  line-height: 30px;}
.side-cart-c .cart-total .total-money{ float:right; color:#e3393c;}
.side-content .side-hd{ position:relative; font-size: 14px; height: 35px; line-height: 35px; width: 100%; text-align: center; background-color:#393939;}
.side-content .side-hd a{ color:#fff;}
.side-content .side-hd .side-close{ display: block; position:absolute; left: 10px; top: 0; width: 35px; height: 35px; line-height:35px; color:#fff; font-family:'simsun'; cursor:pointer; font-weight:bold; }

.side-goods-list{ background-color:#393939; padding:10px 15px;}
.side-goods-list li{ width:100%; float:left; padding:10px 0; border-top:1px solid #666;}
.side-goods-list li:first-child{ border:none;}
.side-goods-list li img{ width:50px; height:50px; float:left; margin-right:10px;}
.side-goods-list li p{  height: 36px; overflow: hidden;}
.side-goods-list li p a{ color:#fff;}
.side-goods-list li p a:hover{ text-decoration:underline;}

.side-asset-total{ margin:5px 15px; background-color:#efefef; border-radius:3px;}
.side-asset-total div{ width:50%; float:left; padding:8px 0 10px; text-align:center; position:relative;}
.side-asset-total div:first-child:after{ content:'';  border-right: 1px solid #dfdfdf; position:absolute; height:40px; top:10px; right:0;}
.side-asset-total span{ width:100%; display:block; font-size:18px; line-height:24px;}

.side-asset-list{ padding:5px 14px; }
.side-asset-list p{ color:#fff; padding-top:10px;}
.side-asset-list ul{margin-top:10px;}
.side-asset-list li{ background-color:#fd7778; padding:10px; position:relative; }
.side-asset-list li:before{ background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAAAECAQAAABhe7jaAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAAAEgAAABIAEbJaz4AAAAJdnBBZwAAAMgAAAAEAIwF5NQAAABISURBVDjL7cYxFYAgFADAgxI+olDBFizWsoURSOLj2cEBRyP8hZsu1dvhwu70rke+b6Q6PQqGwnrkeyJj+q3HXjY00Iz14OMDOiIdQWtnq7QAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTQtMDQtMDFUMTY6MDQ6NTYrMDg6MDC7Xd3cAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE0LTA0LTAxVDE2OjA0OjU2KzA4OjAwygBlYAAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAASUVORK5CYII=) repeat-x; position:absolute; top:-2px; left:0; content:''; height:4px; width:100%;}
.side-asset-list li a{ color:#fff;}
.side-asset-list li h3{ font-size:12px; line-height:30px;height: 30px; color:#a44; position:relative; text-align:right;}
.side-asset-list li h3 span{ font-size:20px; width:60px; color:#fff;  position:absolute; bottom: -10px; left:0;text-align: left;}
.side-asset-list li h5{ font-size:12px; line-height:20px;height:20px; overflow: hidden;}
.side-asset-list li p{ padding:0 0 0 60px;color:#a44; text-align:right;}
.side-asset-list li.coupon-lg{ background-color:#ffc24d;}
.side-asset-list li.coupon-sm{ background-color:#3abec0;}
.side-asset-list li.coupon-lg h3,.side-asset-list li.coupon-lg p{ color:#b70;}
.side-asset-list li.coupon-sm h3,.side-asset-list li.coupon-sm p{ color:#13797b;}
.side-asset-list li.getCurCoupon{ cursor:pointer; position:relative;}
.side-asset-list li.getCurCoupon:after{ content:'立即领取'; width:24px; background:rgba(0,0,0,0.4); color:#fff; position:absolute; top:0; line-height:20px; right:0; padding:24px 10px; transition:all .3s;}
.side-asset-list li.getCurCoupon:hover:after{padding:24px 15px;}


.side-asset-c,.side-atgoods-c,.side-history-c{ display:none; height:100%;}
.side-asset-c .side-bd,.side-atgoods-c .side-bd,.side-history-c .side-bd{ height:95%;}







/*footer-------*/
.footer{ width:100%;}
/*.site-promise{ height:41px; padding:29px 0;}
.site-promise li{ float:left; padding:0 40px 0 90px; position:relative;}
.site-promise li b{ position:absolute; display:block; width:41px; height: 41px; margin-right:15px; background:url(../Images/20130330A_2.png) no-repeat; left:34px; top:0;  }
.site-promise li.fore1 b{ background-position:0 -55px;}
.site-promise li.fore2 b{ background-position:-50px -55px;}
.site-promise li.fore3 b{ background-position:0 -102px;}
.site-promise li.fore4 b{ background-position:-50px -102px;}
.site-promise li.fore5 b{ background-position:0 -148px;}
.site-promise li h3{ font-size:18px; color:#000;line-height: 25px;}
.site-promise li p{ color:#777;}*/
.site-footerimg{width:100%;height:106px;background-color:#f8f8f8;}
.site-footerimg img{width:1190px;height:106px;margin:50px auto 2px;display:block;}
.footer .warpa{width:100%;background-color:#f3f3f3;border-top:1px solid #d6d6d6;margin-top:1px;}
.footer-service .fc-logo{width:200px;height:100%;float:left}






.footer-service {width:1190px;margin:0 auto;padding-top:40px; border-top:1px solid #f7f7f7; }
.footer-service dl { float: left; width: 165px; }
.footer-service dt { position: relative; font-size: 15px ; zoom: 1; font-weight:bold;color:#323232;line-height:15px;padding-bottom:20px; }
.footer-service dt strong{ font-weight:bold; color:#323232;}
.footer-service dd { height:202px;overflow:hidden;}
.footer-service dl a{color:#494e52;}
.footer-service dl a:hover{color:#e50011;}
.footer-service dl p{font-size:14px;color:#494e52;line-height:14px;padding-bottom:10px;}
.footer-service .qrcode{ width:165px; float:right; text-align:center;}
.footer-service .fc-left{float:left;width:825px;overflow:hidden;}
.footer-service .qrcode img{width:78px;height:78px; display:inline;}
.footer-service .qrcode h3{ font-size:15px;margin-top:15px;color:#323232;font-weight:bold}
.footer-service .qrcode p{ color:#323232;font-size:14px;}
.copyright { text-align: center; padding:15px 0;  color:#fff; background:#fff; line-height:24px; background:#38383c;}
.copyright a{color:#fff;}
.copyright img { display: inline-block }

/*ajax-loading------*/
.ajax-loading { width: 100%; height: 100%; position: fixed; z-index: 999999; background-color: rgba(0, 0, 0, 0.2); transition: all ease-in-out .5s; top: 0; left: 0; display: none; }
.ajax-loading p { width: 100px; height: 100px; background: url('/Images/progress.gif') no-repeat center; border-radius: 5px;background-color:#000; background-color: rgba(0, 0, 0, 0.8); }


/*图片预览*/
.cover { width: 100%; height: 100%; position: fixed; top: 0; background-color: rgba(0,0,0,.2); z-index: 888; display: none; }
    .after-service-img img {
        width: 50px;
        height: 50px;
        margin-right: 5px;
        z-index:99999;
        position:relative;
        cursor:zoom-in;
        float:left;
    }
.preview-img{position:fixed;left:30%;top:20%; width:600px;height:400px;display:none;z-index:99999}
.preview-img img{height:100%;cursor:zoom-out;}

#pwdShow{
	     height: 30px;
    border: 1px solid gray;
    line-height: 29px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
}
#pwdShow span{
	      width: 8px;
    height: 8px;
    display: inline-block;
    background: #000;
    border-radius: 50%;
    vertical-align: middle;
}
