html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  margin: 0;
  padding: 0;
}
body {
  background: none repeat scroll 0 0 #fff;
  color: #666;
  font: 12px/150% Arial,Verdana,"宋体";
}
  #container {
    background: none repeat #f5f5f5;
  }
  #container .w {
  background: none repeat #f5f5f5;
}
.pt10 {
  padding-top: 10px;
}
.w {
  margin: 0 auto;
  width: 990px;
}
.g-0, .g-1, .g-2, .g-3, .g-3-5, .g-4, .g-5, .g-6, .g-7, .g-7-5, .g-8, .g-9, .g-a, .g-b, .g-c, .g-d, .g-e, .g-f, .g-g, .g-h, .g-i, .g-j, .g-k, .g-l, .g-m, .g-n {
  float: left;
}
.g-0 {
  width: 100%;
}
.clr {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
}
.mod-comm {
  padding: 10px 20px 20px;
}
.mod-main { margin:0 auto; width:970px; overflow:hidden; margin-bottom:10px;
  background: none repeat scroll 0 0 #fff;
 text-align:center;
  padding: 10px;
}
.mod-main .mt:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.mod-comm .mt {
  padding: 10px 0;
}
.mt, .smt {
  cursor: default;
}
.mod-main .mt h3 {
  color: #333;
  float: left;
  font-family: "microsoft yahei";
  font-size: 12px;
  line-height: 20px;
}
.mod-comm .mc {
  line-height: 20px;
}
.mod-main .mc {
  overflow: visible;
}
.m, .mt, .mc, .mb, .sm, .smt, .smc, .smb {
  overflow: hidden;
}
.stepflex:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
#sflex04 {
  width: 640px;
}
.stepflex {
  border-top: 5px solid #ccc;
  margin: 30px auto;
  text-align: center;
}
.stepflex {
  display: block;
}
dl.doing {
  border-top-color: #7abd54;
}
.stepflex dl {
  border-top: 5px solid #ccc;
  float: left;
  position: relative;
  top: -5px;
  width: 160px;
}
.doing .s-num {
  background-position: -23px 0;
}
.s-num {
  background-image: url("../Images/step2013.png");
  color: #fff;
  font-weight: 700;
  height: 23px;
  line-height: 23px;
  margin: -15px auto 0;
  position: relative;
  width: 23px;
}
.doing .s-text {
  color: #7abd54;
}
.doing s {
  background-position: -23px -24px;
}
.first s {
  background-color: #fff;
  background-position: 0 -24px;
}
.first s, .last b, .doing s, .doing b {
  background-image: url("../Images/step2013.png");
  font-size: 0;
  height: 5px;
  line-height: 0;
  overflow: hidden;
  position: absolute;
  top: -5px;
  width: 5px;
}
#content .formno {
  margin-left: 200px;
}
.form .item:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.form .item {
  display: block;
  line-height: 30px; 
  margin-bottom: 20px;
}
#content .form .item span.label {
  width: 130px;
}
.form .item span.label {
  float: left;
  height: 30px;
  line-height: 30px;
  text-align: right;
  width: 100px;
}
.btn-5:hover, .btn-6:hover, .btn-7:hover, .btn-8:hover { background-color: #E74347; color: #fff; text-decoration: none; }
.btn-5, .btn-6, .btn-7, .btn-8 { padding: 0 20px; line-height: 32px; background-color: #e3393c; border: 1px solid #e3393c; border-radius: 2px; color: #fff; display: inline-block; cursor: pointer; }
dl.doing {
  border-top-color: #7abd54;
}
.doing b {
  background-color: #ccc;
  background-position: -28px -24px;
}
.stepflex b {
  right: 0;
}
.doing s {
  background-position: -23px -24px;
}
.stepflex s {
  left: 0;
}
.last .s-num {
  background-position: -68px 0;
}
.s-num {
  background-image: url("../Images/step2013.png");
  color: #fff;
  font-weight: 700;
  height: 23px;
  line-height: 23px;
  margin: -15px auto 0;
  position: relative;
  width: 23px;
}
#content .form .text, #content .form .itxt {
  width: 157px;
}
#content .form input{  }
#content .form input.itxt{ height:28px/9; line-height:28px/9;}
.form .itxt, .form .text {
  padding: 5px 23px 5px 5px;
  width: 127px;
}
.form .itxt, .form .selt, .form .sele, .form .area {
  border: 1px solid #ccc;
  float: none; height:30px;
 
  padding: 5px;
}
.form label {
  float: none;
}
.ftx05, .ftx-05 {
  color: #005ea7;
}
.ml10 {
  margin-left: 10px;
}
img {
  vertical-align: middle;
}
.tip{width:200px;display:inline-block;}
.tip.tip-error {margin-left:130px;}
.tip-error span{color:red;}
.tip-pass{display:none;}
.name-confirm .tip.tip-error{margin:0;}

.done .s-num {
  background-position: -46px 0;
}
dl.done {
  border-top-color: #caecb6;
}
.done s {
  background-position: -46px -24px;
}
.doing.normal s {
  background-color: #caecb6;
}
#content .form .selt {
  width: 187px;
}
.last b {
  background-color: #fff;
  background-position: -5px -24px;
}
.btn-9, .btn-10, .btn-11, .btn-12 {
  background-color: #f7f7f7;
  background-image: linear-gradient(to top, #f7f7f7 0px, #f3f2f2 100%);
  border: 1px solid #ddd;
  border-radius: 2px;
  color: #323333;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  padding: 2px 14px 3px;
}
.btn-10, .btn-14 {
  padding: 5px 14px;
}
.fl {
  float: left;
}
.ftx01, .ftx-01 {
  color: #e4393c;
}
#content .formno {
  margin-left: 200px;
}
.safe-icon-box {
  margin: 10px 0 0 130px;
  position: relative;
}
.safe-icon-box .fore {
  line-height: 25px;
  margin-left: 58px;
}
.ftx04, .ftx-04 { text-align:left;
  color: #ff8a15;
}
.ftx03, .ftx-03 { text-align:left;
  color: #999;
}

.safe-icon-box .m-icon {
  background: url("../Images/icon48.png") left top no-repeat;
  display: inline-block;
  height: 48px;
  width: 48px;
}
.safe-icon-box .icon-warn02 {
  background-position: -96px 0;
}
.done .s-text {
  color: #caecb6;
}
.u-safe .safe-rank01, .u-safe .safe-rank02, .u-safe .safe-rank03, .u-safe .safe-rank04, .u-safe .safe-rank05, .u-safe .safe-rank06 {
  background: url("../Images/safe-rank2014.png") no-repeat;
  display: inline-block;
  font-size: 0;
  height: 14px;
  line-height: 0;
  margin-right: 10px;
  overflow: hidden;
  vertical-align: middle;
  width: 68px;
}
.u-safe .safe-rank02 {
    background-position: 0 -15px;
}
.u-safe .safe-rank03 {
    background-position: 0 -30px;
}
.u-safe .safe-rank04 {
    background-position: 0 -45px;
}
.u-safe .safe-rank05 {
    background-position: 0 -60px;
}
.u-safe .safe-rank06 {
    background-position: 0 -75px;
}
.doing.last .s-num {
  background-position: -91px 0;
}
.doing.last b {
  background-color: #fff;
}
.doing b {
  background-color: #ccc;
  background-position: -28px -24px;
}
.doing.last s {
  background-color: #caecb6;
}
.ftx02, .ftx-02 {
  color: #71b247;
}
a {
  color: #666;
  text-decoration: none;
}
#footer {
  padding-bottom: 30px;
  text-align: center;
}
#footer .copyright {
  margin: 10px 0;line-height:100px;
}

#logo {
  float: none;
  margin: 0;
  padding: 10px 0;
  position: relative;
}
a:link, a:visited {
  color: #333;
  text-decoration: none;
}
img {
  border: 0 none;
  display: block;
  font-size: 0;
  vertical-align: top;
}
#logo b {
  background: url("../images/login-all-bg.png") no-repeat scroll 0 -131px rgba(0, 0, 0, 0);
  height: 46px;
  left: 180px;
  position: absolute;
  top: 18px;
  width: 111px;
}
#timeDiv{
	  text-align: left;
    margin-left: 130px;
}
label#password_error,label#repassword_error{
	display: block;
	text-align: left;
    margin-left: 130px;
}
