/* CSS Document */
* { margin: 0; padding: 0; }
body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, h5, h6, p, pre, table, caption, th, td, form, legend, fieldset, input, button, select, textarea, em, i { margin: 0; padding: 0; outline: 0 none; font-weight: normal; font-style: normal; font-size: 100%; font-family: inherit; }
table { border-collapse: collapse; word-break: break-all }
input { font: 12px/1.5 Arial, Verdana, 'SimSun'; }
ol, ul, li { list-style: none; }
img { border: 0 none; display: block; font-size: 0; vertical-align: top }
body { color: #545454;  font: 12px/1.5 Arial, Verdana, 'SimSun'; _background-image: url(about:blank); /* for IE6 */ _background-attachment: fixed; }
.cl { zoom: 1; }
.cl:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow: hidden }
.clr { display: block; overflow: hidden; clear: both; height: 0; line-height: 0; font-size: 0; }
.fl { float: left; }
.fr { float: right }
a { text-decoration: none; color: #333; }
a:hover { color: #e4393c; text-decoration: underline }
a:visited { color: #333; text-decoration: none; }
.w { width: 990px; padding: 0; margin: 0 auto; zoom: 1; }
.top { width: 100%; border-bottom: 1px solid #eee; line-height: 30px; background: #F7F7F7; }
.top .favorite { float: left; padding: 0 11px 0 16px; position: relative; cursor: pointer }
.top .favorite i { top: 8px; left: 0; width: 13px; height: 13px; background: url(../images/20130725.png) no-repeat 0 0; cursor: pointer; position: absolute; transition: transform .2s ease-in 0s; -webkit-transition: -webkit-transform .2s ease-in 0s; }
.top .favorite:hover i { transform: rotate(720deg); -webkit-transform: rotate(720deg); }
.top .hover dt { background: #fff; border: 1px solid #DDD; border-bottom: 0; height: 28px; }
.top span { display: inline }
.top .hover .blank { position: absolute; z-index: 1; top: 23px; left: 6px; width: 73px; height: 8px; overflow: hidden; background: #fff; }
.top .address.hover .blank { width: 73px; }
.top .dropdown-menu { display: none }
.top .hover .dropdown-menu, .top .hover .outline { position: absolute; border: 1px solid #ddd; background: #fff; -moz-box-shadow: 0 0 10px rgba(0,0,0,.12); -webkit-box-shadow: 0 0 10px rgba(0,0,0,.12); box-shadow: 0 0 10px rgba(0,0,0,.12); }
.top .hover .dropdown-menu { top: 30px; display: block }
.top .hover .outline { z-index: -1; left: 5px; top: 3px; width: 73px; height: 28px; }
.top li s { top: 9px; left: 0; width: 0; height: 12px; border-left: 1px solid #ddd; overflow: hidden; position: absolute; }
.top li b { background: url(../images/20130330A_1.png) no-repeat -95px -55px; top: 13px; right: 8px; width: 7px; height: 4px; transition: transform .2s ease-in 0s; -webkit-transition: -webkit-transform .2s ease-in 0s; position: absolute; display: block; }
.top li.hover b { transform: rotate(180deg); -webkit-transform: rotate(180deg); }
.top .loginbar a { margin: 0 3px }
.quick_list { float: right; height: 30px; }
.quick_list li { height: 30px; padding: 0 11px 0 12px; float: left; position: relative; }
.service, .sitemap { width: 60px; z-index: 12; }
.service .dropdown-menu { width: 73px; left: 5px; }
.service .dropdown-menu li { padding: 0 0 0 6px; line-height: 22px; height: 22px }
.sitemap .dropdown-menu { left: -172px; width: 250px; }
.top .sitemap ul li { width: 100%; height: auto; padding: 0; }
.sitemap ul li p { padding: 4px 0 4px 9px; line-height: 20px; font-weight: 700; }
.sitemap ul li div { margin: 0 9px; line-height: 22px; overflow: hidden; padding-bottom: 3px; border-bottom: 1px solid #f2f2f2; }
.sitemap ul li div span { margin-right: 10px; float: left }
#logo { padding: 10px 0; float: none; margin: 0; position: relative; }
#logo img{ display: inline-block;}
#logo b { position: absolute;font-size:30px;text-align:center;background-color:#f1f1f1;  width: 150px; height: 46px; top: 18px; margin-left:20px; }
#regist { background: #FFF; margin-bottom: 10px; }
#regist .mt { padding-right: 10px; position: relative; overflow: visible; margin-bottom: -1px; border-bottom: 1px solid #dddddd; height: 32px; line-height: 32px; background: #f2f2f2 }
#regist .tab { height: 33px; padding-left: 277px; overflow: hidden; }
#regist .tab li { margin-right: 5px; margin-top: 3px; font-size: 14px; width: 100px; height: 28px; text-align: center; line-height: 28px; color: #F79100; float: left; }
#regist .tab li { background: #f7f7f7; border: 1px solid #dddddd; }
#regist .tab .curr { position: relative; color: #fff; background: #ffffff; color: #e4393c; height: 32px; line-height: 32px; font-weight: bold; margin-top: 0; -moz-box-shadow: 2px 0 2px #DDDDDD; -webkit-box-shadow: 2px 0 2px #DDDDDD; box-shadow: 2px 0 2px #DDDDDD; border-bottom: none; }
#regist .tab li a { display: block; width: 100px; height: 34px; }
#regist .tab li a:hover, #regist .tab li a:active { color: #333; text-decoration: none; }
#regist .tab li.line:hover { height: 31px; line-height: 31px; margin-top: 0; }
#regist .mt .extra { position: absolute; right: 20px; top: 5px; }
#regist .mc { padding: 30px 0 20px; border: solid #dddddd; border-width: 0px 1px 1px; }
.form { float: left; width: 750px; }
#regist .item { padding-top: 9px; height: 60px; line-height: 34px; position: relative; z-index: 1; }
.form label, .form input, .form select, .form textarea, .form button, .form .label { float: left; font-size: 12px; }
#regist .label { width: 190px; text-align: right; font-size: 14px; color: #999; padding-right: 10px; }
#regist .label b { margin-right: 5px; font-weight: normal; font-family: '宋体'; }
.ftx04, .flk04 a:link, .flk04 a:visited, a.flk04:link, a.flk04:visited { color: #e3393c; }
.ftx23, .flk23 a:link, .flk23 a:visited, a.flk23:link, a.flk23:visited { color: #999; }
.ftx13, .flk13 a:link, .flk13 a:visited, a.flk13:link, a.flk13:visited { color: #005AA0; }
#regist .item .item-ifo { position: relative; width: 270px; }
#regist #authcodeDiv .item-ifo { width: 380px }
#regist .text { width: 238px; height: 16px; padding: 10px 25px 10px 5px; border: 1px solid #cccccc; float: none; font-size: 14px; font-family: arial, "宋体"; color: #999; }
#regist .text:focus { border-color: #7abd54; }
#regist .text-1 { width: 100px; float: left; }
#regist .img img { margin: 0 5px; cursor: pointer; height: 36px; display: block; }
#regist .item-ifo i { position: absolute; right: 12px; top: 8px; z-index: 5; background: url(../images/login-all-bg.png) no-repeat #fff; }
#regist .item-ifo i.i-name { background-position: -373px -111px; width: 16px; height: 16px; }
#regist .item-ifo i.i-pass { background-position: -346px -108px; width: 14px; height: 19px; }
#regist .focus, #regist .error { color: #e4393c; line-height: 36px; height: 36px; position: absolute; top: 0px; right: -275px; width: 260px; padding: 0 5px; background: #FFEBEB; border: 1px solid #ffbdbe; }
#regist .null { background: none; border: none; background: none; }
#regist .error span, .focus span { padding: 5px 0; line-height: 13px; display: block; }
#regist .focus { color: #666; line-height: 36px; background: #f7f7f7; border: 1px solid #dddddd; }
#regist .null, #regist .error { color: #e3393c; }
#regist .blank { width: 16px; height: 16px; position: absolute; right: 4px; top: 9px; padding: 3px; float: none; }
#regist .succeed { background: url(../images/sucess.png) no-repeat #ffffff; }
#pwdstrength { color: #999; line-height: 22px; padding-right: 10px; clear: both; float: none; position: absolute; top: 41px; right: -9px; }
#regist .checkbox { margin: 10px 3px 3px; }
#regist .btn-regist { width: 270px; height: 36px; color: #FFF; font-family: "微软雅黑"; font-size: 16px; text-indent: -9999px; font-weight: 800; overflow: hidden; background: url(../images/regist-btn.jpg) no-repeat; border: none 0; }
#regist .btn-regist:hover { background: url(../images/hover-btn.jpg) no-repeat }
#footer { padding-bottom: 30px; text-align: center; }
#footer .links a, #footer .links span { margin: 0 10px; }
#footer .copyright { margin: 10px 0; }
