.alpha{
	position:fixed;
	top:0;
	left:0;
	z-index:10000001;
	width:100%;
	height:100%;
	background:#000;
	border:0;
	filter:alpha(opacity=15);
	opacity:.15;
}
.mimiBox{
	position:fixed;
	z-index:10000002;
	overflow:hidden;
	padding:0;
	top:0;
	margin:0;
	border:4px solid rgba(0,0,0,.1);
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	left:50%;
	top:50%;
	margin-left:-207px;
	margin-top:-202px;
}
.mimiWrap{
	border:1px solid #c4c4c4;
	width:410px;
	background:#fff;
}
.mimiTitle{
	height:31px;
	padding:0 10px;
	background:#f5f5f5;
	line-height:31px;
	font-family:arial,"b8bf53";
	font-size:14px;
	font-weight:700;
	color:#333;
	border:0;
	width:390px;
}
.mimiClose{
	display:block;
	position:absolute;
	z-index:100000;
	top:5px;
	right:10px;
	overflow:hidden;
	width:21px;
	height:21px;
	background:url(http://misc.360buyimg.com/lib/skin/2013/i/thickbox_close.png) no-repeat 0 0;
	font-size:0;
	line-height:100px;
}
.mimiCon{padding:10px;}
.mimiTitleBox{
	border-bottom: 1px solid #dddddd;
	height:30px;
	margin-bottom:-1px;
	overflow:visible;
	position:relative;
	padding-left:20px;
}
.mimiCurr{
	height: 30px;
    background: #FFF;
    margin-top: 0;
    color: #e4393c;
    font-weight: bold;
    line-height: 30px;
    width: 83px;
    border: 1px solid #dddddd;
    border-bottom:none;
    display:inline-block;
    margin-right: 5px;
    padding-right: 2px;
    font-size: 14px;
    text-align: center;
    float:left;
}
.mimiLimk{
	background: #f7f7f7;
    width: 83px;
    margin-top: 3px;
    padding-right: 2px;
    margin-right: 5px;
    text-align: center;
    line-height: 25px;
    color: #333;
    font-size: 14px;
    border: 1px solid #dddddd;
    border-bottom: none;

	display:inline-block;
	float:left;
	color: #333333;
	font-weight: normal;
	height: 27px;
	width: 83px;
}
.mimiLog{
	padding:25px 0 0 60px;
}
.mimiLogTitleMesg{
	color: #999999;
	height: 20px;
	line-height: 20px;
	font-size:12px;
	display:block;
	padding-top:5px;
}
.mimiInput{
	position: relative;
	width: 272px;
	display:block;
}
.mimiText{
	border: 1px solid #e1e1e1;
	float: none;
	font-family: arial,"宋体";
	font-size: 14px;
	height:24px;
	line-height: 24px;
	padding: 4px 20px 4px 3px;
	width: 245px;
	display:inline-block;
	box-sizing: content-box;
}
.i-name{
	background: url("http://passport.jd.com/new/misc/skin/df/i/one4.jpg") no-repeat;
	height: 16px;
	top: 8px;
	width: 16px;
	position: absolute;
	right: 10px;
}
.i-pass{
	background: url("http://passport.jd.com/new/misc/skin/df/i/one5.jpg") no-repeat;
	height: 19px;
	top: 8px;
	width: 14px;
	position: absolute;
	right: 10px;
}
.mimiBorder{
border: 1px solid #7abd54;
color: #333333;
}
.mimiBorder_error{
border: 1px solid #e3393c;
color: #e3393c;
}
.mimiError{
	position: absolute;
    width: 265px;
    padding: 3px 0 3px 3px;
    left: 0px;
    top: 34px;
    _top: 35px;
    border: 1px solid #ffbdbf;
    color: #e6393d;
    background: #ffebec;
    float: none;
    line-height: 20px;
    z-index: 10;
    font-size:12px;
    display:block;
}
.mimiAutoentry{
	height:40px;
	margin-top:10px;
	padding-top: 5px;
}
.mimiCheckbox{
	margin-top: 7px;
	font-size: 12px;
}
.mimiMar{
	display:inline-block;
	line-height: 26px;
	font-size:12px;
	color:#333;
}
.mimiBtn{
	height: 54px;
	line-height: 26px;
	overflow: visible;
	padding-top: 5px;
	position: relative;
}
.mimi_btn{
	background: #ED4548;
	font-family: "微软雅黑";
	height: 36px;
	line-height: 34px;
	margin: 10px 0 15px;
	text-align: center;
	width: 270px;
	padding-bottom: 5px;
	border:none;
	font-weight:700;
	font-size:18px;
	color:#fff;
	cursor:pointer;
}
.verification{
	border: 1px solid #e1e1e1;
	float: none;
	font-family: arial,"宋体";
	font-size: 14px;
	height:24px;
	line-height: 24px;
	padding: 4px 20px 4px 3px;
	width: 60px;
	display:inline-block;
}
.hide{display:none;}
.w60{width:60px;}
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
.miniTrust .minitrustBtn{ margin-top:5px;}
.minitrustBtn .btns{ margin-right:10px;vertical-align: bottom;}
.minitrustBtn .img2{ display:none;}
.minitrustBtn a:hover .img2{ display:block;}
.minitrustBtn a:hover .img1{ display:none;}