<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>Himall.Plugin.OAuth.QQ</PluginId>
  <DisplayName>QQ</DisplayName>
  <ClassFullName>Himall.Plugin.OAuth.QQ.Service,Himall.Plugin.OAuth.QQ</ClassFullName>
  <Description>QQ信任登录插件</Description>
  <Type>0</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <MinHimallVersion>1.0.0</MinHimallVersion>
  <MaxHimallVersion></MaxHimallVersion>
  <Enable>0</Enable>
</PluginInfo>