<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <Partner>2088202272252022</Partner>
  <key>e2b0bp2qhzgushxdks9271gxsqb0lq4e</key>
  <trade_type>1</trade_type>
  <Input_charset>gbk</Input_charset>
  <Sign_type>MD5</Sign_type>
  <gateWay><![CDATA[https://mapi.alipay.com/gateway.do]]></gateWay>
  <getCodeService>alipay.mobile.qrcode.manage</getCodeService>
  <Logo>alipay.gif</Logo>
  <HelpImage>alipay_help.jpg</HelpImage>
  <SupportPlatfoms>
    <PlatformType>PC</PlatformType>
  </SupportPlatfoms>
</Config>