@{
    ViewBag.Title = "我收藏的商品";
}
<div class="container">
    <div class="title">我收藏的商品</div>
    <ul class="search-list clearfix">
    </ul>
    <div class="loading hide" id="autoLoad"><span></span></div>
</div>
<script src="~/Areas/Mobile/Templates/Default/Scripts/ProductConcern.js"></script>
