@{
    ViewBag.Title = "我收藏的店铺";
}
<div class="container">
    <div class="title">我收藏的店铺</div>
    <ul class="search-list crossrange clearfix">
    </ul>
    <div class="loading hide" id="autoLoad"><span></span></div>
</div>
<input type="hidden" id="siteName" value="@ViewBag.SiteName" />
<script src="~/Areas/Mobile/Templates/Default/Scripts/ShopConcern.js"></script>