
@{
    ViewBag.Title = "平台公告";
}
<script src="~/Scripts/jquery.hiMallDatagrid.js"></script>
<script src="~/Areas/SellerAdmin/Scripts/Article.js"></script>

<div class="container ">
    <table id="list" class="table Sclear-A11"></table>
</div>

