@{
    Layout = "~/Areas/Web/Views/Shared/_SimpeHeadAndFoot.cshtml";
    ViewBag.Title = "找回密码-成功";
}
<div id="container">
    <div class="w pt10">
        <div id="main">
            <div class="g-0">
                <div id="content">
                    <div class="mod-main mod-comm">
                        <div class="mt">
                            <input type="hidden" name="key" id="key" value="@ViewBag.Key" />
                             <h3>找回密码</h3>
                        </div>
                        <div class="mc">
                            <div class="stepflex " id="sflex04">
                                <dl class="first done">
                                    <dt class="s-num">1</dt>
                                    <dd class="s-text">填写账户名<s></s><b></b></dd>
                                    <dd></dd>
                                </dl>
                                <dl class="normal done">
                                    <dt class="s-num">2</dt>
                                    <dd class="s-text">验证身份<s></s><b></b></dd>
                                </dl>
                                <dl class="normal done">
                                    <dt class="s-num">3</dt>
                                    <dd class="s-text">设置新密码<s></s><b></b></dd>
                                </dl>
                                <dl class="last doing">
                                    <dt class="s-num">&nbsp;</dt>
                                    <dd class="s-text">完成<s></s><b></b></dd>
                                </dl>
                            </div>
                            <div class="safe-icon-box formno">
                                <s class="icon-succ02 m-icon"></s>
                                <div class="fore">
                                    <h3 class="ftx-02">新密码设置成功！</h3>
                                    <div class="ftx-03">请牢记您新设置的密码。<a href="/">返回首页</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span class="clr"></span>
        </div>
    </div>
</div>
