@model Himall.Web.Areas.Admin.Models.Market.BonusModel

@{
    Layout = "";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>红包领取</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Mobile/Templates/Default/Content/custom.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
</head>
<body>
   
    <div class="container">
        <div class="con-weixin">
            <div class="bonus-qrcode"><img src="https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket=@ViewBag.ticket" /></div>
            <p>请先关注公众号</p>
            <h3>长按图中二维码关注</h3>
            <h5>完成关注后，将自动向您推送红包领取消息</h5>
        </div>

    </div>
</body>
</html>