<?xml version="1.0"?>
<PluginInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PluginId>Himall.Plugin.Payment.Alipay</PluginId>
  <DisplayName>支付宝</DisplayName>
  <ClassFullName>Himall.Plugin.Payment.Alipay.Service,Himall.Plugin.Payment.Alipay</ClassFullName>
  <Description>支付宝即时到账支付插件</Description>
  <PluginDirectory>E:\Projects\HiMall\branches\himall2.1\src\Web\Himall.Web\plugins\Payment\Himall.Plugin.Payment.Alipay</PluginDirectory>
  <Type>1</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <AddedTime>2015-10-28T11:20:46.7769299+08:00</AddedTime>
  <MinHimallVersion>1.0.0</MinHimallVersion>
  <MaxHimallVersion />
  <Enable>true</Enable>
  <DisplayIndex>0</DisplayIndex>
</PluginInfo>