<?xml version="1.0"?>
<PluginInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PluginId>Himall.Plugin.OAuth.WeiXin</PluginId>
  <DisplayName>微信</DisplayName>
  <ClassFullName>Himall.Plugin.OAuth.WeiXin.WXLoginPlugin,Himall.Plugin.OAuth.WeiXin</ClassFullName>
  <Description>微信信任登录插件</Description>
  <PluginDirectory>E:\Project\Himall_WM\trunk\src\Web\Himall.Web\plugins\OAuth\Himall.Plugin.OAuth.WeiXin</PluginDirectory>
  <Type>0</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <AddedTime>2015-04-13T17:36:35.011453+08:00</AddedTime>
  <MinHimallVersion>1.0.0</MinHimallVersion>
  <MaxHimallVersion />
  <Enable>false</Enable>
  <DisplayIndex>0</DisplayIndex>
</PluginInfo>