<?xml version="1.0"?>
<PluginInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PluginId>Himall.Plugin.Payment.Alipay_QRCode</PluginId>
  <DisplayName>支付宝扫码支付</DisplayName>
  <ClassFullName>Himall.Plugin.Payment.Alipay_QRCode.Service,Himall.Plugin.Payment.Alipay_QRCode</ClassFullName>
  <Description>支付宝扫码支付插件</Description>
  <PluginDirectory>E:\Project\Himall_WM\trunk\src\Web\Himall.Web\plugins\Payment\Himall.Plugin.Payment.Alipay_QRCode</PluginDirectory>
  <Type>1</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <AddedTime>2015-04-13T17:36:35.1494609+08:00</AddedTime>
  <MinHimallVersion>1.0.0</MinHimallVersion>
  <MaxHimallVersion />
  <Enable>false</Enable>
  <DisplayIndex>0</DisplayIndex>
</PluginInfo>