<?xml version="1.0"?>
<PluginInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PluginId>Himall.Plugin.Message.SMS</PluginId>
  <DisplayName>手机短信</DisplayName>
  <ClassFullName>Himall.Plugin.Message.SMS.Service,Himall.Plugin.Message.SMS</ClassFullName>
  <Description>短信通知插件</Description>
  <PluginDirectory>E:\Projects\NetworkAlliance\trunk\src\Web\Himall.Web\plugins\Message\Himall.Plugin.Message.SMS</PluginDirectory>
  <Type>3,5</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <AddedTime>2015-04-29T18:41:41.8941034+08:00</AddedTime>
  <MinHimallVersion>1.0.0</MinHimallVersion>
  <MaxHimallVersion />
  <Enable>false</Enable>
  <DisplayIndex>0</DisplayIndex>
</PluginInfo>