<?xml version="1.0"?>
<PluginInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <PluginId>Himall.Plugin.Payment.UnionPay</PluginId>
  <DisplayName>银联支付</DisplayName>
  <ClassFullName>Himall.Plugin.Payment.UnionPay.UnionPay,Himall.Plugin.Payment.UnionPay</ClassFullName>
  <Description>银联支付插件</Description>
  <PluginDirectory>E:\HimallSRC\src\Web\Himall.Web\plugins\Payment\Himall.Plugin.Payment.UnionPay</PluginDirectory>
  <Type>1</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <AddedTime>2016-05-14T16:56:54.5354419+08:00</AddedTime>
  <MinHimallVersion>1.0.0</MinHimallVersion>
  <MaxHimallVersion />
  <Enable>false</Enable>
  <DisplayIndex>0</DisplayIndex>
</PluginInfo>