<?xml version="1.0"?>
<PluginInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PluginId>Himall.Plugin.Payment.WeiXinPay_Native</PluginId>
  <DisplayName>微信扫码支付</DisplayName>
  <ClassFullName>Himall.Plugin.Payment.WeiXinPay_Native.WeiXinPay,Himall.Plugin.Payment.WeiXinPay_Native</ClassFullName>
  <Description>微信内支付</Description>
  <PluginDirectory>E:\Project\Himall_WM\trunk\src\Web\Himall.Web\plugins\Payment\Himall.Plugin.Payment.WeiXinPay_Native</PluginDirectory>
  <Type>1</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <AddedTime>2015-04-13T17:36:35.1624616+08:00</AddedTime>
  <MinHimallVersion>1.1.0</MinHimallVersion>
  <MaxHimallVersion />
  <Enable>true</Enable>
  <DisplayIndex>0</DisplayIndex>
</PluginInfo>