<?xml version="1.0"?>
<PluginInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PluginId>Himall.Plugin.Express.Zhongtong</PluginId>
  <DisplayName>中通快递</DisplayName>
  <ClassFullName>Himall.Plugin.Express.Zhongtong.Service,Himall.Plugin.Express.Zhongtong</ClassFullName>
  <Description>中通快递插件</Description>
  <PluginDirectory>E:\Project\Himall_WM\trunk\src\Web\Himall.Web\plugins\Express\Himall.Plugin.Express.Zhongtong</PluginDirectory>
  <Type>2</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <AddedTime>2015-04-13T17:36:34.9144474+08:00</AddedTime>
  <MinHimallVersion>1.0.0</MinHimallVersion>
  <MaxHimallVersion />
  <Enable>false</Enable>
  <DisplayIndex>0</DisplayIndex>
</PluginInfo>