<script src="~/Scripts/jquery.himallUpload.js"></script>
<script src="~/Scripts/jquery.placeholder.min.js"></script>
<script src="~/Scripts/bootstrap.autocomplete.js"></script>
<script src="~/Scripts/jquery.hiMallDatagrid.js"></script>
<script src="~/Areas/Admin/Scripts/WeiBigWheelManagement.js"></script>
<div class="container">
    <ul class="nav nav-tabs-custom clearfix">
        <li class="active"><a>管理</a></li>
        <li><a href="@Url.Action("Add", "WeiBigWheel", new { area = "Admin" })">新增</a></li>
    </ul>
    <div class="search-box">
        <form class="form-inline custom-inline">
            <div class="form-group">
                <label class="label-inline w75" for="">名称</label>
                <input type="text" class="form-control input-ssm" id="searchName" value=" " />
            </div>
            <div class="form-group">
                <button type="button" id="btnSearch" class="btn btn-primary btn-sm">搜索</button>
            </div>
        </form>
    </div>

    <table class="table clear-v26" id="list"></table>
</div>
