
@{
    ViewBag.Title = "BuyService";
}
<div class="container">
	<div class="form-horizontal">
        <div class="form-group">
            <p class="apply-primary"><span class="glyphicon glyphicon-info-sign"></span>您还未购买满额减服务或者服务己到期，<a href="@Url.Action("BuyMarketService")">现在购买</a></p>
        </div>
    </div>

</div>
