
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Close</title>
</head>
<style type="text/css">
body{ background-color:#f2f2f2}
.error{ background:url(/images/error.jpg) no-repeat center; padding:300px 0; position:relative; }
.error h3{ width:350px; position:absolute; left:50%; top:260px; margin-left:-40px; font-family:'microsoft yahei'; font-weight:normal; line-height:36px; color:#e3393c;font-size: 16px;}
.error h3 span{ color:#333;}
</style>
<body>
    <div class="error">
    	<h3>抱歉，网站已关闭！<span>请稍候重试，或者你可以联系管理员…</span></h3>
    </div>
</body>
</html>
