<script src="~/Scripts/jquery.himallUpload.js"></script>
<script src="~/Scripts/jquery.placeholder.min.js"></script>
<script src="~/Scripts/bootstrap.autocomplete.js"></script>
<script src="~/Scripts/jquery.hiMallDatagrid.js"></script>
<script src="~/Areas/Admin/Scripts/WinManagement.js"></script>

<div class="container">
    <ul class="nav nav-tabs-custom clearfix">
        <li class="active" value="2" type="statusTab"><a>所有参与</a></li>
        <li value="1" type="statusTab"><a>已中奖</a></li>
        <li value="0" type="statusTab"><a>未中奖</a></li>
            
    </ul>

    <table class="table clear-v26" id="list"></table>
</div>
