@{Layout = "/Areas/Mobile/Templates/Default/Views/Shared/_Base.cshtml";}<div class="container">@{Html.RenderPartial("~/Areas/Mobile/Templates/Default/Views/Shared/_SearchBox.cshtml");}<link rel="stylesheet" href="/Content/PublicMob/css/style.css" /><link rel="stylesheet" href="/Areas/Admin/templates/common/style/css.css" rev="stylesheet" type="text/css"><link rel="stylesheet" href="/Areas/Admin/templates/common/style/mycss.css" rev="stylesheet" type="text/css"><link rel="stylesheet" href="/Areas/Admin/templates/common/style/main.css" rev="stylesheet" type="text/css"><link rel="stylesheet" href="/Areas/Admin/templates/common/style/head.css">
        <div class="members_con">
            <section class="members_nav1">
                <ul class="pic-nav">
                    
                    
                     
                    <li class="lisw4">
                        <span><a href="#"><img class="img-responsive" src="/Content/Public/images/diy/waitupload.png"></a></span>
                        <a class="members_nav1_name" href="#">导航名称</a>
                    </li>
                    
                    
                     
                    <li class="lisw4">
                        <span><a href="#"><img class="img-responsive" src="/Content/Public/images/diy/waitupload.png"></a></span>
                        <a class="members_nav1_name" href="#">导航名称</a>
                    </li>
                    
                    
                     
                    <li class="lisw4">
                        <span><a href="#"><img class="img-responsive" src="/Content/Public/images/diy/waitupload.png"></a></span>
                        <a class="members_nav1_name" href="#">导航名称</a>
                    </li>
                    
                    
                     
                    <li class="lisw4">
                        <span><a href="#"><img class="img-responsive" src="/Content/Public/images/diy/waitupload.png"></a></span>
                        <a class="members_nav1_name" href="#">导航名称</a>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    @{Html.RenderPartial("~/Areas/Mobile/Templates/Default/Views/Shared/_4ButtonsFoot.cshtml");}</div><a class="WX-backtop"></a><script src="~/Areas/Mobile/Templates/Default/Scripts/home.js"></script>