@{
ViewBag.ShowAside = 2;//显示返回顶部按钮 
}
@{Layout = "/Areas/Mobile/Templates/Default/Views/Shared/_Base.cshtml";}
<div class="container">
@{Html.RenderPartial("~/Areas/Mobile/Templates/Default/Views/Shared/_SearchBox.cshtml");}
<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="~/Areas/Mobile/Templates/Default/Scripts/WeiXinShare.js"></script>
<script src="~/Areas/Mobile/Templates/Default/Scripts/IndexShare.js"></script>
<link rel="stylesheet" href="/Content/PublicMob/css/style.css" />
<link rel="stylesheet" href="/Areas/Admin/templates/common/style/css.css" rev="stylesheet" type="text/css">
<link rel="stylesheet" href="/Areas/Admin/templates/common/style/mycss.css" rev="stylesheet" type="text/css">
<link rel="stylesheet" href="/Areas/Admin/templates/common/style/main.css" rev="stylesheet" type="text/css">
<link rel="stylesheet" href="/Areas/Admin/templates/common/style/head.css">

            <div class="members_con">
                <section class="custom-space" style="height:10px;"></section>
            </div>
        
            <div class="members_con">
                <section class="custom-space" style="height:10px;"></section>
            </div>
        
            <div class="members_con" style="margin:0 auto">
                
                <section class="members_flash j-swipe" id="mySwipe">
                    <ul class="clearfix">
                        
                        
                        <li>
                            <a href="" title="">
                                
                                
                                <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628618805175785740683.jpg" width="100%" />
                                
                                
                            </a>
                        </li>
                        
                        <li>
                            <a href="" title="">
                                
                                
                                <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628618766113283326003.jpg" width="100%" />
                                
                                
                            </a>
                        </li>
                        
                        <li>
                            <a href="" title="">
                                
                                
                                <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628618785253918498880.jpg" width="100%" />
                                
                                
                            </a>
                        </li>
                        
                        
                    </ul>
                    <section class="members_flash_time">
                        
                        
                        <span class="cur" ></span>
                        
                        <span  ></span>
                        
                        <span  ></span>
                        
                        
                    </section>
                </section>
                
            </div>
        
            <div class="members_con">
                <section class="members_nav1">
                    <ul class="pic-nav">
                        
                        
                        
                        <li class="lisw4">
                            <span><a class="goodsimg" href="#"><div class="son"><img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628596613476562934749.jpg"></div></a></span>
                            <a class="members_nav1_name" href="#"></a>
                        </li>
                        
                        
                        
                        <li class="lisw4">
                            <span><a class="goodsimg" href="#"><div class="son"><img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628596619433606448075.jpg"></div></a></span>
                            <a class="members_nav1_name" href="#"></a>
                        </li>
                        
                        
                        
                        <li class="lisw4">
                            <span><a class="goodsimg" href="#"><div class="son"><img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628596628125004190645.jpg"></div></a></span>
                            <a class="members_nav1_name" href="#"></a>
                        </li>
                        
                        
                        
                        <li class="lisw4">
                            <span><a class="goodsimg" href="#"><div class="son"><img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628596637304695162461.jpg"></div></a></span>
                            <a class="members_nav1_name" href="#"></a>
                        </li>
                        
                        
                        
                    </ul>
                </section>
            </div>
        
            <div class="members_con">
                <section class="members_nav1">
                    <ul class="pic-nav">
                        
                        
                        
                        <li class="lisw4">
                            <span><a class="goodsimg" href="#"><div class="son"><img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628596649511727890940.jpg"></div></a></span>
                            <a class="members_nav1_name" href="#"></a>
                        </li>
                        
                        
                        
                        <li class="lisw4">
                            <span><a class="goodsimg" href="#"><div class="son"><img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628596660546883092001.jpg"></div></a></span>
                            <a class="members_nav1_name" href="#"></a>
                        </li>
                        
                        
                        
                        <li class="lisw4">
                            <span><a class="goodsimg" href="#"><div class="son"><img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628596672070312591234.jpg"></div></a></span>
                            <a class="members_nav1_name" href="#"></a>
                        </li>
                        
                        
                        
                        <li class="lisw4">
                            <span><a class="goodsimg" href="#"><div class="son"><img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628596683007812090467.jpg"></div></a></span>
                            <a class="members_nav1_name" href="#"></a>
                        </li>
                        
                        
                        
                    </ul>
                </section>
            </div>
        
            <div class="members_con">
                <section class="members_special titlestyle0 left">
                    <h2 class="j-title">
                        精选专题
                    </h2>
                    <!--<p class="j-subtitle">『副标题』</p>-->
                    <!--
                        <b>更多</b>
                    -->
                </section>
            </div>
        
            <div class="members_con" style="margin:0 auto">
                
                <section class="members_imgad">
                    <ul class="clearfix">
                        
                        
                        <li style="margin-bottom:10px">
                            <a href="" title="">
                                
                                
                                <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628629612988282888646.jpg" width="100%" />
                                
                                
                            </a>
                        </li>
                        
                        <li style="margin-bottom:10px">
                            <a href="" title="">
                                
                                
                                <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628629631152354832277.jpg" width="100%" />
                                
                                
                            </a>
                        </li>
                        
                        <li style="margin-bottom:10px">
                            <a href="" title="">
                                
                                
                                <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628629553710949002916.jpg" width="100%" />
                                
                                
                            </a>
                        </li>
                        
                        
                    </ul>
                </section>
                
            </div>
        <div class="scrollLoading" data-url="/m-wap/Home/GetTemplateItem/2015122192115986"><div class="htmlloading"></div></div><div class="scrollLoading" data-url="/m-wap/Home/GetTemplateItem/2015122192129706"><div class="htmlloading"></div></div>@{Html.RenderAction("GoodsListAction", "TemplateVisualizationProcess",new { Layout="2", ShowName="1", IDs="737", ShowIco="True", ShowPrice="True", DataUrl="/api/Hi_Ajax_GoodsList", ID="goods_492eeb6b1e9c4b2a9d5b76e37876ece2"});}<div class="scrollLoading" data-url="/m-wap/TemplateVisualizationProcess/GoodsListAction?Layout=2&ids=733&ShowIco=True&showPrice=True&showName=1&showWarp=false" data-gdid="goods_492eeb6b1e9c4b2a9d5b76e37876ece2"><div class="htmlloading"></div></div><div class="scrollLoading" data-url="/m-wap/TemplateVisualizationProcess/GoodsListAction?Layout=2&ids=732&ShowIco=True&showPrice=True&showName=1&showWarp=false" data-gdid="goods_492eeb6b1e9c4b2a9d5b76e37876ece2"><div class="htmlloading"></div></div><div class="scrollLoading" data-url="/m-wap/TemplateVisualizationProcess/GoodsListAction?Layout=2&ids=731&ShowIco=True&showPrice=True&showName=1&showWarp=false" data-gdid="goods_492eeb6b1e9c4b2a9d5b76e37876ece2"><div class="htmlloading"></div></div>@{Html.RenderPartial("~/Areas/Mobile/Templates/Default/Views/Shared/_4ButtonsFoot.cshtml");}
</div>
<a class="WX-backtop"></a>
<script src="~/Areas/Mobile/Templates/Default/Scripts/home.js"></script>
 <script src="~/Scripts/swipe-template.js"></script>
