@{
    ViewBag.Title = "页面未找到";
}

<style>
* { margin: 0; padding: 0; font-family: 'microsoft yahei','simsun'; }
body {background: #fff; }
.error-page { margin: 150px auto 0; width: 650px;overflow: hidden; }
.error-page img{ float: left; margin-right: 15px;}
.error-page h2 { font-size: 18px; margin-bottom: 10px; color: #020202; font-weight: normal; margin-top: 80px; }
.error-page p { font-size: 14px; }
.error-page a { color: #307bfb; text-decoration: none; }
</style>

<div class="error-page">
	<img src="/Images/errors.png" />
    <h2>抱歉，您访问的页面不存在</h2>
    <p><a href="/">返回首页</a></p>
</div>
