@{
ViewBag.ShowAside = 2;//显示返回顶部按钮 
}
@{Layout = "/Areas/Mobile/Templates/Default/Views/Shared/_Base.cshtml";}
<div class="container">
@{Html.RenderPartial("~/Areas/Mobile/Templates/Default/Views/Shared/_SearchBox.cshtml");}
<link rel="stylesheet" href="/Content/PublicMob/css/style.css" />
<link rel="stylesheet" href="/Areas/Admin/templates/common/style/css.css" rev="stylesheet" type="text/css">
<link rel="stylesheet" href="/Areas/Admin/templates/common/style/mycss.css" rev="stylesheet" type="text/css">
<link rel="stylesheet" href="/Areas/Admin/templates/common/style/main.css" rev="stylesheet" type="text/css">
<link rel="stylesheet" href="/Areas/Admin/templates/common/style/head.css">

        <div class="members_con" style="margin:10px auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                        
                            <li>
                                <a href="" title="">
                                    
                                    
                                    <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629396104296885445413.jpg" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="" title="">
                                    
                                    
                                    <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629396036230476289695.jpg" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="" title="">
                                    
                                    
                                    <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629396061035162746652.jpg" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="" title="">
                                    
                                    
                                    <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629396082324221745118.jpg" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                    
                </ul>
                <section class="members_flash_time">
                    
                    
                    <span class="cur" ></span>
                    
                    <span  ></span>
                    
                    <span  ></span>
                    
                    <span  ></span>
                    
                    
                </section>
            </section>
            
        </div>
    
        <form action="/m-Wap/search" method="get">
            <div class="members_con">
                <section class="members_search">
                    <input type="text" name="keywords" id="" value="" placeholder="搜索">
                    <label></label>
                </section>
            </div>
        </form>
    
        <div class="members_con" style="margin:10px auto">
            
            <section class="members_imgad">
                <ul class="clearfix">
                    
                    
                    <li style="margin-bottom:10px">
                        <a href="/m-wap/limittimebuy/detail/13" title="卡贝 厨房置物架壁挂 五金刀架用品收纳架 304不锈钢厨房挂件挂架">
                            
                            
                            <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629402302050787014068.jpg" width="100%" />
                            
                            
                        </a>
                    </li>
                    
                    <li style="margin-bottom:10px">
                        <a href="" title="">
                            
                            
                            <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629402314648449742546.jpg" width="100%" />
                            
                            
                        </a>
                    </li>
                    
                    <li style="margin-bottom:10px">
                        <a href="" title="">
                            
                            
                            <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629402270214852341957.jpg" width="100%" />
                            
                            
                        </a>
                    </li>
                    
                    <li style="margin-bottom:10px">
                        <a href="" title="">
                            
                            
                            <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629402287402351056344.jpg" width="100%" />
                            
                            
                        </a>
                    </li>
                    
                    
                </ul>
            </section>
            
        </div>
    
        <div class="members_con">
            <section class="members_nav2">
                <ul>
                    
                    
                    
                    <li><a href=""><span>满200减50</span></a><b></b></li>
                    
                    
                    
                    <li><a href=""><span>满300减60</span></a><b></b></li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con" style="margin:10px auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                        
                            <li>
                                <a href="" title="">
                                    
                                    
                                    <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629429119238285586278.jpg" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="" title="">
                                    
                                    
                                    <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629429143164062043235.jpg" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="" title="">
                                    
                                    
                                    <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629429163476562514284.jpg" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="" title="">
                                    
                                    
                                    <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629429098242195115229.jpg" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                    
                </ul>
                <section class="members_flash_time">
                    
                    
                    <span class="cur" ></span>
                    
                    <span  ></span>
                    
                    <span  ></span>
                    
                    <span  ></span>
                    
                    
                </section>
            </section>
            
        </div>
    @{Html.RenderAction("GoodsListAction", "TemplateVisualizationProcess",new { Layout="1", ShowName="1", IDs="576,574,571,570", ShowIco="True", ShowPrice="True", DataUrl="/api/Hi_Ajax_GoodsList", ID="goods_756521c2380f40f98f266fa81a7799ca"});}@{Html.RenderAction("GoodsListAction", "TemplateVisualizationProcess",new { Layout="2", ShowName="1", IDs="233,197,218,195,318,293", ShowIco="True", ShowPrice="True", DataUrl="/api/Hi_Ajax_GoodsList", ID="goods_6629660772bf4ad08f2b86623210ad8c"});}@{Html.RenderAction("GoodsListAction", "TemplateVisualizationProcess",new { Layout="3", ShowName="1", IDs="197,196,218,194,182,183", ShowIco="True", ShowPrice="True", DataUrl="/api/Hi_Ajax_GoodsList", ID="goods_0d6083855b314d9f84bb983cba617847"});}@{Html.RenderAction("GoodsListAction", "TemplateVisualizationProcess",new { Layout="4", ShowName="1", IDs="192,193,194", ShowIco="True", ShowPrice="True", DataUrl="/api/Hi_Ajax_GoodsList", ID="goods_a63ce4833643421281b3618a090b0063"});}@{Html.RenderAction("GoodsListAction", "TemplateVisualizationProcess",new { Layout="5", ShowName="1", IDs="194,196,197,195", ShowIco="True", ShowPrice="True", DataUrl="/api/Hi_Ajax_GoodsList", ID="goods_fd9873dc38ae4336af22a7b6dbafcd1b"});}
        <div class="members_con">
            <section class="members_special titlestyle0 left">
                <h2 class="j-title">
                    标题名称
                </h2>
                <!--<p class="j-subtitle">『副标题』</p>-->
                <!--
            <b>更多</b>
        -->
            </section>
        </div>
    
        <div class="members_con">
            <section class="members_special titlestyle1 left">
                <h2 class="j-title">
                    标题名称
                </h2>
                <!--<p class="j-subtitle">『副标题』</p>-->
                <!--
            <b>更多</b>
        -->
            </section>
        </div>
    
        <div class="members_con">
            <section class="members_special titlestyle2 left">
                <h2 class="j-title">
                    标题名称
                </h2>
                <!--<p class="j-subtitle">『副标题』</p>-->
                <!---->
            </section>
        </div>
    
        <div class="members_con">
            <section class="members_special titlestyle3 left">
                <h2 class="j-title">
                    标题名称
                </h2>
                <!--<p class="j-subtitle">『副标题』</p>-->
                <!--
            <b>更多</b>
        -->
            </section>
        </div>
    
        <div class="members_con">
            <div class="fulltext"><p>『富文本编辑器』</p></div>
        </div>
    
        <div class="members_con">
            <section class="members_nav1">
                <ul class="pic-nav">
                    
                    
                     
                    <li class="lisw4">
                        <span><a class="goodsimg" href="#"><div class="son"><img src="http://localhost:8080/Storage/template/0/20160314/6359356274820394699193374.jpg"></div></a></span>
                        <a class="members_nav1_name" href="#">导航名称</a>
                    </li>
                    
                    
                     
                    <li class="lisw4">
                        <span><a class="goodsimg" href="/m-wap/Product/Detail/196"><div class="son"><img src="/Storage/Shop/1/Products/196/1_350.png"></div></a></span>
                        <a class="members_nav1_name" href="/m-wap/Product/Detail/196">香影2015夏装新款时尚印花褶皱连衣裙沙滩裙韩版修身无袖中裙 兰色 S</a>
                    </li>
                    
                    
                     
                    <li class="lisw4">
                        <span><a class="goodsimg" href="/m-wap/limittimebuy/detail/18"><div class="son"><img src="/Content/Public/images/diy/waitupload.png"></div></a></span>
                        <a class="members_nav1_name" href="/m-wap/limittimebuy/detail/18">卡贝 厨房置物架壁挂 五金刀架用品收纳架 304不锈钢厨房挂件挂架</a>
                    </li>
                    
                    
                     
                    <li class="lisw4">
                        <span><a class="goodsimg" href=""><div class="son"><img src="/Content/Public/images/diy/waitupload.png"></div></a></span>
                        <a class="members_nav1_name" href="">dfdfdf</a>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con">
            <section class="members_nav2">
                <ul>
                    
                    
                    
                    <li><a href="#"><span>请添加导航链接</span></a><b></b></li>
                    
                    
                    
                    <li><a href="#"><span>请添加导航链接</span></a><b></b></li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con">
            <section class="members_nav2">
                <ul>
                    
                    
                    
                    <li><a href="#"><span>请添加导航链接</span></a><b></b></li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con">
            <section class="custom-line-wrap"><hr class="custom-line"></section>
        </div>
    
        <div class="members_con">
            <section class="custom-space" style="height:10px;"></section>
        </div>
    
        <div class="members_con">
            <section class="members_nav1">
                <ul class="pic-nav">
                    
                    
                     
                    <li class="lisw2">
                        <span><a class="goodsimg" href="#"><div class="son"><img src="/Content/Public/images/diy/waitupload.png"></div></a></span>
                        <a class="members_nav1_name" href="#">导航名称</a>
                    </li>
                    
                    
                     
                    <li class="lisw2">
                        <span><a class="goodsimg" href="#"><div class="son"><img src="/Content/Public/images/diy/waitupload.png"></div></a></span>
                        <a class="members_nav1_name" href="#">导航名称</a>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con">
            <section class="members_nav1">
                <ul class="pic-nav">
                    
                    
                     
                    <li class="lisw3">
                        <span><a class="goodsimg" href="#"><div class="son"><img src="http://localhost:8080/Storage/template/0/20160314/6359356274820394699193374.jpg"></div></a></span>
                        <a class="members_nav1_name" href="#">导航名称</a>
                    </li>
                    
                    
                     
                    <li class="lisw3">
                        <span><a class="goodsimg" href="#"><div class="son"><img src="/Content/Public/images/diy/waitupload.png"></div></a></span>
                        <a class="members_nav1_name" href="#">导航名称</a>
                    </li>
                    
                    
                     
                    <li class="lisw3">
                        <span><a class="goodsimg" href=""><img src="/Content/Public/images/diy/waitupload.png"></a></span>
                        <a class="members_nav1_name" href=""></a>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con">
            <section class="members_nav1">
                <ul class="pic-nav">
                    
                    
                     
                    <li class="lisw1">
                        <span><a class="goodsimg" href=""><img src="/Content/Public/images/diy/waitupload.png"></a></span>
                        <a class="members_nav1_name" href=""></a>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con">
            <section class="members_nav1">
                <ul class="clearfix">
                    
                    
                    
                    <li class="board3 big_board 
                    ">
                        <span>
                            <a href="/m-wap/Product/Detail/184">
                                
                                <img src="/Storage/Shop/1/Products/184/1_350.png">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3  
                    small_board">
                        <span>
                            <a href="/m-wap/Product/Detail/193">
                                
                                <img src="/Storage/Shop/1/Products/193/1_350.png">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3  
                    small_board">
                        <span>
                            <a href="/m-wap/Product/Detail/192">
                                
                                <img src="/Storage/Shop/1/Products/192/1_350.png">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    @{Html.RenderPartial("~/Areas/Mobile/Templates/Default/Views/Shared/_4ButtonsFoot.cshtml");}
</div>
<a class="WX-backtop"></a>
<script src="~/Areas/Mobile/Templates/Default/Scripts/home.js"></script>
 <script src="~/Scripts/swipe-template.js"></script>
