@model Himall.Model.SiteSettingsInfo
@{
    ViewBag.Title = "找回密码";
    ViewBag.CopyRight = false;

}
<style>
    body { background-color: #fff; }
</style>
<div class="login dv1">
    <div class="login" style="margin-top: .12rem;">
        <h3 style="margin-bottom:18px">找回密码</h3>
    </div>
    <div class="login-bd">
        <div class="login-input-group">
            <div class="input-item flex-center"><input class="form-control" id="username" type="text" placeholder="输入邮箱或者手机号码"></div>
            <div class="input-item flex-center">
                <input type="text" class="form-control" placeholder="输入验证码" maxlength="4" id="checkCode" />
                <a class="code"><img src="" id="checkCodeImg" /></a>
                <i id="checkBoxIcon" class="glyphicon" style="font-size:18px;"></i>
            </div>
            @*<div class="input-item flex-center">
                    <input class="form-control" id="password" type="text" placeholder="输入验证码">
                    <input id="get-code" class="form-control"style="text-align: center;" value="获取验证码">
                </div>*@
        </div>
        <a id="bindBtn" class="flex-center">提 交</a>
    </div>
</div>

<div class="login dv2" style="display:none;">
    <div class="login" style="margin-top: .12rem;">
        <h3 style="margin-bottom:18px">找回密码</h3>
    </div>
    <div class="login-bd">
        <div class="login-input-group">
            <div class="input-item border-0 flex-center">
                <input class="form-control" id="code" type="text" placeholder="输入验证码">
            </div>
        </div>
        <a id="bindBtn2" class="flex-center bindBtn">提 交</a>
    </div>
    <div class="input-item flex-center">
        <input id="get-code" class="form-control" style="text-align: center;margin-top:10px;border-style: none;" value="获取验证码" type="button" />
    </div>
    <div class="input-item flex-center" style="font-size: 15px;position: fixed;bottom: 0px;text-align: center;">
        <span class="btcon">验证码已发送至手机或者邮箱 </span>
    </div>
</div>



<script src="~/Areas/Mobile/Templates/Default/Scripts/ForgotPassword.js"></script>
<script type="text/javascript">
    $(function () {
        var checkCodeUrl = '/' + areaName + '/register/GetCheckCode';
        $('#checkCodeImg').attr('src', checkCodeUrl + '?time=' + (new Date()).getTime());

        $('#checkCodeImg').click(function () {
            $('#checkCodeImg').attr('src', checkCodeUrl + '?time=' + (new Date()).getTime());
        });
        $('#checkCode').bind('input', function () {
            checkCheckCode();
        });
        function checkCheckCode(callback) {
            var checkCode = $('#checkCode').val();
            var icon = $('#checkBoxIcon');
            var correct = false;
            if (checkCode && checkCode.length == 4) {
                $.ajax({
                    type: "post",
                    url: '/' + areaName + '/register/CheckCode',
                    data: { checkCode: checkCode },
                    dataType: "json",
                    async: true,
                    success: function (result) {
                        if (result.success) {
                            !icon.hasClass('glyphicon-ok-circle') && icon.addClass('glyphicon-ok-circle');
                            correct = true;
                        }
                        else
                            !icon.hasClass('glyphicon-remove-circle') && icon.addClass('glyphicon-remove-circle');
                        callback && callback(correct);
                    }
                });
            }
            else {
                icon.removeClass('glyphicon-ok-circle').removeClass('glyphicon-remove-circle');
                callback && callback(correct);
            }
        }
        var contact = "";
        $('#bindBtn').click(function () {
            contact = $.trim($('#username').val());
            var checkCode = $('#checkCode').val();

            var reg = /^(13|14|15|16|17|18|19)[0-9]{9}$/;
            if (!username)
                $.dialog.errorTips('请输入手机号或者邮箱');
            else if (!reg.test(contact) && !emailCheck(contact))
                $.dialog.errorTips('你输入的手机号或邮箱不正确');
            else if (!checkCode)
                $.dialog.errorTips('请填写验证码');
            else {
                var loading = showLoading('请稍候', 1);

                checkCheckCode(function (success) {
                    if (!success) {
                        loading.close();
                        $.dialog.errorTips('验证码错误');
                    }
                    else {
                        $.post('/' + areaName + '/Login/CheckUserName',
                        {
                            contact: contact,
                            checkCode: checkCode
                        },
                        function (result) {
                            loading.close();
                            $(".btcon").html("验证码已发送至手机或者邮箱 " + contact);
                            if (!result.success) {
                                $.dialog.alert(result.msg, function () {
                                    $(".dv1").hide();
                                    $(".dv2").show();
                                });
                            }
                            else {
                                time(document.getElementById("get-code"));
                                $(".dv1").hide();
                                $(".dv2").show();
                            }

                        },"json");
                    }

                });
            }
        })


        var wait = 60;
        function time(o) {
            if (wait == 0) {
                o.removeAttribute("disabled");
                o.value = "重新发验证码";
                wait = 60;

            } else {
                o.setAttribute("disabled", true);
                o.value = "" + wait + "秒后将重新发送验证码";
                wait--;
                setTimeout(function () {
                    time(o)
                }, 1000)
            }
        }

        $("#get-code").click(function () {
            var $this = this;
            $.ajax({
                type: "post",
                url: "/" + areaName + "/Login/SendCode?contact=" + contact,
                success: function (result) {
                    console.log(result)
                    if (result.success == true) {
                        time($this);
                    } else {
                        $.dialog.alert(result.msg);
                    }
                }
            });
        });
        $("#bindBtn2").click(function () {
            var checkCode = $('#code').val()
            if (!checkCode) {
                $.dialog.errorTips('请填写验证码');
                return;
            }
            $.ajax({
                type: "post",
                url: "/" + areaName + "/Login/CheckCode",
                data: { code: checkCode, contact: contact },
                success: function (result) {
                    console.log(result)
                    if (result.success == true) {
                        window.location.href = result.url + "?contact=" + contact;
                    }
                    else {
                        $.dialog.errorTips(result.msg);
                    }
                }
            });
        })
    });
</script>
