@model Himall.Model.SiteSettingsInfo
@{
    ViewBag.Title = "";
    ViewBag.CopyRight = false;

}
<style>
    body {
        background-color: #fff;
    }
</style>
<div class="login">
    <div class="login" style="margin-top: .12rem;">
        <h3 style="margin-bottom:18px"></h3>
    </div>
    <div class="login-bd">
        <div class="div-empty" style="text-align: center;margin-top: 60px;">
            <span class="sp-empty" style="font-size: 16px;">密码修改成功！</span>
        </div>
        <a id="bindBtn" class="flex-center">去登录</a>
    </div>
</div>



<script src="~/Areas/Mobile/Templates/Default/Scripts/validate.js"></script>
<script type="text/javascript">
    $(function() {
        $('#bindBtn').click(function () {
            window.location.href = "Entrance";
        })
    });
</script>
<script>
    function getId(id) {
        return document.getElementById(id);
    }
</script>
