@{Layout = "/Areas/Mobile/Templates/Default/Views/Shared/_Base.cshtml";}
@{
    long curshopid = (long)ViewBag.ShopId, curvshopid = (long)ViewBag.VshopId;
}
<div class="container">
    @(Html.Action("VShopHeader", "vshop", new { id = curvshopid }))
    <link rel="stylesheet" href="/Content/PublicMob/css/style.css" />
    <link rel="stylesheet" href="/Areas/Admin/templates/common/style/css.css" rev="stylesheet" type="text/css">
    <link rel="stylesheet" href="/Areas/Admin/templates/common/style/mycss.css" rev="stylesheet" type="text/css">
    <link rel="stylesheet" href="/Areas/Admin/templates/common/style/main.css" rev="stylesheet" type="text/css">
    <link rel="stylesheet" href="/Areas/Admin/templates/common/style/head.css">
    <div class="members_con" style="margin:0 auto">

        <section class="members_flash j-swipe" id="mySwipe">
            <ul class="clearfix">


                <li>
                    <a href="/default.aspx" title="白金早礼">


                        <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629464321875004738292.jpg" width="100%" />


                    </a>
                </li>

                <li>
                    <a href="/default.aspx" title="白金早礼">


                        <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629464341992195209341.jpg" width="100%" />


                    </a>
                </li>

                <li>
                    <a href="/default.aspx" title="白金早礼">


                        <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629464291503913295427.jpg" width="100%" />


                    </a>
                </li>


            </ul>
            <section class="members_flash_time">


                <span class="cur"></span>

                <span></span>

                <span></span>


            </section>
        </section>

    </div>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('html').css({
                'height': '100%',
                'width': '100%'
            })
            $('body').css({
                'height': '100%',
                'width': '100%',
                'background': 'url(undefined) no-repeat',
                'backgroundSize': 'cover'
            })
        })
    </script>
    <div class="members_con">
        <section class="members_nav1">
            <ul class="pic-nav">



                <li class="lisw2">
                    <span><a href="#"><img class="img-responsive" src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629469282519534714996.jpg"></a></span>
                    <a class="members_nav1_name" href="#"></a>
                </li>



                <li class="lisw2">
                    <span><a href="#"><img class="img-responsive" src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629469292773445686812.jpg"></a></span>
                    <a class="members_nav1_name" href="#"></a>
                </li>



            </ul>
        </section>
    </div>

    <div class="members_con">
        <section class="members_nav1">
            <ul class="pic-nav">



                <li class="lisw3">
                    <span><a href="#"><img class="img-responsive" src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629474863085942602299.jpg"></a></span>
                    <a class="members_nav1_name" href="#"></a>
                </li>



                <li class="lisw3">
                    <span><a href="#"><img class="img-responsive" src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629474872265633574114.jpg"></a></span>
                    <a class="members_nav1_name" href="#"></a>
                </li>



                <li class="lisw3">
                    <span><a href="#"><img class="img-responsive" src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629474879980471316685.jpg"></a></span>
                    <a class="members_nav1_name" href="#"></a>
                </li>



            </ul>
        </section>
    </div>

    <form action="/m-Wap/search" method="get">
        <div class="members_con">
            <section class="members_search">
                <input type="text" name="keywords" id="" value="" placeholder="搜索">
                <label></label>
            </section>
        </div>
    </form>

    <div class="members_con">
        <section class="members_special titlestyle1 center">
            <h2 class=" j-title">
                精选热卖
            </h2>
            <!--<p class="j-subtitle">『副标题』</p>-->
            <!--
                <b>更多</b>
            -->
        </section>
    </div>

    <div class="members_con">
        <section class="members_nav1">
            <ul class="pic-nav">



                <li class="lisw2">
                    <span><a href="#"><img class="img-responsive" src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629481618847668195822.jpg"></a></span>
                    <a class="members_nav1_name" href="#"></a>
                </li>



                <li class="lisw2">
                    <span><a href="#"><img class="img-responsive" src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629481639355478666871.jpg"></a></span>
                    <a class="members_nav1_name" href="#">导航名称</a>
                </li>



            </ul>
        </section>
    </div>

    <div class="members_con">
        <section class="members_nav1">
            <ul class="pic-nav">



                <li class="lisw2">
                    <span><a href="#"><img class="img-responsive" src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629481654296884152012.jpg"></a></span>
                    <a class="members_nav1_name" href="#"></a>
                </li>



                <li class="lisw2">
                    <span><a href="#"><img class="img-responsive" src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629481674023446095643.jpg"></a></span>
                    <a class="members_nav1_name" href="#"></a>
                </li>



            </ul>
        </section>
    </div>

    <div class="members_con">
        <section class="members_nav1">
            <ul class="pic-nav">



                <li class="lisw2">
                    <span><a href="#"><img class="img-responsive" src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629481505078137410270.jpg"></a></span>
                    <a class="members_nav1_name" href="#"></a>
                </li>



                <li class="lisw2">
                    <span><a href="#"><img class="img-responsive" src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629481525585947881319.jpg"></a></span>
                    <a class="members_nav1_name" href="#"></a>
                </li>



            </ul>
        </section>
    </div>

    <div class="members_con">
        <section class="members_special titlestyle1 center">
            <h2 class=" j-title">
                畅销新品
            </h2>
            <!--<p class="j-subtitle">『副标题』</p>-->
            <!--
                <b>更多</b>
            -->
        </section>
    </div>

    <div class="members_con">
        <section class="members_nav1">
            <ul class="pic-nav">



                <li class="lisw2">
                    <span><a href="#"><img class="img-responsive" src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629481545312508352368.jpg"></a></span>
                    <a class="members_nav1_name" href="#"></a>
                </li>



                <li class="lisw2">
                    <span><a href="#"><img class="img-responsive" src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629481561035168539337.jpg"></a></span>
                    <a class="members_nav1_name" href="#"></a>
                </li>



            </ul>
        </section>
    </div>

    <div class="members_con">
        <section class="members_nav1">
            <ul class="pic-nav">



                <li class="lisw2">
                    <span><a href="#"><img class="img-responsive" src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629481576660164024478.jpg"></a></span>
                    <a class="members_nav1_name" href="#"></a>
                </li>



                <li class="lisw2">
                    <span><a href="#"><img class="img-responsive" src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358629481595703131266282.jpg"></a></span>
                    <a class="members_nav1_name" href="#"></a>
                </li>



            </ul>
        </section>
    </div>
    @{Html.RenderPartial("~/Areas/Mobile/Templates/Default/Views/Shared/_4ButtonsFoot_shop.cshtml");}
</div>
<a class="WX-backtop"></a>
<script src="~/Areas/Mobile/Templates/Default/Scripts/home.js"></script>
<script src="~/Scripts/swipe-template.js"></script>
