<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net451" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net451" />
  <package id="Himall.Core" version="2.5.6300.24900" targetFramework="net451" developmentDependency="true" />
  <package id="log4net" version="2.0.3" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net451" />
  <package id="Quartz" version="2.4.0" targetFramework="net451" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net451" />
  <package id="ZXing" version="2.1.1" targetFramework="net451" />
</packages>