<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>WeiXinPay_Native</PluginId>
  <DisplayName>微信扫码支付</DisplayName>
  <ClassFullName>Himall.Plugin.Payment.WeiXinPay_Native.WeiXinPay,Himall.Plugin.Payment.WeiXinPay_Native</ClassFullName>
  <Description>微信内支付</Description>
  <Type>1</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <MinHimallVersion>1.1.0</MinHimallVersion>
  <MaxHimallVersion></MaxHimallVersion>
  <Enable>0</Enable>
</PluginInfo>