<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no, address=no">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <script src="//192.168.20.246:8080/Areas/Mobile/Templates/Default/Scripts/htmlSize.js"></script>
    <title>组合购买套餐（商品列表）</title>
    <link rel="stylesheet" href="//192.168.20.246:8080/Content/bootstrap.min.css">
    <link rel="stylesheet" href="//192.168.20.246:8080/Areas/Mobile/Templates/Default/Content/custom.css">
    <script src="//192.168.20.246:8080/Scripts/jquery-1.7.1.min.js"></script>
</head>

<body>
    <header class="hmui-fixed-top pbuy-header">组合购</header>
    <div class="pbuy-content">
        <ul>
            <li class="hmui-after">
                <a class="thumb"><img src="http://zesion-test.img-cn-qingdao.aliyuncs.com//Storage/Shop/252/Products/379/1.png@100w"></a>
                <div class="info">
                    <div class="info-hd">
                        <h4>Life·After Life 简约几何形圆领卫衣圆领卫衣简约几何形圆领卫衣圆领卫衣</h4>
                        <span class="price">
                            <strong>¥ 2299.00</strong>
                            <del>¥ 4299.00</del>
                        </span>
                    </div>
                    <a class="btn hmui-single-ellipsis att-choice" href="javascript:">已选：规格一 ，规格二 , 规格二 , 规格三，规格四，规格五，规格四，规格五，规格四五，规格五</a>
                </div>
            </li>
            <li class="hmui-after">
                <span class="glyphicon glyphicon-ok choice active" aria-hidden="true"></span>
                <a class="thumb"><img src="http://zesion-test.img-cn-qingdao.aliyuncs.com//Storage/Shop/252/Products/379/1.png@100w"></a>
                <div class="info">
                    <div class="info-hd">
                        <h4>Life·After Life 简约几何形圆领卫衣圆领卫衣简约几何形圆领卫衣圆领卫衣</h4>
                        <span class="price">
                            <strong>¥ 2299.00</strong>
                            <del>¥ 4299.00</del>
                        </span>
                    </div>
                    <a class="btn hmui-single-ellipsis att-choice" href="javascript:">已选：规格一 ，规格二 , 规格二 , 规格三，规格四，规格五，规格四，规格五，规格四五，规格五</a>
                </div>
            </li>
            <li class="hmui-after">
                <span class="glyphicon glyphicon-ok choice active" aria-hidden="true"></span>
                <a class="thumb"><img src="http://zesion-test.img-cn-qingdao.aliyuncs.com//Storage/Shop/252/Products/379/1.png@100w"></a>
                <div class="info">
                    <div class="info-hd">
                        <h4>Life·After Life 简约几何形圆领卫衣圆领卫衣简约几何形圆领卫衣圆领卫衣</h4>
                        <span class="price">
                            <strong>¥ 2299.00</strong>
                            <del>¥ 4299.00</del>
                        </span>
                    </div>
                    <a class="btn hmui-single-ellipsis att-choice active" href="javascript:">选择商品规格</a>
                </div>
            </li>
            <li class="hmui-after">
                <span class="glyphicon glyphicon-ok choice active" aria-hidden="true"></span>
                <a class="thumb"><img src="http://zesion-test.img-cn-qingdao.aliyuncs.com//Storage/Shop/252/Products/379/1.png@100w"></a>
                <div class="info">
                    <div class="info-hd">
                        <h4>Life·After Life 简约几何形圆领卫衣圆领卫衣简约几何形圆领卫衣圆领卫衣</h4>
                        <span class="price">
                            <strong>¥ 2299.00</strong>
                            <del>¥ 4299.00</del>
                        </span>
                    </div>
                    <a class="btn hmui-single-ellipsis att-choice active" href="javascript:">选择商品规格</a>
                </div>
            </li>
            <li class="hmui-after">
                <span class="glyphicon glyphicon-ok choice" aria-hidden="true"></span>
                <a class="thumb"><img src="http://zesion-test.img-cn-qingdao.aliyuncs.com//Storage/Shop/252/Products/379/1.png@100w"></a>
                <div class="info">
                    <div class="info-hd">
                        <h4>Life·After Life 简约几何形圆领卫衣圆领卫衣简约几何形圆领卫衣圆领卫衣</h4>
                        <span class="price">
                            <strong>¥ 2299.00</strong>
                            <del>¥ 4299.00</del>
                        </span>
                    </div>
                    <a class="btn hmui-single-ellipsis att-choice" href="javascript:">已选：规格四</a>
                </div>
            </li>
            <li class="hmui-after">
                <span class="glyphicon glyphicon-ok choice" aria-hidden="true"></span>
                <a class="thumb"><img src="http://zesion-test.img-cn-qingdao.aliyuncs.com//Storage/Shop/252/Products/379/1.png@100w"></a>
                <div class="info">
                    <div class="info-hd">
                        <h4>Life·After Life 简约几何形圆领卫衣圆领卫衣简约几何形圆领卫衣圆领卫衣</h4>
                        <span class="price">
                            <strong>¥ 2299.00</strong>
                            <del>¥ 4299.00</del>
                        </span>
                    </div>
                    <a class="btn hmui-single-ellipsis att-choice" href="javascript:">已选：规格一</a>
                </div>
            </li>
        </ul>
    </div>
    <section class="hmui-fixed-bottom pbuy-bar-container">
        <div class="pbuy-bar-l">
            <p>组合购价格：<strong>¥ 2999.06</strong></p>
            <p>优惠金额合计：<strong>¥ 299.06</strong></p>
        </div>
        <a class="btn btn-danger pbuy-bar-btn" href="#">购买套餐</a>
    </section>
    <div class="hmui-fixed-full hmui-cover-default" id="J_pbuy_cover">
        <div class="hmui-fixed-full hmui-cover-wrapper">
            <div class="hmui-absolute-full pbuy-cover-body">
                <div class="hmui-scroll pbuy-cover-scroll">
                    <dl>
                        <dt>选择一</dt>
                        <dd>可选择一</dd>
                        <dd class="selected">可选择二</dd>
                    </dl>
                    <dl>
                        <dt>选择一</dt>
                        <dd class="selected">可选择一</dd>
                        <dd>可选择二</dd>
                        <dd>可选择三</dd>
                        <dd>可选择四</dd>
                        <dd>可选择五</dd>
                    </dl>
                    <dl>
                        <dt>选择三</dt>
                        <dd>可选择一</dd>
                        <dd class="selected">可选择二</dd>
                    </dl>
                    <dl>
                        <dt>选择四</dt>
                        <dd>可选择一</dd>
                        <dd class="selected">可选择二</dd>
                    </dl>
                </div>
            </div>
            <div class="hmui-absolute-top pbuy-cover-head">
                <div class="thumb pull-left"><img src="http://zesion-test.img-cn-qingdao.aliyuncs.com//Storage/Shop/1/Products/235/1.png@150w"></div>
                <div class="info pull-left">
                    <div class="price">￥ 12</div>
                    <div class="stock-control">库存 <em>100</em> 件</div>
                </div>
                <a class="hmui-before back" id="J_back"></a>
            </div>
            <div class="hmui-absolute-bottom pbuy-cover-foot">
                <button class="btn ok">确定</button>
            </div>
        </div>
    </div>
    <script>
        // 弹出层关闭
        var oCoverWrap = $('#J_pbuy_cover');
        function closeCover() {
            var oCloseBtn = $('#J_back');
            oCoverWrap.on('click', function(event) {
                if ( $(event.target).is('#J_pbuy_cover') || $(event.target).is('#J_back') ) {
                    $(this).removeClass('hmui-cover-show');
                }
            })
        }
        
        $(function() {
            var aChoice = $('.att-choice');
            aChoice.on('click', function() {
                oCoverWrap.addClass('hmui-cover-show');
            });
            closeCover();
        })
    </script>
</body>
</html>