@{Layout = "/Areas/Mobile/Templates/Default/Views/Shared/_Base.cshtml";}<div class="container">@{Html.RenderPartial("~/Areas/Mobile/Templates/Default/Views/Shared/_SearchBox.cshtml");}<link rel="stylesheet" href="/Content/PublicMob/css/style.css" /><link rel="stylesheet" href="/Areas/Admin/templates/common/style/css.css" rev="stylesheet" type="text/css"><link rel="stylesheet" href="/Areas/Admin/templates/common/style/mycss.css" rev="stylesheet" type="text/css"><link rel="stylesheet" href="/Areas/Admin/templates/common/style/main.css" rev="stylesheet" type="text/css"><link rel="stylesheet" href="/Areas/Admin/templates/common/style/head.css">
        <div class="members_con">
            <section class="members_special titlestyle0 left">
                <h2 class=" j-title">
                    标题名称
                </h2>
                <!--<p class="j-subtitle">『副标题』</p>-->
                <!--
            <b>更多</b>
        -->
            </section>
        </div>
    
        <form action="ProductList.aspx" method="get">
        <div class="members_con">
            <section class="members_search">
                <input type="text" name="keyWord" id="" value="" placeholder="商品搜索：请输入商品关键字">              
                   <button type="submit" value=""></button>
            </section>
        </div>
        </form>
    
        <div class="members_con">
            <section class="members_nav1">
                <ul>
                    
                    
                     
                    <li class="lisw4">
                        <span><a href="/Product/Detail/266"><img src="/Storage/Shop/224/Products/266/1_100.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/Product/Detail/266">三言二拍 三言两拍 精装5册 古典小说 喻世明言醒世恒言警世通言初刻拍案惊奇二刻拍案惊奇 短篇小说集</a>
                    </li>
                    
                    
                     
                    <li class="lisw4">
                        <span><a href=""><img src="http://192.168.10.63:8080/Storage/template/0/20151127/6358421036443973399430247.png" width="70"></a></span>
                        <a class="members_nav1_name" href="">护肤</a>
                    </li>
                    
                    
                     
                    <li class="lisw4">
                        <span><a href="/"><img src="http://192.168.10.63:8080/Storage/template/0/20151127/6358421669337572836921998.bmp" width="70"></a></span>
                        <a class="members_nav1_name" href="/">微店首页</a>
                    </li>
                    
                    
                     
                    <li class="lisw4">
                        <span><a href=""><img src="http://192.168.10.63:8080/Storage/template/0/20151127/6358421669326172187422765.bmp" width="70"></a></span>
                        <a class="members_nav1_name" href="">限时折扣</a>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con">
            <section class="members_nav1">
                <ul class="clearfix">
                    
                    
                    
                    <li class="board3 big_board 
                    ">
                        <span>
                            <a href="">
                                
                                <img src="http://192.168.10.63:8080/Storage/template/0/20151127/6358421713996427178229850.jpg">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3  
                    small_board">
                        <span>
                            <a href="/Product/Detail/266">
                                
                                <img src="/Storage/Shop/224/Products/266/1_100.png">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3  
                    small_board">
                        <span>
                            <a href="">
                                
                                <img src="http://192.168.10.63:8080/Storage/template/0/20151127/6358421669337572836921998.bmp">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    @{Html.RenderAction("GoodsListAction", "TemplateVisualizationProcess",new { Layout="1", ShowName="1", IDs="272,271,266,265,264,273", ShowIco="True", ShowPrice="True", DataUrl="/api/Hi_Ajax_GoodsList", ID="goods_dc306449ffec429b8634a08e8301c779"});}
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                    <li><a href="" title=""><img src="/Content/Public/images/diy/waitupload.png" width="100%" /></a></li>
                    
                </ul>
                <section class="members_flash_time">
                    
                </section>
            </section>
            
        </div>
    
        <div class="members_con">
            <section class="custom-line-wrap"><hr class="custom-line"></section>
        </div>
    
        <div class="members_con">
            <div class="fulltext"><p>『富文本编辑器』</p></div>
        </div>
    
        <div class="members_con">
            <section class="members_nav1">
                <ul>
                    
                    
                     
                    <li class="lisw4">
                        <span><a href=""><img src="/Content/Public/images/diy/waitupload.png" width="70"></a></span>
                        <a class="members_nav1_name" href="">限时折扣</a>
                    </li>
                    
                    
                     
                    <li class="lisw4">
                        <span><a href="#"><img src="/Content/Public/images/diy/waitupload.png" width="70"></a></span>
                        <a class="members_nav1_name" href="#">导航名称</a>
                    </li>
                    
                    
                     
                    <li class="lisw4">
                        <span><a href="/"><img src="/Content/Public/images/diy/waitupload.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/">微店首页</a>
                    </li>
                    
                    
                     
                    <li class="lisw4">
                        <span><a href="23233232"><img src="/Content/Public/images/diy/waitupload.png" width="70"></a></span>
                        <a class="members_nav1_name" href="23233232">23232323</a>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con">
            <section class="members_nav1">
                <ul class="clearfix">
                    
                    
                    
                    <li class="board3 big_board 
                    ">
                        <span>
                            <a href="">
                                
                                <img src="http://localhost:5955/Storage/template/0/20151127/6358421030080109405020086.png">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3  
                    small_board">
                        <span>
                            <a href="#">
                                
                                <img src="/Content/Public/images/diy/waitupload.png">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3  
                    small_board">
                        <span>
                            <a href="/">
                                
                                <img src="/Content/Public/images/diy/waitupload.png">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con">
            <section class="members_nav2">
                <ul>
                    
                    
                    
                    <li><a href="#">请添加导航链接</a><b></b></li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con">
            <section class="custom-space" style="height:10px;"></section>
        </div>
    
        <div class="members_con">
            <section class="custom-line-wrap"><hr class="custom-line"></section>
        </div>
    
        <div class="members_con">
            <section class="custom-space" style="height:10px;"></section>
        </div>
    
        <div class="members_con">
            <section class="custom-space" style="height:10px;"></section>
        </div>
    
        <div class="members_con">
            
            <section class="members_goodspic big_small">
                <ul>
                    
                    <li class="biggoods">
                        <a class="goodsimg" href=""><img src="/Content/Public/images/diy/goodsView1.jpg" ></a>
                        <section class="members_goodsimg_name rename">
                            <a href="">大图商品名称</a>
                            <span>780.00<span class="original_price">原价：<s>&yen;999</s></span></span>
                        </section>
                    </li>
                    <li class="mingoods">
                    <div class="b_mingoods_wrapper">
                        <a href=""><img src="/Content/Public/images/diy/goodsView4.jpg" ></a>
                        <span class="replace">&yen;78.00<span class="original_price"><s>&yen;99.00</s></span></span>
                    </div>
                    </li>
                    <li class="mingoods">
                    <div class="b_mingoods_wrapper">
                        <a href=""><img src="/Content/Public/images/diy/goodsView4.jpg" ></a>
                        <span class="replace">&yen;78.00<span class="original_price"><s>&yen;99.00</s></span></span>
                    </div>
                    </li>
                    
                </ul>
            </section>
            
        </div>
    
        <div class="members_con">
            <section class="members_nav1">
                <ul>
                    
                    
                     
                    <li class="lisw4">
                        <span><a href="#"><img src="/Content/Public/images/diy/waitupload.png" width="70"></a></span>
                        <a class="members_nav1_name" href="#">导航名称</a>
                    </li>
                    
                    
                     
                    <li class="lisw4">
                        <span><a href="#"><img src="/Content/Public/images/diy/waitupload.png" width="70"></a></span>
                        <a class="members_nav1_name" href="#">导航名称</a>
                    </li>
                    
                    
                     
                    <li class="lisw4">
                        <span><a href="#"><img src="/Content/Public/images/diy/waitupload.png" width="70"></a></span>
                        <a class="members_nav1_name" href="#">导航名称</a>
                    </li>
                    
                    
                     
                    <li class="lisw4">
                        <span><a href="#"><img src="/Content/Public/images/diy/waitupload.png" width="70"></a></span>
                        <a class="members_nav1_name" href="#">导航名称</a>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    @{Html.RenderPartial("~/Areas/Mobile/Templates/Default/Views/Shared/_4ButtonsFoot_fav.cshtml");}</div><a class="WX-backtop"></a><script src="~/Areas/Mobile/Templates/Default/Scripts/home.js"></script>