<?xml version="1.0"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <SupportPlatfoms>
    <PlatformType>PC</PlatformType>
  </SupportPlatfoms>
  <Partner>2088011568591884</Partner>
  <Key>8929fx0jryrhmjusl25ktz856ecuvi6a</Key>
  <GateWay>https://mapi.alipay.com/gateway.do?</GateWay>
  <VeryfyUrl>https://mapi.alipay.com/gateway.do?service=notify_verify&amp;</VeryfyUrl>
  <AlipayAccount>wtbqyb@hotmail.com</AlipayAccount>
  <Logo>logo.gif</Logo>
</Config>