
@{
    ViewBag.Title = "BuyService";
}
<div class="container">
	<div class="form-horizontal">
        <div class="form-group">
            <p class="apply-primary"><span class="glyphicon glyphicon-info-sign"></span>平台暂未开启此项服务！</p>
        </div>
    </div>

</div>
