select{ width: 100px;}
.has-error .form-control{ border-color: #E3393C;}
select.category{ width: 120px; display: inline-block;}
.table.custom td{ padding: 5px 10px; border: 0;}
.inline{ display: inline-block!important;}
table.img{ margin-bottom: 20px;}
table.img .upload_pic{ margin-right: 10px; vertical-align: middle; border: 1px solid #ddd; background-color: #f2f2f2;}
table.img input[type=button]{ margin-left: 10px;}
table.img .table-img-file{ text-align: left; padding-left: 70px;}

table.sku, table.img, table.sku th, table.img th{ text-align: center;}
table.sku tbody td, table.img tbody td{ padding: 10px 5px; border-bottom: 1px dashed #e7e7e7;}
table.sku tr:nth-of-type(even){ background-color: #fbfbfb;}
table.sku input,table.quick-setting input{ width: 80px; display: inline-block; height: 30px; text-align: center;}
table.sku input{border: 1px dashed #979797;}
table.sku tbody tr td:last-child input{width:200px;}

.upload_pic{ width: 100px; height: 100px; background-size: cover; border: 1px solid gray; display: inline-block;}
.product.pic{ display: inline-block; border: 1px dashed #cbcacf; position: relative; padding: 5px; margin-right: 10px;}
.product.pic .upload_pic{ border: none;display: block; overflow:hidden}
.product.pic .upload.pic.btn{ position: absolute; left: 10%; top: 30%; background-color:rgba(0,0,0,.25); color: #fff;}
	.product.pic .del {
		position: absolute;
		top: 0;
		right: 0;
		color: red;
		background-color: rgba(0,0,0,.25);
		display: block;
		width: 10px;
		height: 10px;
		line-height: 7px;
		text-align: center;
		cursor: pointer;
	}
table.img .upload_pic{ width: 50px; height: 50px;}
table.img .reset.pic{ cursor: pointer;}
table.sku .upload_pic:before{ font-size: 8pt; margin: 0; width: 100%; height: initial; line-height: initial; margin-top: 5px;}
.publish-step1{ padding: 15px; background-color: #f9f9f9; position: relative;}
.publish-step1 .pub-inline{ height: 460px; overflow-y: auto; display: inline-block; width: 315px; background-color: #fff; border: 1px solid #e4e4e4; padding: 10px;}
.publish-step1 .pub-inline + .pub-inline{ margin-left: 13px;}
.publish-step1 .pub-inline li{ padding: 0 10px; line-height: 28px; cursor: pointer;}
.publish-step1 .pub-inline li.selected{ background: #f6f6f6; text-decoration: none; border: 1px dashed #ddd; line-height: 26px;}
.publish-step1 .pub-inline li:after{ content: '>'; float: right; font-size: 14px; font-family: simsun; font-weight: bold;}
.publish-step1 .btn{ position: absolute; left: 50%; margin: 30px 0 0 -25px;}
.attr-table{ border: 1px solid #ddd;}
.attr-table > tbody > tr > td{ border-bottom: 1px dashed #f3f3f3; padding: 10px 5px;}
.attr-table .attr-label{ width: 90px; text-align: right; margin: 0; padding-right: 10px;}
.form-horizontal .attr-table .checkbox-inline{ padding: 4px 0 4px 20px;}
.has-error.pics{ border: 1px solid red;}
.has-error.des{ border: 1px solid red;}
.sku-group{ margin: 8px 0;}
.sku-group label{ width: 50px; text-align: right; margin-right: 20px;}
.sku-group-item{ float: right; width: 530px;}
.sku-group-item div{ margin: 0 10px 10px 0;}
.sku-group-item div.v-error input[type=text]{border:1px solid red; }
.sku-group-item input[type=text]{ width: 76px; border: 1px solid #ddd; border-radius: 2px; margin-left: 5px; padding: 3px; outline: none;}
.sku-group-item input[type=checkbox]{ margin-top: 6px;}
.publish-step1 .pub-inline::-webkit-scrollbar{ width: 9px; height: 9px; box-sizing: border-box;}
.publish-step1 .pub-inline::-webkit-scrollbar-button{ width: 9px; height: 12px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAUCAYAAADRA14pAAADr0lEQVRYR71Yy04iQRQtE10IRiSBOLbOUvZmfkIlLHXjI+jCDzAm8w8TJKxZyENdqEui8BPuDVtsHCNGQcFEWUzdSt/KtbqqqZ44U0kn1V2n69xz63W6x5h9iXFoNADe521dftnibJlt+7PCjdmycpzz9vbmmvCTk5PzvK0NuNvbWyNuYWEBcbbUX8obSvBgMDAKiUQiUrDLi0nNPC9eYqwFfyWvTvAPHsm1JhqHEl9dXbHV1VUJo4Lv7u6k4JOTE7a5uSlxc3Nz/0ww5VXjR15VMIjFoop2+v2+EAJisaDoaDQqR/j+/l7gjo+PJW5ra0vUZ2dnqWDko1zqM+fi4kL0RxOMMaytrUneXC4ncMhFYzg4OBA4KpiK1Yl2Xl9fXSqWip6ampLEDw8PbrVa9U2S7e1tlkwmdYIBC6J1CXfOz8/ljAHRNIbFxcXs0tJShb/rHB4eShxw0RgymczPVCr1CwWrRCOJeQesVqtJUevr61JwPp+XxHt7e6xYLErc/v6+OqVHJvrl5cWt1+u+BEIMNzc3UvDj46NbqYD2zwViaLfbWsGBU+vs7EwIASIow+GQYSA8e5K4UCgIHBBBeX9/Z+VyWdT5CAliJabApdTr9UR/VDTGQPeO5+dngUMuGgPiQu3S3W7XHR8fl2IxaHjWbDalYAhwYmJCNH98fEht8KzVaukEA8a4WQIvdgKiacJjsZicWZgYwJZKJZlwiGF6etq3hpWk+24dzKAOODMzI4lhrZs6I2t9FB+2+3ghcZjIIF4YCJiFUJA31AjbCrY8N/9aMH2RCrbhDSP4OydKBETZ4W09fn3jV8SAG/Dnv/kFFtS22PC2eGdWOJNg3fnos3iXl5ci6HQ6zTxryVRbeXp6KjAbGxvMYCt1XDQZgpdy0UbV0lI+ikNuk9NCLN21fU4LQXA2ersgbP+fXBZiwG05jqNzWUE7NLwueHVmBxrpLg3c4OwoJ9aR+6udFgvhsugA/DeHZ3JaWi+tOi1q9bxdkHU6nU8uCxwPlkQiEeSjTaKFw8M+1JGmDg+4EUddFsSA3KFGWGcAVlZWBId3zrGnpyff4Z/NZgUmHo+bBIc2Hgqv+Cy14Q61hlUDgNkEcs8AMPXwR8zOzo48/Olc5vWRaxh4qctCsdCPajzAcFBOrI8yHtpdWj2HG42G6G95eZl55yHDLyokOjo6EtXd3V1Gvqh061e3jAAnjAfloi/Tcxi4KR/FIXeYc9jmFwpw2PwGUgY58NaG1/rX0h9d1DUzJEP0JgAAAABJRU5ErkJggg==) no-repeat;}
.publish-step1 .pub-inline::-webkit-scrollbar-button:vertical:start{ background-position: 0 0;}
.publish-step1 .pub-inline::-webkit-scrollbar-button:vertical:start:hover{ background-position: -10px 0;}
.publish-step1 .pub-inline::-webkit-scrollbar-button:vertical:start:active{ background-position: -20px 0;}
.publish-step1 .pub-inline::-webkit-scrollbar-button:vertical:end{ background-position: -30px 0;}
.publish-step1 .pub-inline::-webkit-scrollbar-button:vertical:end:hover{ background-position: -40px 0;}
.publish-step1 .pub-inline::-webkit-scrollbar-button:vertical:end:active{ background-position: -50px 0;}
.publish-step1 .pub-inline::-webkit-scrollbar-button:horizontal:start{ background-position: 0 -11px;}
.publish-step1 .pub-inline::-webkit-scrollbar-button:horizontal:start:hover{ background-position: -10px -11px;}
.publish-step1 .pub-inline::-webkit-scrollbar-button:horizontal:start:active{ background-position: -19px -11px;}
.publish-step1 .pub-inline::-webkit-scrollbar-button:horizontal:end{ background-position: -30px -11px;}
.publish-step1 .pub-inline::-webkit-scrollbar-button:horizontal:end:hover{ background-position: -40px -11px;}
.publish-step1 .pub-inline::-webkit-scrollbar-button:horizontal:end:active{ background-position: -50px -11px;}
.publish-step1 .pub-inline::-webkit-scrollbar-track{ -webkit-border-radius: 5px; background-color: rgba(0, 0, 0, .15);}
.publish-step1 .pub-inline::-webkit-scrollbar-thumb{ background-color: rgba(0, 0, 0, .2); border: 1px solid rgba(0, 0, 0, .21); -webkit-border-radius: 5px;}
.publish-step1 .pub-inline::-webkit-scrollbar-thumb:hover{ background-color: rgba(0, 0, 0, .4); border: 1px solid rgba(0, 0, 0, .21);}
.publish-step1 .pub-inline::-webkit-scrollbar-thumb:active{ background-color: rgba(0, 0, 0, .5);}
.publish-step1 .pub-inline::-webkit-scrollbar-corner{ background-color: #f1f1f1; -webkit-border-radius: 1px;}
.publish-step1 .pub-inline::-webkit-scrollbar-track:hover{ background-clip: padding-box; background-color: rgba(0, 0, 0, .3);}
