@model Himall.Model.SiteSettingsInfo
@{
    ViewBag.Title = "提现金额设置";
}
<script src="~/Areas/Admin/Scripts/CapitalSetting.js"></script>
<script src="~/Scripts/v.js"></script>
<div class="container clear-v">
    <ul class="nav nav-tabs-custom clearfix">
        <li><a href="Index">预付款管理</a></li>
        <li><a href="../Capital/WithDraw">提现管理</a></li>
        <li class="active"><a >提现金额设置</a></li>
    </ul>
    @using (Html.BeginForm("Setting", "Capital", FormMethod.Post, new { id = "form1" }))
    {
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="">最低提现金额：</label>
                <div class="col-sm-3">@Html.EditorFor(item => item.WithDrawMinimum, new { htmlAttributes = new { @class = "form-control input-sm" } })</div>
                <div class="col-sm-5"><span class="help-default">设置最低提现金额.</span></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="">最高提现金额：</label>
                <div class="col-sm-3">@Html.EditorFor(item => item.WithDrawMaximum, new { htmlAttributes = new { @class = "form-control input-sm" } })</div>
                <div class="col-sm-5"><span class="help-default">设置最高提现金额(最高不能大于20000).</span></div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="button" id="Save" class="btn btn-primary" value="保 存">
                </div>
            </div>
        </div>
    }
</div>

