<script src="~/Scripts/ueditor/ueditor.config.js"></script>
<script src="~/Scripts/ueditor/ueditor.all.min.js"></script>

<div class="container">
    <ul class="nav nav-tabs-custom clearfix">
        <li class="active"><a>页脚编辑</a></li>
    </ul>
	
        <div class="form-group">
            <textarea id="pageFoot"  >@ViewBag.PageFoot</textarea>
        </div>
        <button type="button"  class="btn btn-primary">保存</button>
</div>
<script src="~/Areas/Admin/Scripts/pageSettingsSetPageFoot.js"></script>

