<?xml version="1.0"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <SupportPlatfoms>
    <PlatformType>PC</PlatformType>
  </SupportPlatfoms>
  <Partner>2088701375176746</Partner>
  <Key>352fwjh3dn731v38oamh91dkj5exihzn</Key>
  <GateWay>https://mapi.alipay.com/gateway.do?</GateWay>
  <VeryfyUrl>https://mapi.alipay.com/gateway.do?service=notify_verify&amp;</VeryfyUrl>
  <AlipayAccount>hishop@live.cn</AlipayAccount>
  <Logo>logo.gif</Logo>
</Config>