<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>Alipay_QRCode</PluginId>
  <DisplayName>支付宝扫码支付</DisplayName>
  <ClassFullName>Himall.Plugin.Payment.Alipay_QRCode.Service,Himall.Plugin.Payment.Alipay_QRCode</ClassFullName>
  <Description>支付宝扫码支付插件</Description>
  <Type>1</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <MinHimallVersion>1.0.0</MinHimallVersion>
  <MaxHimallVersion></MaxHimallVersion>
  <Enable>0</Enable>
</PluginInfo>