<script src="~/Scripts/jquery.hiMallDatagrid.js"></script>
<script src="~/Scripts/jqeury.himallLinkage.js"></script>
<script src="~/Scripts/jquery.placeholder.min.js"></script>
<script src="~/Scripts/bootstrap.autocomplete.js"></script>
<script src="~/Areas/Admin/Scripts/operationLogManagement.js"></script>
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="~/Scripts//bootstrap-datetimepicker.zh-CN.js"></script>

<div class="container">
    <!--<ul class="nav nav-tabs-custom clearfix">
        <strong>操作日志</strong>
        <em class="primary-btn">
            <span class="glyphicon glyphicon-question-sign"></span>
            <div class="primary">
                <h3>温馨提示：</h3>
                <span>*</span><p>查看各个管理员的历史操作记录  </p>
            </div>
        </em>
    </ul>-->
    <ul class="nav nav-tabs-custom clearfix">
        <li class="active"><a>操作日志</a></li>
    </ul>
        <div class="search-box">
            <form class="form-inline custom-inline">
                <div class="form-group">
                    <label class="label-inline w75" for="">操作人</label>
                    <input class="form-control input-ssm" type="text" id="autoTextBox" autocomplete="off">
                </div>
                <div class="form-group">
                    <label class="label-inline w75" for="">开始时间</label>
                    <input class="form-control input-ssm start_datetime" type="text" id="inputStartDate">
                </div>
                <div class="form-group">
                    <label class="label-inline w75" for="">结束时间</label>
                    <input class="form-control input-ssm end_datetime" type="text" id="inputEndDate">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-sm" id="searchBtn">搜索</button>
                </div>
            </form>
        </div>
        <table class="table" id="list"></table>
</div>


