@{
    ViewBag.Title = "权限组管理";
}
<script src="~/Scripts/jquery.hiMallDatagrid.js"></script>
<script src="~/Scripts/jquery.himallLinkage.nocreate.js"></script>
<script src="~/Scripts/jquery.placeholder.min.js"></script>
<script src="~/Scripts/bootstrap.autocomplete.js"></script>
<script src="~/Areas/Admin/Scripts/privilegeManagement.js"></script>

<div class="container">
    <ul class="nav nav-tabs-custom clearfix">

        <li class="active"><a>权限组</a></li>
        <li><a href="./add">添加权限组</a></li>
        
    </ul>
    <table class="table clear-v14" id="list"></table>     
</div>
