<?xml version="1.0" encoding="utf-8" ?>
<ExpressInfo>
  <Name>天天快递</Name>
  <DisplayName>天天快递</DisplayName>
  <BackGroundImage>2010111718098.jpg</BackGroundImage>
  <Logo>logo.png</Logo>
  <Width>2300</Width>
  <Height>1270</Height>
  <TaobaoCode>TTKDEX</TaobaoCode>
  <Kuaidi100Code>tiantian</Kuaidi100Code>
  <KuaidiNiaoCode>HHTT</KuaidiNiaoCode>
</ExpressInfo>