@{
    ViewBag.CopyRight = false;
    ViewBag.Title = "活动已结束";
}

<style>
    html, body { height: 100%; }
</style>
<div class="container register-share-page">
    <div class="half flex-center">
        <p>抱歉，活动已结束！</p>
    </div>
    <div class="half flex-center">
        <a class="btn btn-danger" href="@Url.Action("Index", "Home")">继续购物</a>
    </div>
</div>