
@{
    ViewBag.Title = "TaoCanInfo";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>装修套餐2</title>
	<link href="~/Areas/Web/~/Areas/Web/Content/taocan/content/taocan/~/Areas/Web/Content/taocan/content/css/taocan1.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<div class="header">
		<div class="logo"><img src="~/Areas/Web/~/Areas/Web/Content/taocan/content/taocan/~/Areas/Web/Content/taocan/content/images/logo.png" /></div>
		<div class="nav">
			<ul id="main_nav">
				<li><a href="#">商城首页</a></li>
				<li><a href="#">厂家团购</a></li>
				<li><a href="#">装修套餐</a></li>
				<li><a href="#">个性定制</a></li>
				<li><a href="#">设计方案</a></li>
				<li><a href="#">装修专题</a></li>
				<li><a href="#">招商加盟</a></li>
			</ul>
		</div>
		<div class="contact">
			<div class="search">
				<input type="text" style="display: none" />
			</div>
			<div class="phone_num">
				<i></i>4008-323-100
			</div>
			<div class="user">
				<i></i>
			</div>
		</div>
	</div>
	<div class="sub_banner">
		<div class="sub_banner_img">
			<img src="~/Areas/Web/Content/taocan/content/images/subbanner.jpg">
		</div>
		<div class="taocan_info">
			<div style="margin-bottom: 20px;">
				<span class="banner_title">整装套餐: 简约时尚套餐</span>
				<span class="banner_title_other">使用户型：3室2厅2卫</span>
				<span class="banner_title_other">使用面积：100m - 120m</span>
			</div>
			<div class="taocan_price">价格：<span>￥1198</span>/平米</div>
			<div class="detail_type">
				<span class="detail_type_active">整装套餐</span>
				<span>主材套餐</span>
				<span>家具套餐</span>
				<br>
				<br>
				<span>预约定金</span>
			</div>
			<div class="action">
				<button class="action_btn">立即购买</button>
				<button class="action_btn">联系客服</button>
			</div>
		</div>

	</div>
	<div class="cur_position">
		<span>我的位置:</span><span>装修套餐</span><i>></i><span>整装套餐</span><i>></i><span>简约时尚</span>
	</div>
	<div class="chengluo">
		<img src="~/Areas/Web/Content/taocan/content/images/1.png">
		<img src="~/Areas/Web/Content/taocan/content/images/2.png">
		<img src="~/Areas/Web/Content/taocan/content/images/3.png">
		<img src="~/Areas/Web/Content/taocan/content/images/4.png">
		<img src="~/Areas/Web/Content/taocan/content/images/5.png">
	</div>
	<div class="main_container">
		<div class="taocan_title">
			<hr class="taocan_hr" style="width: 20%" />
			<span class="desc">整装套餐</span>
			<hr class="taocan_hr" style="width: 20%" />
			<br>
			<span style="font-size: 14px;">
				国民品牌 匠心制作
			</span>
		</div>
		<div class="yuyue">
			<div>
				<table style="width: 100%;height: 100%">
					<tr>
						<td style="width: 30%;text-align: center"><button class="yuyue_btn1">在线预约</button></td>
						<td>
							<span>您的称呼：<input type="text"></input></span>
							<span>所在城市：<input type="text"></input></span>
						</td>
						<td>
							<span>手机号码：<input type="text"></input></span>
							<span>所在小区：<input type="text"></input></span>
						</td>
						<td style="width: 20%"><button class="yuyue_btn2">提交</button></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="main_content">
			<div>
				<img src="~/Areas/Web/Content/taocan/content/images/miancontent.png">
			</div>
		</div>
	</div>
	<div class="footer1">
		<div class="footer_content">
			<div class="footer_menu">
				<div>
					<span class="menu_title">
						案例精选
					</span>
					<ul class="menu_item">
						<li><a href="#">AR全景图</a></li>
						<li><a href="#">AR全景图</a></li>
						<li><a href="#">AR全景图</a></li>
					</ul>
				</div>
				<div>
					<span class="menu_title">
						案例精选
					</span>
					<ul class="menu_item">
						<li><a href="#">AR全景图</a></li>
						<li><a href="#">AR全景图</a></li>
						<li><a href="#">AR全景图</a></li>
					</ul>
				</div>
				<div>
					<span class="menu_title">
						案例精选
					</span>
					<ul class="menu_item">
						<li><a href="#">AR全景图</a></li>
						<li><a href="#">AR全景图</a></li>
						<li><a href="#">AR全景图</a></li>
					</ul>
				</div>
			</div>
			<div class="footer_img">
				<img src="~/Areas/Web/Content/taocan/content/images/weixin.png" style="margin-right: 10px;">
				<img src="~/Areas/Web/Content/taocan/content/images/weixin.png">
			</div>
			<div style="display: inline-block;margin-top: 40px;margin-left: 40px;">
				<div style="font-size: 20px;color: #ffffff;margin-bottom: 20px;">
					全国统一免费咨询热线
				</div>
				<div style="color:blue">
					4000-333-444444
				</div>
			</div>
		</div>

	</div>
	<script src="~/Areas/Web/Content/taocan/content/js/jquery-1.9.1.min.js"></script>
	<script src="~/Areas/Web/Content/taocan/content/js/taocan1.js"></script>
</body>

</html>

