@{
    ViewBag.Title = "为指定城市设置运费";
}
<script src="~/Scripts/jquery.hiMallDatagrid.js"></script>
<script src="~/Areas/SellerAdmin/Scripts/FreightTemplate.js"></script>

<div class="container">
    <ul class="nav nav-tabs-custom clearfix" id="ulMenu">
        <strong>运费模版设置</strong>
        <li class="active"><a id="btnManage" >管理</a></li>
        <li ><a id="btnAdd" href="Add">新增</a></li>
    </ul>
    
    <table class="table Sclear-I" id="list"></table>
</div>


