<div class="container">
    <ul class="nav nav-tabs-custom clearfix">
        <li class="active"><a>服务提示</a></li>
    </ul>
    <div class="form-horizontal">
        <div class="form-group">
            <p class="apply-primary"><span class="glyphicon glyphicon-info-sign"></span>平台暂未配置设置费用，设置之后才能使用此服务</p>
        </div>
    </div>
</div>