@model List<Himall.DTO.ShopAccountItem>
@{
	Layout = null;
}
<table cellspacing="0" cellpadding="5" rules="all" border="1">
	<thead>
		<tr>
			<th>结算时间</th>
			<th>
				结算周期
			</th>
			<th>
				结算金额
			</th>
		</tr>
	</thead>
	<tbody id="list-table-body">
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
				<td>@string.Format("{0:yyyy-MM-dd HH:mm:ss}-{1:yyyy-MM-dd HH:mm:ss}", item.CreateTime.AddDays(-item.SettlementCycle), item.CreateTime)</td>
				<td>@item.Amount.ToString("F2")</td>
			</tr>
		}
	</tbody>
</table>