<script src="~/Scripts/jquery.hiMallDatagrid.js"></script>
<script src="~/Scripts/bootstrap.autocomplete.js"></script>
<script src="~/Areas/Admin/Scripts/OrderInvoiceContext.js"></script>

<div class="container clear-q6">
    <ul class="nav nav-tabs-custom clearfix">
        <li value="" class="active" type="statusTab"><a>管理</a></li>
        <li value="1" type="statusTab"><a id="btnAdd">新增</a></li>
    </ul>

    <table id="list" class="table"></table>
</div>
