<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>WeiXinPay_App</PluginId>
  <DisplayName>微信App支付</DisplayName>
<ClassFullName>Himall.Plugin.Payment.WeiXinPay_App.Service,Himall.Plugin.Payment.WeiXinPay_App</ClassFullName>
  <Description>App微信支付</Description>
  <Type>1</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <MinHimallVersion>1.1.0</MinHimallVersion>
  <MaxHimallVersion></MaxHimallVersion>
  <Enable>0</Enable>
</PluginInfo>