<div class="container" id="divNoSet">
    <ul class="nav nav-tabs-custom clearfix">
        <li class="active"><a>提示</a></li>
    </ul>
    <div class="form-horizontal">
        <div class="form-group">
            <p class="apply-primary"><span class="glyphicon glyphicon-info-sign"></span>平台暂未设置分类，设置后才可以使用此功能</p>
        </div>
    </div>
</div>
