@{Layout = "/Areas/Mobile/Templates/Default/Views/Shared/_Base.cshtml";}
@{
    long curshopid = (long)ViewBag.ShopId, curvshopid = (long)ViewBag.VshopId;
}
<div class="container">
    @(Html.Action("VShopHeader", "vshop", new { id = curvshopid }))
    <link rel="stylesheet" href="/Content/PublicMob/css/style.css" />
    <link rel="stylesheet" href="/Areas/Admin/templates/common/style/css.css" rev="stylesheet" type="text/css">
    <link rel="stylesheet" href="/Areas/Admin/templates/common/style/mycss.css" rev="stylesheet" type="text/css">
    <link rel="stylesheet" href="/Areas/Admin/templates/common/style/main.css" rev="stylesheet" type="text/css">
    <link rel="stylesheet" href="/Areas/Admin/templates/common/style/head.css">
    <div class="members_con">
        <section class="custom-space" style="height:10px;"></section>
    </div>

    <div class="members_con">
        <section class="custom-space" style="height:10px;"></section>
    </div>

    <div class="members_con" style="margin:0 auto">

        <section class="members_flash j-swipe" id="mySwipe">
            <ul class="clearfix">


                <li>
                    <a href="" title="">


                        <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628618805175785740683.jpg" width="100%" />


                    </a>
                </li>

                <li>
                    <a href="" title="">


                        <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628618766113283326003.jpg" width="100%" />


                    </a>
                </li>

                <li>
                    <a href="" title="">


                        <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628618785253918498880.jpg" width="100%" />


                    </a>
                </li>


            </ul>
            <section class="members_flash_time">


                <span class="cur"></span>

                <span></span>

                <span></span>


            </section>
        </section>

    </div>

    <div class="members_con">
        <section class="members_nav1">
            <ul class="pic-nav">



                <li class="lisw4">
                    <span><a href="#"><img class="img-responsive" src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628596613476562934749.jpg"></a></span>
                    <a class="members_nav1_name" href="#"></a>
                </li>



                <li class="lisw4">
                    <span><a href="#"><img class="img-responsive" src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628596619433606448075.jpg"></a></span>
                    <a class="members_nav1_name" href="#"></a>
                </li>



                <li class="lisw4">
                    <span><a href="#"><img class="img-responsive" src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628596628125004190645.jpg"></a></span>
                    <a class="members_nav1_name" href="#"></a>
                </li>



                <li class="lisw4">
                    <span><a href="#"><img class="img-responsive" src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628596637304695162461.jpg"></a></span>
                    <a class="members_nav1_name" href="#"></a>
                </li>



            </ul>
        </section>
    </div>

    <div class="members_con">
        <section class="members_nav1">
            <ul class="pic-nav">



                <li class="lisw4">
                    <span><a href="#"><img class="img-responsive" src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628596649511727890940.jpg"></a></span>
                    <a class="members_nav1_name" href="#"></a>
                </li>



                <li class="lisw4">
                    <span><a href="#"><img class="img-responsive" src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628596660546883092001.jpg"></a></span>
                    <a class="members_nav1_name" href="#"></a>
                </li>



                <li class="lisw4">
                    <span><a href="#"><img class="img-responsive" src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628596672070312591234.jpg"></a></span>
                    <a class="members_nav1_name" href="#"></a>
                </li>



                <li class="lisw4">
                    <span><a href="#"><img class="img-responsive" src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628596683007812090467.jpg"></a></span>
                    <a class="members_nav1_name" href="#"></a>
                </li>



            </ul>
        </section>
    </div>

    <div class="members_con">
        <section class="members_special titlestyle0 left">
            <h2 class=" j-title">
                精选专题
            </h2>
            <!--<p class="j-subtitle">『副标题』</p>-->
            <!--
                <b>更多</b>
            -->
        </section>
    </div>

    <div class="members_con" style="margin:0 auto">

        <section class="members_imgad">
            <ul class="clearfix">


                <li style="margin-bottom:10px">
                    <a href="" title="">


                        <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628629612988282888646.jpg" width="100%" />


                    </a>
                </li>

                <li style="margin-bottom:10px">
                    <a href="" title="">


                        <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628629631152354832277.jpg" width="100%" />


                    </a>
                </li>

                <li style="margin-bottom:10px">
                    <a href="" title="">


                        <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628629553710949002916.jpg" width="100%" />


                    </a>
                </li>


            </ul>
        </section>

    </div>

    <div class="members_con">
        <section class="members_special titlestyle0 left">
            <h2 class=" j-title">
                热卖精选
            </h2>
            <!--<p class="j-subtitle">『副标题』</p>-->
            <!--
                <b>更多</b>
            -->
        </section>
    </div>

    <div class="members_con" style="margin:0 auto">

        <section class="members_imgad">
            <ul class="clearfix">


                <li style="margin-bottom:10px">
                    <a href="" title="">


                        <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628629568359389189885.jpg" width="100%" />


                    </a>
                </li>

                <li style="margin-bottom:10px">
                    <a href="" title="">


                        <img src="http://2-2.himalltest.kuaidiantong.cn/Storage/template/0/20151221/6358628629595507814174259.jpg" width="100%" />


                    </a>
                </li>


            </ul>
        </section>

    </div>
    @{Html.RenderPartial("~/Areas/Mobile/Templates/Default/Views/Shared/_4ButtonsFoot_shop.cshtml");}
</div>
<a class="WX-backtop"></a>
<script src="~/Areas/Mobile/Templates/Default/Scripts/home.js"></script>
<script src="~/Scripts/swipe-template.js"></script>
