<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <!-- MySql数据库链接-->
    <add key="ConnString" value="server=localhost;user id=himall26;password=uMDokS0n;database=himall26;Use Procedure Bodies=false;Charset=utf8;Pooling=true; Max Pool Size=1000; " />
    <!-- 每天凌晨0点执行-->
    <add key="StartTime" value="00:00" />
    <!--记录最后维护时间-->
    <add key="OperationTime" value="2015-10-18 12:12:12" />
  </appSettings>

  <connectionStrings>
    <add name="MongoDB" connectionString="mongodb://192.168.220.69:27017/Himall" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>

      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      
    <remove invariant="MySql.Data.MySqlClient" /></DbProviderFactories>
  </system.data>
</configuration>
