<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.2" targetFramework="net451" />
  <package id="Dapper.Extension" version="1.0.0.1" targetFramework="net451" />
  <package id="Dapper.Extensions.Linq" version="1.1.17" targetFramework="net451" />
  <package id="Dapper.Extensions.Linq.Core" version="1.0.8" targetFramework="net451" />
  <package id="MongoDB.Bson" version="2.3.0" targetFramework="net451" />
  <package id="MongoDB.Driver" version="2.3.0" targetFramework="net451" />
  <package id="MongoDB.Driver.Core" version="2.3.0" targetFramework="net451" />
</packages>