@model Himall.Web.Models.AgreementModel
@{
    var AgreementType = (int)Himall.Model.AgreementInfo.AgreementTypes.APP;     
}

<script src="~/Scripts/ueditor/ueditor.config.js"></script>
<script src="~/Scripts/ueditor/ueditor.all.min.js"></script>
<div class="container">

    @using (Html.BeginForm("UpdateAgreement", "Agreement", FormMethod.Post))
    {
        <div class="form-horizontal pt0">
            <div class="form-group">
                <input type="hidden" value="@AgreementType" id="hidRole" />
                <label for="" class="col-sm-2 control-label">关于我们：</label>
                <div class="col-sm-9">
                    <textarea id="des" maxlength="10000" name="AdminAgreement">@Model.AgreementContent</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="button" id="Save" class="btn btn-primary" value="保 存">
                </div>
            </div>
        </div>
    }
</div>

<script src="~/Areas/Admin/Scripts/AppAboutUs.js"></script>