<?xml version="1.0" encoding="utf-8" ?>
<OAuthRule>
  <GetCodeUrl>
    <![CDATA[https://open.weixin.qq.com/connect/qrconnect?appid={0}&redirect_uri={1}&response_type=code&scope=snsapi_login&state=himall]]></GetCodeUrl>
  <GetTokenUrl>
    <![CDATA[https://api.weixin.qq.com/sns/oauth2/access_token?appid={0}&secret={1}&code={2}&grant_type=authorization_code]]></GetTokenUrl>
  <GetUserInfoUrl><![CDATA[https://api.weixin.qq.com/sns/userinfo?access_token={0}&openid={1}]]></GetUserInfoUrl>
</OAuthRule>