<?xml version="1.0"?>
<ExpressInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>顺丰快递</Name>
  <DisplayName>顺丰快递</DisplayName>
  <Width>2170</Width>
  <Height>1390</Height>
  <BackGroundImage>express.jpg</BackGroundImage>
  <Logo>logo.png</Logo>
  <Elements>
    <ExpressPrintElement>
      <PrintElementIndex>1</PrintElementIndex>
      <LeftTopPoint>
        <X>778</X>
        <Y>792</Y>
      </LeftTopPoint>
      <RightBottomPoint>
        <X>961</X>
        <Y>849</Y>
      </RightBottomPoint>
    </ExpressPrintElement>
    <ExpressPrintElement>
      <PrintElementIndex>3</PrintElementIndex>
      <LeftTopPoint>
        <X>451</X>
        <Y>997</Y>
      </LeftTopPoint>
      <RightBottomPoint>
        <X>951</X>
        <Y>1060</Y>
      </RightBottomPoint>
    </ExpressPrintElement>
    <ExpressPrintElement>
      <PrintElementIndex>22</PrintElementIndex>
      <LeftTopPoint>
        <X>1504</X>
        <Y>306</Y>
      </LeftTopPoint>
      <RightBottomPoint>
        <X>1653</X>
        <Y>369</Y>
      </RightBottomPoint>
    </ExpressPrintElement>
  </Elements>
  <TaobaoCode>SF</TaobaoCode>
  <Kuaidi100Code>shunfeng</Kuaidi100Code>
  <KuaidiNiaoCode>SF</KuaidiNiaoCode>
</ExpressInfo>